<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'orgunittype', subpage='admin')" />

	<section>
		<div class="content-wrapper">
			<h3 th:text="#{html.page.orgunittype.list.title}" />
			<div class="panel panel-default">
				<div class="panel-heading">
					<a class="btn btn-primary btn-lg" href="#" onclick="newOrgUnitType()">
						<em class="fa fa-plus"></em>&nbsp;
						<span th:text="#{html.page.orgunittype.list.add}" />
					</a>
				</div>

				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-hover listTable">
							<thead>
								<tr th:if="${@sofdConfiguration.getIntegrations().getOpus().isEnableLosIdMatch() == true}">
									<th class="col-md-3" th:text="#{html.entity.orgunittype.key}"/>
									<th class="col-md-2" th:text="#{html.entity.orgunittype.extId}"/>
									<th class="col-md-6" th:text="#{html.entity.orgunittype.value}"/>
									<th class="col-md-1" th:text="#{html.control.operations}"/>
								</tr>
								
								<tr th:if="${@sofdConfiguration.getIntegrations().getOpus().isEnableLosIdMatch() == false}">
									<th class="col-md-3" th:text="#{html.entity.orgunittype.key}"/>
									<th class="col-md-8" th:text="#{html.entity.orgunittype.value}"/>
									<th class="col-md-1" th:text="#{html.control.operations}"/>
								</tr>								
							</thead>
							<tbody>
								<tr th:each="type : ${orgUnitTypes}">
									<td th:text="${type.key}"/>
									<td th:text="${type.extId}" th:if="${@sofdConfiguration.getIntegrations().getOpus().isEnableLosIdMatch() == true}"/>
									<td th:text="${type.value}"/>
									<td>
										<a onclick="editOrgUnitType(this);" href="#" th:attr="data-id=${type.id}, data-key=${type.key}, data-extid=${type.extId}, data-value=${type.value}">
											<em class="fa fa-fw fa-pencil" th:title="#{html.mouseover.edit}"></em>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Modal -->
<div id="orgUnitTypeModal" class="modal fade" role="dialog">
	<form class="form-horizontal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text="#{html.page.orgunittype.list.modal.title}"/>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<div class="col-sm-12">
							<input th:type="hidden" id="orgUnitTypeId" value="0" class="form-control"/>
						</div>
					</div>
					
					<div class="form-group">
						<label th:text="#{html.entity.orgunittype.key}" class="col-sm-3 control-label"/>
						<div class="col-sm-8">
							<input id="orgUnitTypeKey" class="form-control" />
						</div>
					</div>
					
					<div class="form-group" th:if="${@sofdConfiguration.getIntegrations().getOpus().isEnableLosIdMatch() == true}">
						<label th:text="#{html.entity.orgunittype.extId}" class="col-sm-3 control-label"/>
						<div class="col-sm-8">
							<input id="orgUnitTypeExtId" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<label th:text="#{html.entity.orgunittype.value}" class="col-sm-3 control-label"/>
						<div class="col-sm-8">
							<input id="orgUnitTypeValue" class="form-control" />
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<div class="col-sm-12">
						<button class="btn btn-primary" th:text="#{html.control.button.save}" onclick="submitOrgUnitType()" />
						<button class="btn btn-danger" type="button" data-dismiss="modal" th:text="#{html.action.abortChanges}" />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- End Modal -->

<nav th:replace="fragments/footer :: footer" />

<script th:replace="fragments/datatables :: datatables " />

<script th:inline="javascript">
	/*<![CDATA[*/
	var token = $("meta[name='_csrf']").attr("content");

	/*[+
		var editUrl = [[@{/rest/orgunittype/edit}]];
		var editErrorMsg = [[#{html.page.orgunittype.list.modal.edit.error}]];
	+]*/

	function editOrgUnitType(obj) {
		var id = $(obj).attr('data-id');
		var key = $(obj).attr('data-key');
		var value = $(obj).attr('data-value');
		var extId = $(obj).attr('data-extid');

		$('#orgUnitTypeId').val(id);
		$('#orgUnitTypeKey').val(key);
		$('#orgUnitTypeValue').val(value);
		$('#orgUnitTypeExtId').val(extId);
		
		$('#orgUnitTypeKey').prop('readonly', true);
		
		$('#orgUnitTypeModal').modal("show");
	}

	function newOrgUnitType() {
		$('#orgUnitTypeId').val("0");
		$('#orgUnitTypeKey').val("");
		$('#orgUnitTypeValue').val("");
		$('#orgUnitTypeExtId').val("");
		
		$('#orgUnitTypeKey').prop('readonly', false);

		$('#orgUnitTypeModal').modal("show");
	}

	function submitOrgUnitType() {
		$('#orgUnitTypeModal').modal("hide");

		var id = $('#orgUnitTypeId').val();
		var key = $('#orgUnitTypeKey').val();
		var value = $('#orgUnitTypeValue').val();
		var extId = $('#orgUnitTypeExtId').val();

		$.ajax({
			url: editUrl,
			headers: {
				'X-CSRF-TOKEN': token
			},
			type: 'post',
			contentType: 'application/json',
			data: JSON.stringify({
				'id': id,
				'key': key,
				'value': value,
				'extId': extId
			}),
			success: function( data, textStatus, jQxhr ){
				location.reload(true);
			},
			error: function( jqXhr, textStatus, errorThrown ){
				$.notify({
					message: editErrorMsg
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			}
		});
	}

	/*]]>*/
</script>
</body>
</html>