﻿<h2>Opret OPUS konto</h2>
<p>
    Opret venligt en OPUS brugerkonto til denne medarbejder
</p>

<ul>
    <li>cpr: {CPR}</li>
    <li>navn: {NAME}</li>
    <li>medarbejderId: {EMPLOYEE_ID}</li>
    <li>ønsket bruger-id: {USER_ID}</li>
    <li>email: {EMAIL}</li>
</ul>

<p>
    OBS! Husk at sætte flueben i "it-bruger" feltet når OPUS kontoen oprettes.
</p>