<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'orgunits', subpage='phonebook')" />

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.orgunits.addEmployee.headline}" />
				<div class="panel panel-default">
					<div class="panel-heading" />

					<div class="panel-body">
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th class="col-md-3" th:text="#{html.entity.person.name}" />
										<th class="col-md-5" th:text="#{html.entity.person.affiliations}" />
										<th class="col-md-3" th:text="#{html.entity.phone.phoneNumber}" />
										<th class="col-md-1" th:text="#{html.control.operations}" />
									</tr>
								</thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var searchTxt = [[#{html.datatables.search}]];
			var dropdownTxt = [[#{html.datatables.dropdown}]];
			var infoDefaultTxt = [[#{html.datatables.info.default}]];
			var infoEmptyTxt = [[#{html.datatables.info.empty}]];
			var infoFilteredTxt = [[#{html.datatables.info.filtered}]];
			var prevTxt = [[#{html.datatables.prev}]];
			var nextTxt = [[#{html.datatables.next}]];
			var msgAddFail = [[#{html.page.orgunit.addEmployee.failure}]];
			var ajaxUrl = [[@{/rest/person/list}]];
			var restUrl = [[@{/rest/orgunit/}]];
			var orgunitUuid = [[${orgUnit.uuid}]];
			var url = [[@{/ui/orgunit/affiliation/}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		var currentTable;
		function loadDataTables(showInactive) {
			currentTable = $('.listTable').DataTable({
				destroy: true,
				'ajax': {
					'contentType': 'application/json',
					'url': ajaxUrl,
					'type': 'POST',
					headers: {
						'X-CSRF-TOKEN': token,
						'show-inactive': showInactive
					},
					'data': function(d) {
					 	return JSON.stringify(d);
					}
				},
				'serverSide' : true,
				columns : [{
					data : 'name'
				}, {
					data : 'affiliation'
				}, {
					data : 'phoneNumber'
				}, {
					data : 'uuid',
					orderable: false,
					searchable: false,
					render: function (data, type, row, meta) {
							return '<a href=' + url + orgunitUuid + '/' + data + '><em class="fa fa-fw fa-plus" /></a>';;
					}
				}],
				'paging':    true,
				'ordering':  true,
				'stateSave': true,
				'info':      true,
				'pageLength': 25,
				'language': {
					"search":       searchTxt,
					"lengthMenu":   dropdownTxt,
					"info":         infoDefaultTxt,
					"zeroRecords":  infoEmptyTxt,
					"infoEmpty":    "",
					"infoFiltered": infoFilteredTxt,
					"paginate": {
						"next": nextTxt,
						"previous": prevTxt
					}
				}
			});
		}
		
		function addEmployee(uuid) {
			$.ajax({
 			   url: restUrl + orgunitUuid + "/addemployee/" + uuid,
 			   headers: {
 			      'X-CSRF-TOKEN': token
 			   },
 			   type: 'post',
 			   
 			   success: function(data, textStatus, jQxhr) {
 				 window.location=redirectUrl + orgunitUuid;
 			   },
 			   error: function(jQxhr, textStatus, errorThrown) {
 				  $.notify({
 					message: msgAddFail
 				}, {
 					status: 'danger',
 					autoHideDelay: 4000
 				});      
 			   }
 			});
		}

		$(document).ready(function() {
			loadDataTables(false);
		});
		/*]]>*/
	</script>
</body>
</html>