<div class="row col-md-12" id="sidebar">
    <h4 th:text="#{html.entity.orgunit.chosen}"/>
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.name}"/>
                <div class="col-sm-10">
                    <input th:field="${orgUnit.name}" class="form-control" disabled="disabled"/>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.manager}"/>
                <div class="col-sm-10">
                    <input th:field="${orgUnit.manager.name}" class="form-control" disabled="disabled"/>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.uuid}"/>
                <div class="col-sm-10">
                    <input th:field="${orgUnit.uuid}" class="form-control" disabled="disabled"/>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.size}"/>
                <div class="col-sm-10">
                    <input th:value="${employeeCount}" class="form-control" disabled="disabled"/>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group">
                <div class="col-sm-12">
                    <a th:href="@{/ui/orgunit/view/{id}(id=${orgUnit.uuid})}">
                        <span class="btn btn-lg btn-primary" th:text="#{html.action.view}"/>
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
</div>