<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'orgunits', subpage = 'phonebook')" />
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.entity.person.create.affiliation}" />

				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal" id="affiliation-form" th:action="@{/ui/orgunit/affiliations}" method="post" th:object="${affiliationDTO}">
									<input name="fromOrgUnitUuid" type="hidden" th:value="${fromOrgUnit.uuid}" />
									<input id="orgUnitUuid" type="hidden" th:field="*{orgUnitUuid}"/>
									<input id="realInheritPrivilegesFromOU" type="hidden" th:field="*{inheritPrivilegesFromOU}" />

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.type}"/>
										<div class="col-sm-8" style="padding-left: 35px;">
											<div class="c-radio">
												<label>
													<input th:field="*{affiliationType}" type="radio" value="EMPLOYEE" onchange="setAffiliationType(false);"/>
													<span class="fa fa-circle"/>
													<th:block th:text="#{html.page.person.new.employee}"/>
												</label>
											</div>
				
											<div class="c-radio">
												<label>
													<input th:field="*{affiliationType}" type="radio" value="EXTERNAL" onchange="setAffiliationType(true);"/>
													<span class="fa fa-circle"/>
													<th:block th:text="#{html.page.person.new.external}"/>
												</label>
											</div>
										</div>
									</div>

									<hr/>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.affiliation.orgunit.to}"/>
										<div class="col-sm-8">
											<input id="ouName" th:field="*{orgUnitName}" class="form-control" readonly="readonly"/>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.affiliation.orgunit.from}"/>
										<div class="col-sm-8">
											<input name="fromOrgUnitName" th:value="${fromOrgUnit.name}" class="form-control" readonly="readonly"/>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.affiliation.positionName}"/>
										<div class="col-sm-8">
											<select th:field="*{positionName}" class="form-control"></select>
											<ul th:if="${#fields.hasErrors('positionName')}" class="error">
												<li th:each="err : ${#fields.errors('positionName')}" th:text="${err}"/>
											</ul>
										</div>
									</div>

									<div sec:authorize="hasRole('ROLE_MODULE_ACCOUNT_CREATION')" id="inheritDiv" class="form-group" th:style="${affiliationDTO.inheritPrivilegesFromOU} == true ? '' : 'display: none;'">
										<label class="col-sm-2 control-label">
											<a tabindex="0" class="hintPopovers" data-toggle="popover" data-trigger="focus" data-placement="right" th:attr="data-content=#{html.page.person.new.hint.inherit},title=#{html.page.person.new.inherit}" style="text-decoration: none;">
												<em style="color: black;" class="fa fa-fw fa-question"></em>
											</a>
											<span th:text="#{html.page.person.new.inherit}"/>
										</label>

										<div class="col-sm-8">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" th:checked="*{inheritPrivilegesFromOU}" onchange="inheritChange(this)"/>
													<span class="fa fa-check" />
												</label>
											</div>
										</div>
									</div>

									<hr/>
									
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<p th:text="#{html.page.person.new.affiliation.notice}"></p>
											<button type="submit" style="margin-right: 5px;" class="btn btn-lg btn-primary col-xs-2"  th:text="#{html.control.button.save}"/>
											<a th:href="@{'/ui/orgunit/view/' + ${toOrgUnit.uuid} + '/addemployees'}" style="margin-right: 5px;" class="btn btn-lg btn-danger col-xs-2" th:text="#{html.control.button.cancel}"/>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer"/>
	
	<style>
		.popover {
			width: 250px;
		}
	</style>

	<script th:inline="javascript">
	/*<![CDATA[*/
	
		/*[+
			var ouRestUrl = [[@{/rest/orgunit}]];
			var ouUuid = [[${toOrgUnit.uuid}]]
			var ouName = [[${toOrgUnit.name}]]
		+]*/
		var token = $("meta[name='_csrf']").attr("content");
		
		$(document).ready(function() {
			$("#orgUnitUuid").val(ouUuid);
			$("#ouName").val(ouName);
			updatePositionDropdown(ouUuid);
		});

		String.prototype.replaceAll = function(search, replacement) {
			var target = this;
			return target.replace(new RegExp(search, 'g'), replacement);
		};

		function setAffiliationType(s) {
			if (s) {
				$("#inheritDiv").show();
			}
			else {
				$("#inheritDiv").hide();
			}
		}

		function inheritChange(s) {
			if (s.checked) {
				$('#realInheritPrivilegesFromOU').val(true);
			} else {
				$('#realInheritPrivilegesFromOU').val(false);
			}
		}

		function updatePositionDropdown(uuid) {
			$.ajax({
				method : "GET",
				url: ouRestUrl + "/" + uuid + "/getPositionNames",
				headers: {
					'X-CSRF-TOKEN': token
				},
			}).done(function(data) {
				$('#positionName').find("option").remove();
				$.each(data, function(i, val) {
					$('#positionName').append($("<option></option>")
		                    .attr("value", val)
		                    .text(val));
				});
			});
		}

		/*]]>*/
	</script>
</body>
</html>
