<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header (title=#{html.page.ous.list.title})" />
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')" />
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'orgunits', subpage='phonebook')" />

	<section>
		<div class="content-wrapper">
			<h3>
				<a class="btn btn-primary" onclick="redirectToNewOU()" sec:authorize="hasRole('ROLE_MODULE_LOS') and hasRole('ROLE_USER_LOS_ADMIN')">
					<i class="fa fa-plus" aria-hidden="true"></i> &nbsp; <span th:text="#{html.page.orgunit.tree.new}" />
				</a>
				
				<a class="btn btn-primary" th:href="@{/ui/orgunit/downloadrules}" sec:authorize="hasRole('ROLE_MODULE_ACCOUNT_CREATION') and hasRole('ROLE_USER_ADMIN')">
					<i class="fa fa-download" aria-hidden="true"></i> &nbsp; <span th:text="#{html.page.orgunit.tree.downloadrules}" />
				</a>
			</h3>

			<div class="panel panel-default">
				<div class="panel-heading" />
				<div class="panel-body">
					<div class="row col-md-6" style="padding: 0px 75px 0px 20px;">
						<th:block th:if="${@sofdConfiguration.getModules().getLos().isAltOrgsEnabled() == true}">
							<label class="control-label" th:text="#{html.entity.organisation.title}" />
							<select id='organisationDropdown' class="form-control" onchange="organisationDropdownChanged()"></select>
						</th:block>

						<th:block th:if="${#lists.size(tags) > 0}">
							<label class="control-label" th:text="#{html.entity.tag.title.filter}" style="margin-top: 10px;"/>
							<select id='tagDropdown' class="form-control" onchange="tagDropdownChanged()" >
								<option>Filtrer ikke</option>
								<option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.value}" th:data-url="${tag}"></option>
							</select>
						</th:block>
						
						<label class="control-label" th:text="#{html.action.search}" style="margin-top: 10px;" />
						<input class="form-control" id='orgUnitTreeSearchField' autofocus="autofocus" style="margin-bottom: 40px;" />
						
						<div id="ouWrapper">
							<div th:id='orgUnitTreeHierarchy'></div>
						</div>
					</div>
					<div class="row col-md-6" id="sidebar">
						<div class="row col-md-12">
							<h4 th:text="#{html.entity.orgunit.chosen}"/>
							<form class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.name}"/>
										<div class="col-sm-10">
											<input class="form-control" disabled="disabled"/>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.manager}"/>
										<div class="col-sm-10">
											<input class="form-control" disabled="disabled"/>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.uuid}"/>
										<div class="col-sm-10">
											<input class="form-control" disabled="disabled"/>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.size}"/>
										<div class="col-sm-10">
											<input class="form-control" disabled="disabled"/>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<div class="col-sm-12">
											<a id="ouViewLink" href="#">
												<span class="btn btn-lg btn-primary" th:text="#{html.action.view}"/>
											</a>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<style>
div .affix {
	position: fixed;
	right: 0;
	padding-left: 50px;
	margin-left: -15px;
	margin-right: -15px;
	padding-right: 50px;
	top: 100px;
}

.jstree-disabled{
	color: #D3D3D3 !important;
}
</style>

<nav th:replace="fragments/footer :: footer" />

<script th:inline="javascript">
		/*<![CDATA[*/
		/*[+
		    var url = [[@{/ui/orgunit}]];
		    var restUrl = [[@{/rest/orgunit}]];
		    var msgParentOrganisationFetchFailed = [[#{html.page.organisation.error.failure}]];
            var orgRestURL = [[@{/rest/organisation}]];
            var ouRestURL = [[@{/rest/orgunit}]];
            var tagsmap = [[${tagsmap}]];
            var orgUnits;
		+]*/
		
		var token = $("meta[name='_csrf']").attr("content");
		
		$(document).ready(function() {
			$("#sidebar").affix({
				offset: {
					top: 100
				}
			});
			
			initOrganisationDropdown();
			
			$("#orgUnitTreeHierarchy").on("select_node.jstree", function(e, data) {
				$( "#sidebar" ).load( url + "/description/" + data.node.id );
			});
		});

		// polyfill for IE
		if (!String.prototype.startsWith) {
			String.prototype.startsWith = function(searchString, position) {
				position = position || 0;
				return this.substr(position, searchString.length) === searchString;
			};
		}

		function redirectToNewOU() {
			var organisationID = $('#OUorganisationDropdown').children("option:selected").val();
			if (organisationID === undefined) {
				organisationID = 0;
			}

			window.location.href = url + "/new/" + organisationID;
		}

        function initOrganisationDropdown() {
            // Fetch orgList
            $.ajax({
                contentType: 'application/json',
                url: orgRestURL + '/get-orgs',
                method : "GET",
                headers: {
                    'X-CSRF-TOKEN': token
                },
                error: function(response) {
                    $.notify({
                        message: msgParentOrganisationFetchFailed
                    }, {
                        status: 'danger',
                        autoHideDelay: 4000
                    });
                },
                success: function(response) {
                    //Initialise dropdown
                    $('#organisationDropdown').empty();

                    for (i = 0; i < response.length; i++) {
                        $('#organisationDropdown').append(
                            '<option data-short-name="' + response[i].shortName + '"  value="' + response[i].id + '">' + response[i].name + '</option>');
                    }

                    $("#organisationDropdown option[data-short-name='ADMORG']").prop('selected', true);
                    

                    organisationDropdownChanged();
                }
            });
        }

        function organisationDropdownChanged() {
            // Get Org Id
            var orgId = $('#organisationDropdown').children("option:selected").val();
			if (orgId === undefined) {
				orgId = 0;
			}
			
            // Get OrgUnits by Id
            $.ajax({
                contentType: 'application/json',
                url: ouRestURL + '/get-by-org/' + orgId,
                method : "GET",
                headers: {
                    'X-CSRF-TOKEN': token
                },
                error: function(response) {
                    $.notify({
                        message: msgParentOrganisationFetchFailed
                    }, {
                        status: 'danger',
                        autoHideDelay: 4000
                    });
                },
                success: function(response) {
                    initOrgUnitTree(response);
                    orgUnits=response
                }
            });
        }
        
        function tagDropdownChanged() {
        	var selected =  $("#tagDropdown").val();
        	
        	if (selected != "Filtrer ikke") {
        		var ous = tagsmap[selected]

        		if (ous != null){
        			$("#orgUnitTreeHierarchy").jstree(true).deselect_all();
        			
        			orgUnits.forEach(function(entry){
            			$('#orgUnitTreeHierarchy').jstree(true).disable_node(entry);
            		});
        			
        			ous.forEach(function(entry){
            			$("#orgUnitTreeHierarchy").jstree(true).enable_node(entry);
            		});        		
        		}
        		else {
        			orgUnits.forEach(function(entry){
            			$('#orgUnitTreeHierarchy').jstree(true).disable_node(entry);
            		});
        		}
        	}
        	else {
        		orgUnits.forEach(function(entry){
        			$('#orgUnitTreeHierarchy').jstree(true).enable_node(entry);
        		});
        	}
        }
        
        // IE 11 polyfill for string.includes()
		if (!String.prototype.includes) {
		    String.prototype.includes = function() {
		        'use strict';
		        return String.prototype.indexOf.apply(this, arguments) !== -1;
		    };
		}

        function initOrgUnitTree(orgUnits) {
            $('#orgUnitTreeHierarchy').jstree('destroy');

            var config = {
                "core": {
                    "data": orgUnits,
                    "themes": {
                        "icons": false
                    }
                },
                "search" : {
                    "show_only_matches": true,
                    "search_callback": function(str, node) {
                        return (node.text.toUpperCase().includes(str.toUpperCase()));
                    }
                },
                "plugins" : [
                    "wholerow", "search"
                ]
            };
            
            config.plugins.push("state");
            
            // Init OrgUnitTree
			$('#orgUnitTreeHierarchy').jstree(config);

            // searching in the JSTree
            var to = false;
            $('#orgUnitTreeSearchField').keyup(function() {
                if (to) {
                    clearTimeout(to);
                }

                to = setTimeout(function() {
                    var v = $('#orgUnitTreeSearchField').val();

                    $('#orgUnitTreeHierarchy').jstree(true).search(v);
                }, 400);
            });
            
            $('#orgUnitTreeHierarchy').on('close_node.jstree', function(e, data) {
            	if (data.node.parent == '#') {
            		$('#orgUnitTreeHierarchy').jstree("close_all");
            	}
            });
        }

		/*]]>*/
	</script>
</body>
</html>
