<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'orgunits', subpage='phonebook')" />

		<section>
			<div class="content-wrapper">
				<h3>
					<a th:href="@{/ui/orgunit}" class="btn btn-default">
						<span>
							<i class="fa fa-arrow-left"></i>
						</span>
					</a>
					<span th:text="#{html.page.orgunit.view.title}"/>

					<div sec:authorize="hasRole('ROLE_USER_EDIT')" id="buttonsMenu" style="position: absolute; right: 0; top: 0; margin-top:10px; margin-right: 20px;"></div>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div id="core" class="row"></div>

						<th:block th:if="${session.SESSION_FUTURE_DATE} == null">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#employees_menu" th:text="#{html.page.orgunit.list.employees}"></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#post_menu" th:text="#{html.page.orgunit.view.post.title}"></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#phone_menu" th:text="#{html.page.orgunit.view.phone.title}"></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#contactInfo_menu" th:text="#{html.page.orgunit.view.contactchannels.title}"></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#kle_menu" th:text="#{html.page.orgunit.view.kle.title}"></a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_USER_LOS_ADMIN')">
                                    <a data-toggle="tab" href="#ouFutureChanges" th:text="#{html.page.person.view.future.changes}"></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tags_menu" th:text="#{html.page.orgunit.view.tags.title}" th:if="${#lists.size(tags) > 0}"></a>
                                </li>

                                <li sec:authorize="hasRole('ROLE_MODULE_ACCOUNT_CREATION')">
                                    <a data-toggle="tab" href="#order_accounts_menu" th:text="#{html.page.orgunit.view.orderaccounts.title}"></a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="employees_menu" class="tab-pane fade in active">
                                    <div class="btn-group">
                                      <button type="button" style="width: auto !important;" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                                        <em class="fa fa-fw fa-cog"></em>
                                      </button>

                                      <ul class="dropdown-menu" role="menu" id="dataTableUserDropdown">
                                        <li><a href="#" data-cid="0" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.person.name}" /></a></li>
                                        <li><a href="#" data-cid="1" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.page.orgunit.view.employee.position}" /></a></li>
                                        <li><a href="#" data-cid="2" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.affiliation.startDate}" /></a></li>
                                        <li><a href="#" data-cid="3" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.affiliation.stopDate}" /></a></li>
                                        <li><a href="#" data-cid="4" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.page.orgunit.view.employee.accounts}" /></a></li>
                                      </ul>
                                    </div>
                                    
                                    <div class="btn-group" sec:authorize="hasRole('ROLE_USER_EDIT')">
							  			<button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" style="width: 200px;">
								  			<span>
												<em class="fa fa-fw fa-plus"></em>&nbsp;
												<span th:text="#{html.eniti.orgunit.emplyee.add}"></span>&nbsp;
												<em class="fa fa-fw fa-caret-down"></em>
								  			</span>
							  			</button>
							  			<ul class="dropdown-menu">
							    			<li><a th:href="@{'/ui/orgunit/view/' + ${orgUnit.uuid} + '/addemployee'}" th:text="#{html.entity.orgunit.employee.addOne}"/></li>
							    			<li><a th:href="@{'/ui/orgunit/view/' + ${orgUnit.uuid} + '/addemployees'}" th:text="#{html.entity.orgunit.employee.addAllFromOther}"/></li>
							  			</ul>
									</div>
									
									<div class="btn-group">
									  <a class="btn btn-primary" th:href="@{/ui/orgunit/view/download/employees/{uuid}(uuid=${orgUnit.uuid})}" style="padding: 9px;">
										<i class="fa fa-download" aria-hidden="true"></i> &nbsp; <span th:text="#{html.page.orgunit.view.employees.download}"></span>
									  </a>
									</div>

                                    <table id="listTable1" class="table table-striped table-hover listTable">
                                        <thead>
                                            <th th:text="#{html.entity.person.name}" />
                                            <th th:text="#{html.page.orgunit.view.employee.position}"/>
                                            <th th:text="#{html.entity.affiliation.startDate}" />
                                            <th th:text="#{html.entity.affiliation.stopDate}" />
                                            <th th:text="#{html.page.orgunit.view.employee.accounts}"/>
                                            <th th:text="#{html.control.operations}" />
                                        </thead>

                                        <tbody>
                                            <tr th:each="employee : ${employees}">
                                                <td>
                                                    <span th:text="${employee.name}"></span>
                                                    <th:block th:if="${employee.leave == true}">
                                                    	&nbsp;
                                                    	<span class="badge badge-warning" th:text="#{html.entity.person.leave}" />
                                                    </th:block>
                                                    <th:block th:if="${employee.forceStop == true}">
                                                    	&nbsp;
                                                    	<span class="badge badge-alert" th:text="#{html.entity.person.forceStop}" />
                                                    </th:block>
                                                    <th:block th:if="${employee.disableAccountOrders == true}">
                                                    	&nbsp;
                                                    	<span class="badge badge-warning" th:text="#{html.entity.person.disableAccountOrders}" />
                                                    </th:block>
                                                </td>
                                                <td th:text="${employee.positionName}"/>
                                                <td th:text="${employee.startDate}"/>
                                                <td th:text="${employee.stopDate}"/>
                                                <td>
                                                    <ul style="list-style-type: none; padding-left: 0px; margin-bottom: 0px;">
                                                        <li th:each="account : ${employee.accounts}">
                                                        	<span th:text="${account.getFirst()}"></span>
                                                        	<span th:if="${account.getSecond() == true}" class="badge badge-alert" th:text="#{html.entity.user.disabled}" />
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <a th:href="@{/ui/person/view/{id}(id=${employee.uuid})}">
                                                        <em class="fa fa-search"/>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div id="kle_menu" class="tab-pane fade">
	                                <div sec:authorize="hasRole('ROLE_USER_EDIT')" style="padding-bottom: 80px;">
										<div class="col-sm-1" style="width: 40px !important;">
											<div class="checkbox c-checkbox">
												<label>
													<input class="checkboxaction" id="isInherit" type="checkbox" onchange="setInheritKLE()"/>
													<span class="fa fa-check" />
												</label>
											</div>
										</div>
	                                	<label class="col-sm-11" style="padding-top: 9px;" th:text="#{html.entity.kle.inherit}" />
									</div>

                                    <ul class="nav nav-tabs">
		                                <li class="active">
		                                    <a data-toggle="tab" href="#kle_performing_menu" th:text="#{html.page.person.view.kleperform}"></a>
		                                </li>
		                                <li>
		                                    <a data-toggle="tab" href="#kle_interest_menu" th:text="#{html.page.person.view.kleinterest}"></a>
		                                </li>
		                                <li>
		                                    <a data-toggle="tab" href="#kle_tertiary_menu" th:text="#{html.page.orgunit.view.kletertiary}"></a>
		                                </li>
		                            </ul>

		                            <div class="tab-content">
			                            <div id="kle_performing_menu" class="tab-pane fade in active">
		                                    <a sec:authorize="hasRole('ROLE_USER_EDIT')" onclick="editKLE('KlePrimary')" class="btn btn-lg btn-primary" style="margin-left:15px;"><i class="fa fa-fw fa-pencil" aria-hidden="true"></i></a>

		                                    <div class="content" />
	                               		</div>
	
	                                	<div id="kle_interest_menu" class="tab-pane fade">
	                                    	<a sec:authorize="hasRole('ROLE_USER_EDIT')" onclick="editKLE('KleSecondary')" class="btn btn-lg btn-primary" style="margin-left:15px;"><i class="fa fa-fw fa-pencil" aria-hidden="true"></i></a>

	                                    	<div class="content" />
	                                	</div>

	                                	<div id="kle_tertiary_menu" class="tab-pane fade">
	                                    	<a sec:authorize="hasRole('ROLE_USER_EDIT')" onclick="editKLE('KleTertiary')" class="btn btn-lg btn-primary" style="margin-left:15px;"><i class="fa fa-fw fa-pencil" aria-hidden="true"></i></a>

	                                    	<div class="content" />
	                                	</div>
	                                </div>
                                </div>

                                <div id="post_menu" class="tab-pane fade">
                                    <div th:replace="orgunit/fragments/viewPostsTab :: postsTab (postAddresses = ${orgUnit.postAddresses})" />
                                </div>

                                <div id="phone_menu" class="tab-pane fade">
                                    <div th:replace="fragments/phoneTab :: phoneTab" />
                                </div>

                                <div id="contactInfo_menu" class="tab-pane fade">
                                    <div th:replace="orgunit/fragments/viewContactInfoTab :: contactInfoTab (openingHours = ${orgUnit.openingHours}, keyWords = ${orgUnit.keyWords}, notes = ${orgUnit.notes})" />
                                </div>
                                <div id="ouFutureChanges" class="tab-pane fade">
                                    <th:block th:replace="fragments/ouFutureChangesList :: ouFutureChangesList (changes = ${futureChanges})" />
                                </div>

                                <div id="tags_menu" class="tab-pane fade" th:if="${#lists.size(tags) > 0}">
                                    <th:block th:replace="orgunit/fragments/tags :: tags" />
                                </div>

                                <div id="order_accounts_menu" class="tab-pane fade">
                                    <div th:replace="orgunit/fragments/viewAccountOrdersTab :: accountOrdersTab (orgUnitAccountOrder = ${orgUnitAccountOrder})" />
                                </div>
                            </div>
						</th:block>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- Edit phone modal -->
	<div th:replace="fragments/phoneTab :: phoneModal" />
	<div id="phone_prime_modal">
		<div th:replace="fragments/phoneTab :: phonePrimeModal" />
	</div>

	<!-- Copy rules modal -->
	<div sec:authorize="hasRole('ROLE_USER_ADMIN') and hasRole('ROLE_MODULE_ACCOUNT_CREATION')" th:replace="orgunit/fragments/viewAccountOrdersTab :: copyModal" />

	<!-- Edit post modal -->
	<div th:replace="orgunit/fragments/viewPostsTab :: postModal" />

	<!-- Tags modal -->
	<div th:replace="orgunit/fragments/tags :: tagModal" />

	<!-- Delete future changes modal -->
	<th:block th:replace="fragments/ouFutureChangesList :: ouFutureChangesModal" />

	<nav th:replace="fragments/footer :: footer" />

	<script id="datatablesScript" th:replace="fragments/datatables :: datatables(paging=false, autoLoad=false)" />
	<script th:replace="fragments/phoneTab :: phoneScript" />
	<script th:replace="orgunit/fragments/tags :: tagsScript" />
	<script sec:authorize="hasRole('ROLE_USER_ADMIN') and hasRole('ROLE_MODULE_ACCOUNT_CREATION')" th:replace="orgunit/fragments/viewAccountOrdersTab :: viewAccountOrdersScript" />
	<script th:replace="orgunit/fragments/orgunit_tree :: orgUnitTreeScript(configObj='ouJSTreeAccountOrderCopyConfig')"/>
	<script th:replace="orgunit/fragments/viewPostsTab :: viewPostsTabScript" />

	<th:block th:replace="fragments/ouFutureChangesList :: ouFutureChangesScript" />

	<style>
	.row {
		margin-bottom: 5px;
	}
	.control-label {
		margin-top: 5px;
		text-align: right;
	}
	</style>

	<script th:inline="javascript">
		/*<![CDATA[*/
		/*[+
			var url = [[@{/ui/orgunit}]];
			var restUrl = [[@{/rest/orgunit}]];
			var uuid = [[${orgUnit.uuid}]];
			var inherit = [[${orgUnit.inheritKle}]];
			var phones =  [[${orgUnit.phones}]];

			var entityType = [[${entityType}]];

			var orgUnitMaster = [[${orgUnit.master}]];
			var allKles = [[${allKles}]];

			var allTags = [[${allTags}]];
			
			var fieldUpdatedMsg = [[#{html.page.orgunit.edit.kle.update.success}]];
			var fieldNotUpdatedMsg = [[#{html.page.orgunit.edit.kle.update.failure}]];
			
			var inheritUpdatedMsg = [[#{html.page.orgunit.edit.kle.inherit.update.success}]];
			var inheritNotUpdatedMsg = [[#{html.page.orgunit.edit.kle.inherit.update.failure}]];
			
			var msgUpdateFail = [[#{html.page.orgunit.update.failure}]];
			var msgFieldUpdated = [[#{html.page.orgunit.update.success}]];

			var tooltipTxt = [[#{html.entity.person.master}]];
			
			var confirmRulesTitleTxt = [[#{html.page.orgunit.edit.rules.title}]]
			var yesButtonTxt = [[#{html.button.yes}]];
			var noButtonTxt = [[#{html.button.no}]];

			var orgId = [[${orgUnit.belongsTo.id}]];
		+]*/
		var token = $("meta[name='_csrf']").attr("content");
		
		// polyfill for IE
		if (!String.prototype.startsWith) {
			String.prototype.startsWith = function(searchString, position) {
				position = position || 0;
				return this.substr(position, searchString.length) === searchString;
			};
		}

		$("document").ready(function() {
			loadViewCoreFragment();
			$("#kle_performing_menu .content").load(url + "/viewKLE/" + uuid + "/KlePrimary");
			$("#kle_interest_menu .content").load(url + "/viewKLE/" + uuid + "/KleSecondary");
			$("#kle_tertiary_menu .content").load(url + "/viewKLE/" + uuid + "/KleTertiary");
			
			$("#isInherit").prop('checked',inherit);
			
			addTooltips('masterTooltip', orgUnitMaster);

			// on active click/show of tab, initalize
			$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
				var id = $(e.target).attr("href");
				localStorage.setItem(uuid, id);

				var tab = $($(this).attr("href"));
				loadDataTableWithState(tab.find("table"), "orgUnitTab" + id, [], tab.find(".dropdown-menu"));
			});

			// restore active tab on page load
			var selectedTab = localStorage.getItem(uuid);
			if (selectedTab != null) {
				$('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
			}

			// default to employee tab
			if (selectedTab == null) {
				selectedTab = "#employees_menu";
			}

			// make sure DataTables is loaded on first tab (no event is triggered on initial load)
			var tab = $($('a[data-toggle="tab"][href="' + selectedTab + '"]').attr("href"));
			loadDataTableWithState(tab.find("table"), ("orgUnitTab" + selectedTab), [], tab.find(".dropdown-menu"));
		});

		function addTooltips(id, master) {
			$('.' + id).tooltip({title: tooltipTxt + ": " + master});
		}

		//Phone tab
		function toggleModal(id) {
			$('#' + id).modal("toggle");
		}
		
		//Core view/edit
		
		function loadEditCoreFragment() {
			$("#core").load(url + "/core/" + uuid + "/edit");
		}

		function loadViewCoreFragment() {
			$('#core').load(url + "/core/" + uuid + "/view");
		}

		function saveCoreChanges() {
			var name = $("#name").val();
			$.ajax({
				url: restUrl + "/check?name=" + name,
				method : "GET",
				headers: {
					'X-CSRF-TOKEN': token
				},
				error: function(response) {
					$.notify({
						message: msgFail
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {
					if (!response) {
						ajaxSave();
					}else{
						swal({
							title: "Navnedublikering",
							text : "Der findes allerede en enhed med navnet " + name + " i SOFD Core. Er du sikker på du vil gemme?",
							type : "warning",
							showCancelButton : true,
							confirmButtonColor : "#DD6B55",
							confirmButtonText : "Ja",
							cancelButtonText : "Nej",
							closeOnConfirm : true,
							closeOnCancel : true
						},
						function(isConfirm) {
							if(isConfirm) {
								ajaxSave();
							}
						});
					}
				}
			});
		}
		
		function ajaxSave() {
			var fields = $('#core input[id]');
			var data = {};
			fields.map(function(index, value) {
				data[value.id] = value.value;
			});
			
			// deal with root in a sane way
			if (data.parent == '') {
				data.parent = null;
			}
			
			// don't allow non-integer values for these			
			data.senr = parseInt(data.senr);
			data.pnr = parseInt(data.pnr);
			data.cvr = parseInt(data.cvr);
			data.ean = parseInt(data.ean);
			
			// deal with type
			data.orgUnitType = $("#orgUnitType").val();

			$('.validationMessage').hide();

			$.ajax({
				contentType: 'application/json',
				url: restUrl + "/" + uuid + "/update/coreInfo",
				method : "POST",
				data: JSON.stringify(data),
				headers: {
					'X-CSRF-TOKEN': token
				},
				error: function(response) {
					setValidationMessages(response.responseJSON);
					
					$.notify({
						message: msgUpdateFail
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {
					$.notify({
						message: msgFieldUpdated
					}, {
						status: 'success',
						autoHideDelay: 2000
					});

					loadViewCoreFragment();
				}
			});
		}
		
		function setValidationMessages(errors) {
			for (var i = 0; i < errors.length; i++) {
				$('#' + errors[i].field + "-validationMessage").show();
				$('#' + errors[i].field + "-validationMessage").text(errors[i].defaultMessage);
			}
		}

		// Account Order Tab

		function loadEditAccountOrderTab() {
			$("#order_accounts_menu").load(url + "/orderAccounts/" + uuid + "/edit");
		}

		function loadViewAccountOrderTab() {
			$('#order_accounts_menu').load(url + "/orderAccounts/" + uuid + "/view");
		}
		
		function saveAccountOrder() {
			var payload = { "orgunitUuid": uuid, "types": [] };

			$('#accountOrderTable').find("> tbody > tr").each(function() {
				var row = $(this);
				var usertype = row.data('usertype');
				
				var payloadElem = { "userType": usertype, "rule": "", "positions": [] };

				// each() only returns one element, everything is okay ;)
				row.find("> td > select").each(function() {
					payloadElem.rule = $(this).val();
				});

				$('#positionRules-' + usertype).find("> table > tbody > tr").each(function() {
					$(this).find("> td > select").each(function() {
						var positionname = $(this).data('positionname');
						var rule = $(this).val();
						
						var positionRuleElem = { "positionName": positionname, "rule": rule };
						
						payloadElem.positions.push(positionRuleElem);
					});
				});

				payload.types.push(payloadElem);
			});
			
			$.ajax({
				method : "POST",
				url: restUrl + "/" + uuid + "/update/accountOrderRules/try",
				headers: {
					'X-CSRF-TOKEN': token
				},
				data: JSON.stringify(payload),
				dataType: "json",
				contentType: "application/json; charset=utf-8"
			}).done(function (data) {
				var keys = 0;
				var alertMsg = '<ul style="list-style: none; padding-left: 0px;">';
				for (var key in data.result) {
					keys++;
					
					alertMsg += '<li>' + data.result[key] + ' ' + key + '</li>';
				}
				alertMsg += "</ul>";
				
				if (keys > 0) {
					swal({
						html : true,
						title : confirmRulesTitleTxt,
						text : alertMsg,
						type : "warning",
						showCancelButton : true,
						confirmButtonColor : "#DD6B55",
						confirmButtonText : yesButtonTxt,
						cancelButtonText : noButtonTxt,
						closeOnConfirm : true,
						closeOnCancel : true
					},
					function(isConfirm) {
						if (isConfirm) {
							saveRules(payload);
						}
						else {
							location.reload(true);
						}
					});
				}
				else {
					saveRules(payload);
				}
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgUpdateFail
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}
		
		function saveRules(payload) {
			$.ajax({
				method : "POST",
				url: restUrl + "/" + uuid + "/update/accountOrderRules",
				headers: {
					'X-CSRF-TOKEN': token
				},
				data: JSON.stringify(payload),
				dataType: "json",
				contentType: "application/json; charset=utf-8"
			}).done(function (data) {
				$.notify({
					message: msgFieldUpdated
				}, {
					status: 'success',
					autoHideDelay: 2000
				});

				loadViewAccountOrderTab();
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgUpdateFail
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}

		//Contact Info Tab

		function loadEditContactInfoTab() {
			$("#contactInfo_menu").load(url + "/contactInfo/" + uuid + "/edit");
		}

		function loadViewContactInfoTab() {
			$('#contactInfo_menu').load(url + "/contactInfo/" + uuid + "/view");
		}
		
		function saveContactInfo() {
			var openinghours = $('#openinghours').val();
			var keywords = $('#keywords').val();
			var notes = $('#notes').val();

			$.ajax({
				method : "POST",
				url: restUrl + "/update/contactinfo",
				headers: {
					"uuid": uuid,
					'X-CSRF-TOKEN': token
				},
				data: JSON.stringify({ 
					openingHours: openinghours,
					keywords: keywords,
					notes: notes
				}),
				dataType: "json",
				contentType: "application/json; charset=utf-8"
			}).done(function (data) {
				$.notify({
					message: msgFieldUpdated
				}, {
					status: 'success',
					autoHideDelay: 2000
				});
				loadViewContactInfoTab();
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgUpdateFail
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}


		//KLE Tab
		
		function setInheritKLE(){
			$.ajax({
				contentType: 'application/json',
				url: restUrl + "/update/kle/inherit",
				method : "POST",
				headers: {
					"uuid": uuid,
					'X-CSRF-TOKEN': token,
					"inherit": $('#isInherit').prop('checked')
				},
				error: function(response) {
					$.notify({
						message: inheritNotUpdatedMsg
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {
					$.notify({
						message: inheritUpdatedMsg
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				}
			});
		}

		function editKLE(type){
			if(type == "KlePrimary"){
				$("#kle_performing_menu a").hide();
				$("#kle_performing_menu .content").load(url + "/editKLE/" + uuid + "/KlePrimary");
			}
			if(type == "KleSecondary"){
				$("#kle_interest_menu a").hide();
				$("#kle_interest_menu .content").load(url + "/editKLE/" + uuid + "/KleSecondary");
			}
			if(type == "KleTertiary"){
				$("#kle_tertiary_menu a").hide();
				$("#kle_tertiary_menu .content").load(url + "/editKLE/" + uuid + "/KleTertiary");
			}
		}
		
		function saveChanges(id) {
			var codes = $('#' + id).jstree('get_top_selected')
			$.ajax({
				contentType: 'application/json',
				url: restUrl + "/update/kle",
				method : "POST",
				headers: {
					"uuid": uuid,
					"type": id,
					'X-CSRF-TOKEN': token
				},
				data: JSON.stringify(codes),
				error: function(response) {
					$.notify({
						message: fieldNotUpdatedMsg
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {
					$.notify({
						message: fieldUpdatedMsg
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
					$('#' + id).parent().parent().find("a").show();
					$('#' + id).parent().parent().find(".content").load(url + "/viewKLE/" + uuid + "/"+ id);
				}
			});
		}

		function abortChanges(id) {
			$('#' + id).parent().parent().find("a").show();
			$('#' + id).parent().parent().find(".content").load(url + "/viewKLE/" + uuid + "/"+ id);
		}

		var ouJSTreeSelectParentConfig = {
			namespace: 'parent',
			refreshCallback: null,
			staticOrg: orgId
		};

		var ouJSTreeAccountOrderCopyConfig = {
			namespace: 'accountOrderCopy',
			refreshCallback: function () {
				$("#accountOrderCopyorgUnitTreeHierarchy").on("select_node.jstree", function(e, data) {
					selectedOU = data.node;
				});
			},
			staticOrg: orgId,
			enableCheckboxes: true,
			disableState: true
		};

		/*]]>*/
	</script>
</body>
</html>