<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'sofdaccounts', subpage='admin')" />

	<section>
		<div class="content-wrapper">
			<h3 th:text="#{html.page.sofdaccount.list.title}" />
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" th:action="@{/ui/sofdaccounts/edit/} + ${account.id}" method="post" th:object="${account}">
						<div class="form-group">
							<label th:text="#{html.entity.sofdaccount.password}" class="col-sm-3 control-label"/>
							<div class="col-sm-8">
								<input th:field="*{password}" class="form-control" type="password" autofocus="autofocus" />
								<ul th:if="${#fields.hasErrors('password')}" class="error">
									<li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
								</ul>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-8">
								<button type="submit" class="btn btn-primary btn-block" th:text="#{html.button.edit}"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>

<nav th:replace="fragments/footer :: footer" />

</body>
</html>