<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'sofdaccounts', subpage='admin')" />

	<section>
		<div class="content-wrapper">
			<h3 th:text="#{html.page.sofdaccount.list.title}" />
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" th:action="@{/ui/sofdaccounts/new}" method="post" th:object="${account}">
						<div class="form-group">
							<label th:text="#{html.entity.sofdaccount.person}" class="col-sm-3 control-label"/>
							<div class="col-sm-8">
								<input id="sofdAccountPerson" class="form-control" autofocus="autofocus" />
								<input th:field="*{personUUID}" type="hidden" />
								<ul th:if="${#fields.hasErrors('personUUID')}" class="error">
									<li th:each="err : ${#fields.errors('personUUID')}" th:text="${err}"/>
								</ul>
							</div>
						</div>

						<div class="form-group">
							<label th:text="#{html.entity.sofdaccount.userId}" class="col-sm-3 control-label"/>
							<div class="col-sm-8">
								<input th:field="*{userId}" class="form-control" />
								<ul th:if="${#fields.hasErrors('userId')}" class="error">
									<li th:each="err : ${#fields.errors('userId')}" th:text="${err}"/>
								</ul>
							</div>
						</div>
	
						<div class="form-group">
							<label th:text="#{html.entity.sofdaccount.password}" class="col-sm-3 control-label"/>
							<div class="col-sm-8">
								<input th:field="*{password}" class="form-control" type="password"/>
								<ul th:if="${#fields.hasErrors('password')}" class="error">
									<li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
								</ul>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-8">
								<button type="submit" class="btn btn-primary btn-block" th:text="#{html.button.create}"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>

<style>
	.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; width: 500px !important; }
	.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
	.autocomplete-selected { background: #F0F0F0; }
	.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
	.autocomplete-group { padding: 2px 5px; }
	.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
</style>

<nav th:replace="fragments/footer :: footer" />

<script th:inline="javascript">
	/*<![CDATA[*/

	/*[+
		var restUrl = [[@{/rest/sofdAccount}]];
	+]*/

	$("document").ready(function() {
		$('#sofdAccountPerson').autocomplete({
			serviceUrl: restUrl + "/search/person",
			onSelect: function(suggestion) {
				// strip markup
				var textValue = suggestion.value;
				var idx = textValue.indexOf("-XXXX");
				if (idx > 0) {
					textValue = textValue.substr(0, idx);

					idx = textValue.lastIndexOf("-");
					if (idx > 0) {
						textValue = textValue.substr(0, idx - 1);
					}
				}
				
				$("#personUUID").val(suggestion.data);
				
				$(this).val(textValue);
			},
			preventBadQueries: true,
			triggerSelectOnValidInput: false
		});
	});

	/*]]>*/
</script>
</body>
</html>