<th:block th:fragment="orgUnitsCoreView" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="col-lg-6">
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.name}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.name}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.parent}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.parent != null ? orgUnit.parent.name : ''}" class="form-control" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.shortname}"/>
				<div class="col-sm-9">
					<input th:value="${orgUnit.shortname}" class="form-control masterTooltip" readonly="readonly"/>
				</div>
			</div>
		</fieldset>
	
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.manager}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.manager != null ? orgUnit.manager.name : ''}" class="form-control" readonly="readonly"/>
				</div>
			</div>			
		</fieldset>
	
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.orgtype}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.type != null ? orgUnit.type.value : ''}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
		</fieldset>
	</div>
	
	<div class="col-lg-6">
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.ean}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.ean}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.cvr}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.cvr}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.senr}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.senr}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.pnr}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.pnr}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.costbearer}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.costBearer}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
		</fieldset>
	
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.created}" />
				<div class="col-sm-9">
					<input th:value="${#dates.format(orgUnit.created, 'yyyy-MM-dd  HH:mm')}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.lastchanged}" />
				<div class="col-sm-9">
					<input th:value="${#dates.format(orgUnit.lastChanged, 'yyyy-MM-dd  HH:mm')}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
		</fieldset>
	</div>
	
	<div class="hidden">
		<button id="editButton" class="btn btn-lg btn-primary" style="width:auto" onclick="loadEditCoreFragment()">
			<em class="fa fa-pencil" aria-hidden="true"></em>&nbsp;
			<span th:text="#{html.button.edit}" />
		</button>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#buttonsMenu button').remove();
			$('#buttonsMenu').append($('#editButton'));
			
			addTooltips('masterTooltip', orgUnitMaster);
		});
	</script>
</th:block>