<th:block th:fragment="orgUnitsCoreEdit" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="col-lg-6">
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.name}" />
				<div class="col-sm-9">
					<input th:if="${canEditAll == true}" th:field="${orgUnit.name}" class="form-control masterTooltip" />
					<input th:if="${canEditAll == false}" th:field="${orgUnit.name}" class="form-control masterTooltip" th:readonly="readonly" />
					<span class="validationMessage" id="name-validationMessage" style="color: red; display: none;"></span>
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.parent}" />
				<div class="col-sm-9">
					<div class="row">
						<th:block th:if="${canEditAll == true}">
							<div class="col-sm-9">
								<input id="parentName" th:value="${orgUnit.parent != null ? orgUnit.parent.name : ''}" class="form-control" readonly="readonly" />
								<input type="hidden" id="parent" th:value="${orgUnit.parent != null ? orgUnit.parent.uuid : ''}" />
							</div>
							<div class="col-sm-3">
								<button class="btn btn-primary btn-block" onclick="openChooseParentModal()" th:text="#{html.page.orgunit.new.chooseParent}"/>
							</div>
						</th:block>
						<th:block th:if="${canEditAll == false}">
							<div class="col-sm-12">
								<input id="parentName" th:value="${orgUnit.parent != null ? orgUnit.parent.name : ''}" class="form-control" readonly="readonly" />
								<input type="hidden" id="parent" th:value="${orgUnit.parent != null ? orgUnit.parent.uuid : ''}" />
							</div>
						</th:block>
					</div>
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.shortname}"/>
				<div class="col-sm-9">
					<input th:if="${canEditAll == true}" th:field="${orgUnit.shortname}" class="form-control masterTooltip" />
					<input th:if="${canEditAll == false}" th:field="${orgUnit.shortname}" class="form-control masterTooltip" readonly="readonly" />
					<span class="validationMessage" id="shortname-validationMessage" style="color: red; display: none;"></span>
				</div>
			</div>
		</fieldset>
	
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.manager}" />
				<div class="col-sm-9">
					<input th:value="${orgUnit.manager != null ? orgUnit.manager.name : ''}" class="form-control" readonly="readonly"/>
				</div>
			</div>
		</fieldset>
	
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.orgtype}" />
				<div class="col-sm-9">
					<select class="form-control" id="orgUnitType">
						<option th:each="orgUnitType : ${orgUnitTypes}" th:value="${orgUnitType.key}" th:text="${orgUnitType.value}" th:selected="${orgUnitType.key == orgUnit.type.key}"></option>
					</select>
				</div>
			</div>
		</fieldset>
	</div>
	
	<div class="col-lg-6">
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.ean}" />
				<div class="col-sm-9">
					<input th:if="${canEditAll == true}" th:field="${orgUnit.ean}" class="form-control masterTooltip" />
					<input th:if="${canEditAll == false}" th:field="${orgUnit.ean}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.cvr}" />
				<div class="col-sm-9">
					<input th:if="${canEditAll == true}" th:field="${orgUnit.cvr}" class="form-control masterTooltip" />
					<input th:if="${canEditAll == false}" th:field="${orgUnit.cvr}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.senr}" />
				<div class="col-sm-9">
					<input th:if="${canEditAll == true}" th:field="${orgUnit.senr}" class="form-control masterTooltip" />
					<input th:if="${canEditAll == false}" th:field="${orgUnit.senr}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.pnr}" />
				<div class="col-sm-9">
					<input th:if="${canEditAll == true}" th:field="${orgUnit.pnr}" class="form-control masterTooltip" />
					<input th:if="${canEditAll == false}" th:field="${orgUnit.pnr}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.costbearer}" />
				<div class="col-sm-9">
					<input th:if="${canEditAll == true}" th:field="${orgUnit.costBearer}" class="form-control masterTooltip" />
					<input th:if="${canEditAll == false}" th:field="${orgUnit.costBearer}" class="form-control masterTooltip" readonly="readonly" />
					<span class="validationMessage" id="costBearer-validationMessage" style="color: red; display: none;"></span>
				</div>
			</div>
		</fieldset>
	
		<fieldset>
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.created}" />
				<div class="col-sm-9">
					<input th:value="${#dates.format(orgUnit.created, 'yyyy-MM-dd  HH:mm')}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
	
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.orgunit.lastchanged}" />
				<div class="col-sm-9">
					<input th:value="${#dates.format(orgUnit.lastChanged, 'yyyy-MM-dd  HH:mm')}" class="form-control masterTooltip" readonly="readonly" />
				</div>
			</div>
		</fieldset>
	</div>
	
	<div class="hidden">
		<button id="saveButton" class="btn btn-lg btn-primary" style="width:auto; margin-right:10px;" onclick="saveCoreChanges()">
			<em class="fa fa-save" aria-hidden="true"></em>&nbsp;
			<span th:text="#{html.control.button.save}" />
		</button>
		<button id="cancelButton" class="btn btn-lg btn-danger" style="width:auto" onclick="loadViewCoreFragment()">
			<em class="fa fa-times" aria-hidden="true"></em>
			<span th:text="#{html.control.button.cancel}" />
		</button>
	</div>

	<div class="hidden">
		<div th:replace="orgunit/fragments/chooseParentModal :: chooseParentModal" />
	</div>
	<script th:replace="orgunit/fragments/orgunit_tree :: orgUnitTreeScript(configObj='ouJSTreeSelectParentConfig')"/>
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
	
			/*[+
				var allOUs = [[${orgUnits}]];
			
				var selectParentTitle = [[#{html.fragment.orgunit.core.msg.selectParent.Title}]]; 
				var selectParentText = [[#{html.fragment.orgunit.core.msg.selectParent.Text}]];
				var selectParentButtonConfirm = [[#{html.button.yes}]];
				var selectParentButtonCancel = [[#{html.button.no}]];
			+]*/
			
			// polyfill for IE
			if (!String.prototype.startsWith) {
				String.prototype.startsWith = function(searchString, position) {
					position = position || 0;
					return this.substr(position, searchString.length) === searchString;
				};
			}
		
			$(document).ready(function() {
				$('#buttonsMenu button').remove();
				$('#buttonsMenu').append($('#saveButton'));
				$('#buttonsMenu').append($('#cancelButton'));
				$('body').append($('#chooseParentModal'));
			});
			
			function selectParent() {
				var node = $("#parentorgUnitTreeHierarchy").jstree("get_selected",true)[0];
				swal({
					html : true,
					title : selectParentTitle,
					text : selectParentText.replace("{0}", node.text),
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : selectParentButtonConfirm,
					cancelButtonText : selectParentButtonCancel,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$('#parent').val(node.id);
						$('#parentName').val(node.text);
					}
					$('#chooseParentModal').modal("hide");
				});
			}

			function openChooseParentModal(){
				$('#chooseParentModal').modal("show");
			}
		/*]]>*/
	</script>
</th:block>