<th:block th:fragment="tags" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table id="orgUnitTagsTable" class="table table-striped table-hover listTable">
		<thead>
			<th class="col-md-1" th:text="#{html.page.orgunit.view.tag.value}"/>
			<th class="col-md-1" th:text="#{html.page.orgunit.view.tag.chosen}"/>
			<th class="col-md-5" th:text="#{html.page.orgunit.view.tag.customTagValue}"/>
			<th class="col-md-5" th:text="#{html.page.orgunit.view.tag.description}"/>
		</thead>

		<tbody>
		<tr th:each="tag : ${tags}">
			<td th:text="${tag.value}" th:attr="data-id=tagValue + ${tag.id}" />
			<td>
				<div class="checkbox c-checkbox">
					<label>
						<input th:id="tagCheckbox+${tag.id}" sec:authorize="hasRole('ROLE_USER_EDIT')" class="checkbox-tags" type="checkbox"
							   th:attr="data-value=${tag.value},data-customValueEnabled=${tag.customValueEnabled},data-customValueName=${tag.customValueName},data-customValueRegex=${tag.customValueRegex}"
							   th:value="${tag.id}" th:checked="${tag.selected}" data-objtype="role"/>
						<input sec:authorize="not hasRole('ROLE_USER_EDIT')" class="checkbox-tags" type="checkbox" th:value="${tag.id}" th:checked="${tag.selected}" data-objtype="role" disabled="disabled" />
						<span class="fa fa-check"></span>
					</label>
				</div>
			</td>
			<td>
				<span th:id="tagCustomValue+${tag.id}" th:title="${tag.customValueName}" th:if="${tag.customValueEnabled}" th:text="${tag.customValue}"></span>
			</td>
			<td th:text="${tag.description}" th:attr="data-id=tagDescription + ${tag.id}" />
		</tr>
		</tbody>
	</table>
	<style>
		.checkbox-tags {
			position: absolute !important;
		}
	</style>
</th:block>

<th:block th:fragment="tagsScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var tagDeleteTitle = [[#{html.fragment.tag.msg.delete.Title}]];
			var tagDeleteText = [[#{html.fragment.tag.msg.delete.Text}]];
			var tagInvalidText = [[#{html.fragment.tag.msg.tag.invalid}]];
			
			var tagDeleteButtonConfirm = [[#{html.button.yes}]];
			var tagDeleteButtonCancel = [[#{html.button.cancel}]];
			
		+]*/

		function addCheckboxListeners() {
			$('.checkbox-tags').off( "change" );
			$('.checkbox-tags').change(tagCheckboxChanged);
		}

		addCheckboxListeners();

		$('#listTable1').on( 'draw.dt', function () {
			addCheckboxListeners();
		});

		function saveTag(tagId, customTagValue)
		{
			var checkbox = $("#tagCheckbox" + tagId );
			var customValue = $("#tagCustomValue" + tagId );
			var tagData = {id: tagId, customValue: customTagValue};
			$.ajax({
				url: restUrl + "/" + uuid + "/saveTag",
				headers: {
					'X-CSRF-TOKEN': token
				},
				type: 'post',
				contentType: 'application/json',
				data: JSON.stringify(tagData),
				success: function(response) {
					checkbox.prop('checked', true);
					customValue.text(tagData.customValue);			
					$.notify({
						message: msgFieldUpdated
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				},
				error: function(response) {
					checkbox.prop('checked', false);
					customValue.text('');
					$.notify({
						message: msgUpdateFail + '<br>' + response.responseText
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});					
				}
			});
		}

		function setTag(tagId)
		{
			var checkbox = $("#tagCheckbox" + tagId );
			var customValueEnabled = checkbox.attr("data-customValueEnabled") == "true";
			if( !customValueEnabled )
			{
				saveTag(tagId, null);
			}
			else
			{
				var tagValue = checkbox.attr("data-value")
				var customValueName = checkbox.attr("data-customValueName");
				var customValueRegex = RegExp(checkbox.attr("data-customValueRegex"));
				swal({
				  title: tagValue,
				  text: customValueName,
				  type: "input",
				  showCancelButton: true,
				  closeOnConfirm: false,
				  inputPlaceholder: ""
				}, function (inputValue) {
					if (inputValue===false) {
						checkbox.prop('checked', false);
						checkbox.checked = false;
						return false;
					} 
					else if (!customValueRegex.test(inputValue)) {
						swal.showInputError(tagInvalidText);
						checkbox.prop('checked', false);
						return false
					}
					else
					{
						saveTag(tagId, inputValue);
						swal.close();
					}				  
				});
				}
		}

		function tagCheckboxChanged() {
			var thisCheckbox = this;			
			var tagId = $(this).val();
			var customValue = $("#tagCustomValue" + tagId );

			if(this.checked) {
				setTag(tagId);
			} else {
				swal({
					html : true,
					title : tagDeleteTitle,
					text : tagDeleteText,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : tagDeleteButtonConfirm,
					cancelButtonText : tagDeleteButtonCancel,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							method : "POST",
							url: restUrl + "/deleteTag",
							headers: {
								"content-type": "application/json",
								"uuid": uuid,
								"id": tagId,
								'X-CSRF-TOKEN': token
							}
						}).done(function (data) {
							$.notify({
								message: msgFieldUpdated
							}, {
								status: 'success',
								autoHideDelay: 2000
							});
							customValue.text('');
						}).fail(function (jqXHR, textStatus, errorThrown) {
							$.notify({
								message: msgUpdateFail
							}, {
								status: 'danger',
								autoHideDelay: 4000
							});
						});
					} else {
						thisCheckbox.checked = !this.checked;						
					}
				});
			}
		}
		/*]]>*/
	</script>
</th:block>