<th:block th:fragment="contactInfoTab" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<th:block sec:authorize="hasRole('ROLE_USER_EDIT_CONTACT_INFO')">
		<button onclick="loadEditContactInfoTab()" class="btn btn-lg btn-primary" style="width: 250px">
			<i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
			<span th:text="#{html.page.orgunit.view.edit.contact.info}"></span>
		</button>
		<hr/>
	</th:block>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.openingHours}" />
		<div class="col-sm-10">
			<textarea id="openinghours" th:text="${openingHours}" class="md-textarea form-control" rows="7" readonly="readonly"></textarea>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.keyWords}" />
		<div class="col-sm-10">
			<textarea id="keywords" th:text="${keyWords}" class="md-textarea form-control" rows="7" readonly="readonly"></textarea>
		</div>
	</div>
	
	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.notes}" />
		<div class="col-sm-10">
			<textarea id="notes" th:text="${notes}" class="md-textarea form-control" rows="7" readonly="readonly"></textarea>
		</div>
	</div>
</th:block>