<th:block th:fragment="accountOrdersTab" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<button onclick="loadEditAccountOrderTab()" class="btn btn-lg btn-primary" style="width: 200px" sec:authorize="hasRole('ROLE_USER_ADMIN') and hasRole('ROLE_MODULE_ACCOUNT_CREATION')">
		<i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
		<span th:text="#{html.page.orgunit.view.edit.accountorder.info}"></span>
	</button>
	
	<button onclick="copyRules()" class="btn btn-lg btn-primary" style="width: 200px" th:disabled="${canCopyRules == false}" sec:authorize="hasRole('ROLE_USER_ADMIN') and hasRole('ROLE_MODULE_ACCOUNT_CREATION')">
		<i class="fa fa-fw fa-clone" aria-hidden="true"></i>
		<span th:text="#{html.page.orgunit.view.edit.accountorder.copy}"></span>
	</button>

	<table class="table table-striped table-hover nodatatables">
		<thead>
			<th class="col-md-3" th:text="#{html.page.orgunit.view.accountorders.usertype.name}"/>
			<th class="col-md-9" th:text="#{html.page.orgunit.view.accountorders.usertype.rule}"/>
		</thead>

		<tbody>
			<tr th:each="type : ${orgUnitAccountOrder.types}">
				<td th:text="${@supportedUserTypeService.getPrettyName(type.getUserType())}"/>
				<td> 											
					<select class="form-control" disabled="disabled">
						<option th:each="rule : ${T(dk.digitalidentity.sofd.dao.model.enums.AccountOrderRule).values()}"
							th:value="${rule}"
							th:selected="${type.rule} == ${rule}"
							th:text="#{__${rule.getMessage()}__}">
						</option>
					</select>
					
					<div th:id="'positionRules-' + ${type.userType}" th:style="${type.rule != T(dk.digitalidentity.sofd.dao.model.enums.AccountOrderRule).BY_POSITION_NAME} ? 'display: none;' : ''">
						<hr/>
						
						<table class="table table-striped">
							<thead>
								<tr>
									<th class="col-md-4" th:text="#{html.entity.affiliation.positionName}"/>
									<th class="col-md-8" th:text="#{html.page.orgunit.view.accountorders.usertype.rule}"/>
								</tr>
							</thead>
							<tbody>
								<tr th:each="position : ${type.positions}">
									<td th:text="${position.positionName}" />
									<td>
										<select class="form-control" disabled="disabled">
											<option th:each="rule : ${T(dk.digitalidentity.sofd.dao.model.enums.AccountOrderRule).values()}"
												th:value="${rule}"
												th:selected="${position.rule} == ${rule}"
												th:text="#{__${rule.getMessage()}__}">
											</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</th:block>

<th:block th:fragment="copyModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade bd-example-modal-lg" id="copy-rules-modal" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 th:text="#{html.page.orgunit.copyrules.header}"/>
				</div>

				<div class="modal-body">
					<th:block th:replace="orgunit/fragments/orgunit_tree :: orgUnitTree(namespace='accountOrderCopy')"></th:block>
				</div>

				<div class="modal-footer">
					<button type="button" id="save" class="btn btn-primary" onclick="copyRulesPerform()" th:text="#{html.control.button.copy}"/>
					<button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.cancel}"/>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="viewAccountOrdersScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*[+
			var confirmCopyRulesTxt = [[#{html.page.orgunit.edit.rules.copy.confirm}]];
			var rulesCopiedTxt = [[#{html.page.orgunit.edit.rules.copy.success}]];
			var rulesCopiedPartialTxt = [[#{html.page.orgunit.edit.rules.copy.success_partial}]];
			var rulesCopiedPartial2Txt = [[#{html.page.orgunit.edit.rules.copy.success_partial2}]];
			var rulesNotCopiedTxt = [[#{html.page.orgunit.edit.rules.copy.failure}]];
			var confirmCopyRulesTitleTxt = [[#{html.page.orgunit.edit.rules.copy.confirm.title}]];
			var allOus = [[${ous}]];
		+]*/

		function copyRules() {
			$('#copy-rules-modal').modal("toggle");
		}
		
		function copyRulesPerform() {
			$('#copy-rules-modal').modal("toggle");

			var ouUuids = $('#accountOrderCopyorgUnitTreeHierarchy').jstree('get_selected')
			
			if (ouUuids.length > 0) {
				swal({
					html : true,
					title : confirmCopyRulesTitleTxt,
					text : confirmCopyRulesTxt,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : yesButtonTxt,
					cancelButtonText : noButtonTxt,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							method : "POST",
							url: restUrl + "/" + uuid + "/copyRulesTo",
							headers: {
								'X-CSRF-TOKEN': token
							},
							data: JSON.stringify(ouUuids),
							dataType: "json",
							contentType: "application/json; charset=utf-8",
						    success: function(data) {
						    	if (data && data.length > 0) {
						    		var msg = rulesCopiedPartialTxt + "<ul>";
						    		
						    		for (var i = 0; i < data.length; i++) {
						    			msg += "<li>" + data[i] + "</li>";
						    		}
						    		msg += "</ul>";
						    		msg += rulesCopiedPartial2Txt;

									$.notify({
										message: msg
									}, {
										status: 'warning',
										autoHideDelay: 3000
									});
						    	}
						    	else {
									$.notify({
										message: rulesCopiedTxt
									}, {
										status: 'success',
										autoHideDelay: 2000
									});
						    	}
						    },
						    error: function(jqXHR, textStatus, errorThrown) {
								$.notify({
									message: rulesNotCopiedTxt
								}, {
									status: 'danger',
									autoHideDelay: 4000
								});
						    }
						});
					}
				});
			}
		}
		
		/*]]>*/
	</script>
</th:block>
