<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'opusautoaffiliation', subpage = 'admin')" />

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.opus.autoaffiliation.headline}" />

				<div class="panel panel-default" style="padding-left: 20px; padding-right: 20px;">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal" id="form" th:action="@{/ui/admin/opusautoaff/create}" method="post" th:object="${form}">

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.mapping.from}"/>
										<div class="col-sm-8">
											<input type="hidden" th:field="*{fromUuid}" class="form-control"/>

											<div class="col-sm-9">
												<input id="fromName" class="form-control" readonly="readonly" />
											</div>
											<div class="col-sm-3">
												<button class="btn btn-primary btn-block" onclick="openChooseOUModal('from'); return false;" th:text="#{html.page.opus.autoaffiliation.choose}"/>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.mapping.to}"/>
										<div class="col-sm-8">
											<input type="hidden" th:field="*{toUuid}" class="form-control"/>

											<div class="col-sm-9">
												<input id="toName" class="form-control" readonly="readonly" />
											</div>
											<div class="col-sm-3">
												<button class="btn btn-primary btn-block" onclick="openChooseOUModal('to'); return false;" th:text="#{html.page.opus.autoaffiliation.choose}"/>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" style="margin-right: 5px;" class="btn btn-lg btn-primary col-xs-2"  th:text="#{html.control.button.save}"/>
											<a th:href="@{/ui/admin/opusautoaff}" style="margin-right: 5px;" class="btn btn-lg btn-danger col-xs-2" th:text="#{html.control.button.cancel}"/>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<div class="modal fade" id="chooseOUModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group" style="padding: 0px 75px 0px 20px;">
							<th:block th:replace="orgunit/fragments/orgunit_tree :: orgUnitTree(namespace='opusautoaff')"></th:block>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" th:text="#{html.control.button.save}" onclick="selectOU()"/>
					<button type="button" class="btn btn-danger" th:text="#{html.action.abortChanges}" data-dismiss="modal" />
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer" />

	<script th:replace="orgunit/fragments/orgunit_tree :: orgUnitTreeScript(configObj='ouJSTreeConfig')"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		/*[+
		+]*/

		var currentField;
		var ouJSTreeConfig = {
			namespace: 'opusautoaff',
			refreshCallback: null,
			staticOrg: 0
		};

		function selectOU() {
			var node = $("#opusautoafforgUnitTreeHierarchy").jstree("get_selected",true)[0];
			$('#' + currentField + 'Uuid').val(node.id);
			$('#' + currentField + 'Name').val(node.text);
			
			$('#chooseOUModal').modal("hide");
		}

		function openChooseOUModal(field) {
			currentField = field;
			$('#chooseOUModal').modal("show");
		}

		/*]]>*/
	</script>

</body>
</html>