<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'opusfilter', subpage = 'admin')" />

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.opus.filter.headline}" />

				<div class="panel panel-default" style="padding-left: 20px; padding-right: 20px;">
					<form class="form-horizontal">
						<div class="panel-body">
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.opus.filter.losIds}" />
								<div class="col-sm-9">
									<ul>
										<li th:each="losId : ${losIds}" th:text="${losId}"></li>
									</ul>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.opus.filter.positionIds}" />
								<div class="col-sm-9">
									<ul>
										<li th:each="positionId : ${positionIds}" th:text="${positionId}"></li>
									</ul>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.opus.filter.infix}" />
								<div class="col-sm-9" style="padding-top: 7px;">
									<span th:text="${orgUnitInfix}"></span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Tjenestemandspensioner</label>
								<div class="col-sm-9" style="padding-top: 7px;">
									<span>Filtreres</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Efterindtægt</label>
								<div class="col-sm-9" style="padding-top: 7px;">
									<span th:text="${filterEfterindtaegt == true} ? 'Filtreres' : 'Filtreres ikke'"/>
								</div>
							</div>
							
							<hr/>
							<div class="form-group">
								<div class="col-sm-12">
									<p>
									Ovenstående filtreringsregler påvirker hvilke enheder og medarbejdere der indlæses i SOFD
									fra OPUS Løn og Personale.
									</p>

									<p>
									Hvis man ønsker at få tilpasset filtrene, så skal man kontakte
									driftoperatøren på <a href="mailto:helpdesk@digital-identity.dk">helpdesk@digital-identity.dk</a>.
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer" />
</body>
</html>