<!DOCTYPE html>
<html>
<head th:fragment="header">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="_csrf" th:content="${_csrf.token}" />

	<title th:text="#{html.global.title}" />

	<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/jstree/3.3.7/themes/default/style.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/simple-line-icons/2.2.2/css/simple-line-icons.css}" />
	<link rel="stylesheet" th:href="@{/webjars/animate.css/3.5.1/animate.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/angle/3.7.5/css/whirl.css}" />
	<link rel="stylesheet" th:href="@{/webjars/sweetalert/1.1.3/dist/sweetalert.css}" />
	<link rel="stylesheet" th:href="@{/webjars/angle/3.7.5/css/dataTables.bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/webjars/angle/3.7.5/css/bootstrap.css}" id="bscss" />
	<link rel="stylesheet" th:href="@{/webjars/angle/3.7.5/css/app.css}" id="maincss" />
	<link rel="stylesheet" th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css}" />
	<link rel="stylesheet" th:href="@{/webjars/summernote/0.8.10/summernote.css}" />
	<link rel="stylesheet" th:href="@{/css/select.dataTables.min.css}" />

	<link rel="stylesheet" th:href="@{/css/angle-theme-overrides.css}" />
	<link rel="stylesheet" th:href="@{/css/datatables-fix.css}" />
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	
	<style>
		.table > tbody > tr > td {
			vertical-align: top !important;
		}
	</style>
</head>
<body>

</body>
</html>
