<!DOCTYPE html>
<html>
<body>
	<header th:fragment="navbar-header" class="topnavbar-wrapper">
		<nav role="navigation" class="navbar topnavbar">
			<div class="navbar-header">
				<a th:href="@{/}" class="navbar-brand">
					&nbsp;
				</a>
			</div>

			<div class="nav-wrapper">
				<ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
					<li sec:authorize="hasRole('ROLE_USER_READ')" th:class="${subpage == 'phonebook'} ? 'bold' : ''">
						<a th:href="@{/ui/person}">
							<em class="fa fa-fw fa-users" />
							<span th:text="#{html.navbar.sub.phonebook}" />
						</a>
					</li>

					<li sec:authorize="hasRole('ROLE_MODULE_TELEPHONY') and hasRole('ROLE_USER_TELEPHONY')" th:class="${subpage == 'telephony'} ? 'bold' : ''">
						<a th:href="@{/ui/telephony/list}">
							<em class="fa fa-fw fa-phone" />
							<span th:text="#{html.navbar.sub.telephony}"/>
						</a>
					</li>
					
					<li sec:authorize="hasRole('ROLE_MODULE_SMS_GATEWAY') and hasRole('ROLE_USER_SMS')" th:class="${subpage == 'sms'} ? 'bold' : ''">
						<a th:href="@{/ui/sms/message}">
							<em class="fa fa-fw fa-commenting"></em>
							<span th:text="#{html.navbar.sub.sms}" />
						</a>
					</li>

					<li sec:authorize="hasRole('ROLE_USER_READ')" th:class="${subpage == 'report'} ? 'bold' : ''">
						<a th:href="@{/ui/report/reports}">
							<em class="fa fa-fw fa-book" />
							<span th:text="#{html.navbar.report}" />
							<span class="badge badge-alert" th:text="${session.SESSION_NOTIFICATION_COUNT}" th:unless="${session == null || session.SESSION_NOTIFICATION_COUNT == 0}"/>
						</a>
					</li>

					<li sec:authorize="hasRole('ROLE_USER_ADMIN')" th:class="${subpage == 'admin'} ? 'bold' : ''">
						<a th:href="@{/ui/client/list}">
							<em class="fa fa-fw fa-cogs" />
							<span th:text="#{html.navbar.sub.admin}" />
						</a>
					</li>
					
					<li sec:authorize="hasRole('ROLE_MODULE_PROFILE')" th:class="${subpage == 'profile'} ? 'bold' : ''">
						<a th:href="@{/ui/profile}">
							<em class="fa fa-fw fa-user" />
							<span th:text="#{html.navbar.sub.profile}" />
						</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right"
					sec:authorize="hasRole('ROLE_USER_LOS_ADMIN')"
					th:if="${#strings.contains(#httpServletRequest.requestURI, 'orgunit') and
							 @sofdConfiguration.getModules().getLos().isFutureOrgsEnabled() == true}">
					<li>
						<span class="badge" th:text="'&gt;&gt; ' + ${#dates.format(session.SESSION_FUTURE_DATE, 'dd-MM-yyyy')} + ' &lt;&lt;'"
						th:unless="${session == null || session.SESSION_FUTURE_DATE == null}"
						style="background-color: transparent; border: none; color: orange; width: auto; font-size: 90%; padding-top: 20px; padding-bottom: 14px;" />
					</li>

					<li class="nav-item">
					 	<div class="input-group date" id="futureDatePicker">
					 		<input id="futureDate" class="form-control" style="display: none;" />
							<span class="input-group-addon" style="background-color: transparent; border: none; color: #ffffff; width: auto; padding-top: 20px; padding-bottom: 14px;">
								<span class="fa fa-calendar"></span>
							</span>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<aside th:fragment="navbar-aside" class="aside">
		<div class="aside-inner">
			<nav data-sidebar-anyclick-close="" class="sidebar">
				<ul class="nav">
					<!-- TODO: check for admin role instead of logged-in state? -->
					<th:block sec:authorize="isAuthenticated()" th:if="${subpage == 'admin'}">
						<li class="nav-heading">
							<span th:text="#{html.navbar.clientmanagment}" />
						</li>
						
						<li>
							<a href="#clientsection" data-toggle="collapse">
								<em class="fa fa-unlock-alt" />
								<span th:text="#{html.navbar.client}" />
							</a>
							
							<ul id="clientsection" class="nav sidebar-subnav collapse">
								<li class="sidebar-subnav-header"/>
								<li th:class="${page == 'clients.list'} ? 'active' : ''">
									<a th:href="@{/ui/client/list}">
										<span th:text="#{html.navbar.client.list}" />
									</a>
								</li>
								<li th:class="${page == 'clients.new'} ? 'active' : ''">
									<a th:href="@{/ui/client/new}">
										<span th:text="#{html.navbar.client.new}" />
									</a>
								</li>
							</ul>
						</li>
						
						<li th:class="${page == 'sofdaccounts'} ? 'active' : ''" th:if="${@sofdConfiguration.getModules().getLocalLogin().isEnabled() == true}">
							<a th:href="@{/ui/sofdaccounts}">
								<em class="fa fa-address-card" />
								<span th:text="#{html.navbar.sofdaccounts}" />
							</a>
						</li>

						<th:block>
							<li class="nav-heading">
								<span th:text="#{html.navbar.templates}" />
							</li>
	
							<li th:class="${page == 'mailtemplates'} ? 'active' : ''">
								<a th:href="@{/ui/admin/mailtemplates}">
									<em class="fa fa-envelope" />
									<span th:text="#{html.navbar.email.template}" />
								</a>
							</li>
						</th:block>

						<th:block>
							<li class="nav-heading">
								<span th:text="#{html.navbar.cleanup.heading}" />
							</li>

							<li th:class="${page == 'persondeleteperiod'} ? 'active' : ''">
								<a th:href="@{/ui/admin/cleanup/persondeleteperiod}">
									<em class="fa fa-clock-o" />
									<span th:text="#{html.navbar.cleanup.persondeleteperiod}" />
								</a>
							</li>

						</th:block>

						<th:block th:if="${@sofdConfiguration.getIntegrations().getOpus().isEnableFiltering() == true or
										   @sofdConfiguration.getIntegrations().getOpus().isEnableAutoAffiliationConfiguration() == true}">
							<li class="nav-heading">
								<span th:text="#{html.navbar.opusfilter.heading}" />
							</li>

							<li th:class="${page == 'opusfilter'} ? 'active' : ''" th:if="${@sofdConfiguration.getIntegrations().getOpus().isEnableFiltering() == true}">
								<a th:href="@{/ui/admin/opusfilter}">
									<em class="fa fa-cog" />
									<span th:text="#{html.navbar.opusfilter}" />
								</a>
							</li>

							<li th:class="${page == 'opusautoaffiliation'} ? 'active' : ''" th:if="${@sofdConfiguration.getIntegrations().getOpus().isEnableAutoAffiliationConfiguration() == true}">
								<a th:href="@{/ui/admin/opusautoaff}">
									<em class="fa fa-cog" />
									<span th:text="#{html.navbar.opusautoaffiliation}" />
								</a>
							</li>

						</th:block>

						<th:block>
							<li class="nav-heading">
								<span th:text="#{html.navbar.classification}" />
							</li>

							<li th:if="${@sofdConfiguration.getModules().getLos().isAltOrgsEnabled() == true}" th:class="${page == 'organisations'} ? 'active' : ''">
								<a th:href="@{/ui/organisation}">
									<em class="fa fa-sitemap" />
									<span th:text="#{html.navbar.organisation}" />
								</a>
							</li>

							<li sec:authorize="hasRole('ROLE_MODULE_TELEPHONY')" th:class="${page == 'functionType'} ? 'active' : ''">
								<a th:href="@{/ui/functiontype}">
									<em class="fa fa-puzzle-piece" />
									<span th:text="#{html.navbar.functiontype}" />
								</a>
							</li>

							<li th:class="${page == 'usertype'} ? 'active' : ''">
								<a th:href="@{/ui/usertype}">
									<em class="fa fa-user" />
									<span th:text="#{html.navbar.usertypes}" />
								</a>
							</li>
							
							<li th:class="${page == 'orgunittype'} ? 'active' : ''">
								<a th:href="@{/ui/orgunittypes}">
									<em class="fa fa-users" />
									<span th:text="#{html.navbar.orgunittypes}" />
								</a>
							</li>

							<li sec:authorize="hasRole('ROLE_MODULE_ACCOUNT_CREATION')" th:class="${page == 'badwords'} ? 'active' : ''">
								<a th:href="@{/ui/badwords}">
									<em class="fa fa-ban" />
									<span th:text="#{html.navbar.badwords}" />
								</a>
							</li>

							<li th:class="${page == 'tags'} ? 'active' : ''">
								<a th:href="@{/ui/tags}">
									<em class="fa fa-tag" />
									<span th:text="#{html.navbar.tags}" />
								</a>
							</li>
						</th:block>
					</th:block>

					<th:block sec:authorize="isAuthenticated()" th:if="${subpage == 'phonebook'}">
						<li class="nav-heading">
							<span th:text="#{html.navbar.phonebook}" />
						</li>

						<li th:class="${page == 'orgunits'} ? 'active' : ''">
							<a th:href="@{/ui/orgunit}">
								<em class="fa fa-users" />
								<span th:text="#{html.navbar.orgunits}" />
							</a>
						</li>

						<li th:class="${page == 'futureChanges'} ? 'active' : ''"
							sec:authorize="hasRole('ROLE_USER_LOS_ADMIN')"
							th:if="${@sofdConfiguration.getModules().getLos().isFutureOrgsEnabled() == true}">

							<a th:href="@{/ui/changes/orgunit}">
								<em class="fa fa-fast-forward"/>
								<span th:text="#{html.navbar.future.changes}"/>
							</a>
						</li>
						
						<li th:class="${page == 'persons'} ? 'active' : ''">
							<a th:href="@{/ui/person}">
								<em class="fa fa-user" />
								<span th:text="#{html.navbar.persons}" />
							</a>
						</li>
					</th:block>

					<th:block sec:authorize="isAuthenticated()" th:if="${subpage == 'telephony'}">
						<li class="nav-heading">
							<span th:text="#{html.navbar.telephony}" />
						</li>

						<li th:class="${page == 'telephony.list'} ? 'active' : ''">
							<a th:href="@{/ui/telephony/list}">
								<em class="fa fa-phone" />
								<span th:text="#{html.navbar.telephony.list}" />
							</a>
						</li>

						<li th:class="${page == 'telephony.history'} ? 'active' : ''">
							<a th:href="@{/ui/telephony/history}">
								<em class="fa fa-clock-o" />
								<span th:text="#{html.navbar.telephony.history}" />
							</a>
						</li>
						
						<li>
							<a href="#telephonyrapports" data-toggle="collapse">
								<em class="fa fa-book" />
								<span th:text="#{html.navbar.telephony.report}" />
							</a>
							
							<ul id="telephonyrapports" class="nav sidebar-subnav collapse">
								<li class="sidebar-subnav-header"/>
								<li th:class="${page == 'telephony.report.stoppedEmployees'} ? 'active' : ''">
									<a th:href="@{/ui/telephony/report/stoppedEmployees}">
										<span th:text="#{html.navbar.telephony.report.stoppedEmployees}" />
									</a>
								</li>
								<li th:class="${page == 'telephony.report.taxed.employees'} ? 'active' : ''">
									<a th:href="@{/ui/telephony/report/taxedEmployees}">
										<span th:text="#{html.navbar.telephony.report.taxedEmployees}" />
									</a>
								</li>
							</ul>
						</li>
					</th:block>

					<th:block sec:authorize="isAuthenticated()" th:if="${subpage == 'report'}">
						<li class="nav-heading">
							<span th:text="#{html.navbar.report}" />
						</li>

						<li th:class="${page == 'reports'} ? 'active' : ''">
							<a th:href="@{/ui/report/reports}">
								<em class="fa fa-book" />
								<span th:text="#{html.navbar.report.reports}" />
							</a>
						</li>
						
						<th:block sec:authorize="hasRole('ROLE_USER_EDIT')">
							<li th:class="${page == 'notifications'} ? 'active' : ''">
								<a th:href="@{/ui/report/notifications}">
									<em class="fa fa-tasks" />
									<span th:text="#{html.navbar.report.notifications}" />
									<span class="badge badge-alert" th:text="${session.SESSION_NOTIFICATION_COUNT}" th:unless="${session == null || session.SESSION_NOTIFICATION_COUNT == 0}"/>
								</a>
							</li>
						</th:block>
						
						<th:block sec:authorize="hasRole('ROLE_MODULE_ACCOUNT_CREATION') and hasRole('ROLE_USER_EDIT')">
							<li class="nav-heading">
								<span th:text="#{html.navbar.accountorders}" />
							</li>
	
							<li th:class="${page == 'accountcreation'} ? 'active' : ''">
								<a th:href="@{/ui/report/accountorders}">
									<em class="fa fa-recycle" />
									<span th:text="#{html.navbar.accountorders.list}" />
								</a>
							</li>
						</th:block>
					</th:block>

					<th:block sec:authorize="isAuthenticated()" th:if="${subpage == 'sms'}">
						<li class="nav-heading">
							<span th:text="#{html.navbar.sms.message}" />
						</li>
						
						<li th:class="${page == 'sms.message'} ? 'active' : ''">
							<a th:href="@{/ui/sms/message}">
								<em class="fa fa-paper-plane" />
								<span th:text="#{html.navbar.sms.message.send}" />
							</a>
						</li>

						<li th:class="${page == 'template.list'} ? 'active' : ''">
							<a th:href="@{/ui/template/list}">
								<em class="fa fa-list"></em>
								<span th:text="#{html.navbar.template.list}" />
							</a>
						</li>

						<li th:class="${page == 'sms.log'} ? 'active' : ''">
							<a th:href="@{/ui/sms/log}">
								<em class="fa fa-book " />
								<span th:text="#{html.navbar.sms.log}" />
							</a>
						</li>
						
						<th:block th:if="${@sofdConfiguration.getModules().getSmsGateway().isPwdReminderEnabled() == true}">
							<li class="nav-heading">
								<span th:text="#{html.navbar.rulebased-reminders}" />
							</li>						
							<li>
								<ul class="nav sidebar-subnav">
									<li class="sidebar-subnav-header"/>
	
									<li th:class="${page == 'sms.pwdreminders'} ? 'active' : ''">
										<a th:href="@{/ui/sms/pwdreminders}">
											<em class="fa fa-bell-o"></em>
											<span th:text="#{html.navbar.rulebased-reminders.pwdreminder}" />
										</a>
									</li>
								</ul>
							</li>
						</th:block>
					</th:block>

					<li class="nav-heading">
						<span th:text="#{html.navbar.actions}" />
					</li>
					
					<li sec:authorize="hasRole('ROLE_USER_ADMIN')" th:if="${subpage == 'admin'}">
						<a th:href="@{/ui/admin/downloadconfig}">
							<em class="fa fa-download" />
							<span th:text="#{html.navbar.config.download}" />
						</a>
					</li>
					
					<li sec:authorize="!isAuthenticated()">
						<a th:href="@{/saml/login}">
							<em class="fa fa-sign-in" />
							<span th:text="#{html.navbar.login}" />
						</a>
					</li>
					
					<li sec:authorize="!isAuthenticated()" th:if="${@sofdConfiguration.getModules().getLocalLogin().isEnabled() == true}">
						<a th:href="@{/login}">
							<em class="fa fa-sign-in" />
							<span th:text="#{html.navbar.locallogin}" />
						</a>
					</li>
					
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/saml/logout}">
							<em class="fa fa-sign-out" />
							<span th:text="#{html.navbar.logout}" />
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</aside>
</body>
</html>
