<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table class="table table-striped table-hover kleTable">
		<thead>
		<tr>
			<th class="col-md-2" th:text="#{html.entity.kle.code}" />
			<th class="col-md-6" th:text="#{html.entity.kle.description}" />
			<th class="col-md-4" th:text="#{html.entity.kle.through}" />
		</tr>
		</thead>

		<tbody>
		<tr th:each="kle : ${kles}">
			<td th:text="${kle.code}" />
			<td th:text="${kle.title}" />
			<td th:text="${kle.through}" />
		</tr>
		</tbody>
	</table>
	
	<script type="text/javascript">
		$("document").ready(function() {
			loadDataTable($(".kleTable"));
		});
	</script>
</th:block>