<th:block th:fragment="personCoreEdit" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<fieldset>
			<input name="personUuid" type="hidden" th:value="${person.uuid}" />
			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.person.firstname}" />
				<div class="col-sm-9">
					<input name="firstname" th:value="${person.firstname}" readonly="readonly" class="form-control personMasterTooltip"/>
				</div>
			</div>

			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.person.surname}" />
				<div class="col-sm-9">
					<input name="surname" th:value="${person.surname}" readonly="readonly" class="form-control personMasterTooltip"/>
				</div>
			</div>

			<div class="row">
				<label class="col-sm-3 control-label" th:text="#{html.entity.person.chosenName}" />
				<div class="col-sm-9">
					<input name="chosenName" th:value="${person.chosenName}" class="form-control personMasterTooltip"/>
				</div>
			</div>
		</fieldset>
	
	<div class="hidden">
		<button sec:authorize="hasRole('ROLE_USER_ADMIN')" id="saveButton" class="btn btn-lg btn-primary" style="width:auto; margin-right:10px;" onclick="saveCoreChanges()">
			<em class="fa fa-save" aria-hidden="true"></em>&nbsp;
			<span th:text="#{html.control.button.save}" />
		</button>
		<button sec:authorize="hasRole('ROLE_USER_ADMIN')" id="cancelButton" class="btn btn-lg btn-danger" style="width:auto" onclick="loadViewCoreFragment()">
			<em class="fa fa-times" aria-hidden="true"></em>
			<span th:text="#{html.control.button.cancel}" />
		</button>
	</div>

	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
	
			/*[+
			+]*/
			
		
			$(document).ready(function() {
				$('#buttonsMenu').empty();
				$('#buttonsMenu').append($('#saveButton'));
				$('#buttonsMenu').append($('#cancelButton'));
			});
			
			
		/*]]>*/
	</script>
</th:block>