<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'sms')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'template.new', subpage = 'sms')" />
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.template.new.headline}" />

				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal" id="template-form" th:action="@{/ui/template/new}" method="post" th:object="${template}">

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.template.name}"/>
										<div class="col-sm-8">
											<input th:field="*{name}" class="form-control" autofocus="autofocus" />
											<ul th:if="${#fields.hasErrors('name')}" class="error">
												<li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.template.message}"/>
										<div class="col-sm-8">
											<blockquote class="blockquote">
												<textarea th:field="*{message}" class="mb-0 preformat" rows="10" style="width:100%;"></textarea>
												<footer id="sms-counter" class="blockquote-footer">
													<span class="length"></span>/<span class="per_message"></span>
													<span class="messages text-danger"></span>
												</footer>
											</blockquote>
											<ul th:if="${#fields.hasErrors('message')}" class="error">
												<li th:each="err : ${#fields.errors('message')}" th:text="${err}"/>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" style="margin-right: 5px;" class="btn btn-lg btn-primary col-xs-2"  th:text="#{html.control.button.save}"/>
											<a th:href="@{/ui/template/list}" style="margin-right: 5px;" class="btn btn-lg btn-danger col-xs-2" th:text="#{html.control.button.cancel}"/>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer"/>
	<script th:replace="fragments/datatables :: datatables (paging=false)" />


<script th:inline="javascript">
/*<![CDATA[*/

	/*[+
		
	+]*/
	
	$(document).ready(function () {
		//Initialize sms char counter
		$("#message").countSms("#sms-counter");
	});
	
	var SmsCounter;

	window.SmsCounter = SmsCounter = (function() {
		function SmsCounter() {
		}

		SmsCounter.gsm7bitChars = "@£$¥èéùìòÇ\\nØø\\rÅåΔ_ΦΓΛΩΠΨΣΘΞÆæßÉ !\\\"#¤%&'()*+,-./0123456789:;<=>?¡ABCDEFGHIJKLMNOPQRSTUVWXYZÄÖÑÜ§¿abcdefghijklmnopqrstuvwxyzäöñüà";

		SmsCounter.gsm7bitExChar = "\\^{}\\\\\\[~\\]|€";

		SmsCounter.gsm7bitRegExp = RegExp("^[" + SmsCounter.gsm7bitChars
				+ "]*$");

		SmsCounter.gsm7bitExRegExp = RegExp("^[" + SmsCounter.gsm7bitChars
				+ SmsCounter.gsm7bitExChar + "]*$");

		SmsCounter.gsm7bitExOnlyRegExp = RegExp("^[\\"
				+ SmsCounter.gsm7bitExChar + "]*$");

		SmsCounter.GSM_7BIT = 'GSM_7BIT';

		SmsCounter.GSM_7BIT_EX = 'GSM_7BIT_EX';

		SmsCounter.UTF16 = 'UTF16';

		SmsCounter.messageLength = {
			GSM_7BIT : 160,
			GSM_7BIT_EX : 160,
			UTF16 : 70
		};

		SmsCounter.multiMessageLength = {
			GSM_7BIT : 153,
			GSM_7BIT_EX : 153,
			UTF16 : 67
		};

		SmsCounter.count = function(text) {
			var count, encoding, length, messages, per_message, remaining;
			encoding = this.detectEncoding(text);
			length = text.length;
			if (encoding === this.GSM_7BIT_EX) {
				length += this.countGsm7bitEx(text);
			}
			per_message = this.messageLength[encoding];
			if (length > per_message) {
				per_message = this.multiMessageLength[encoding];
			}
			messages = Math.ceil(length / per_message);
			remaining = (per_message * messages) - length;
			if (remaining == 0 && messages == 0) {
				remaining = per_message;
			}
// 			maxLen = 640;
// 			if (text.length > maxLen) {
// 				document.getElementById("message").value = text.substring(
// 						0, maxLen);
// 			}
			
			return count = {
				encoding : encoding,
				length : length,
				per_message : per_message,
				remaining : remaining,
				messages : messages
			};

		};

		SmsCounter.detectEncoding = function(text) {
			switch (false) {
			case text.match(this.gsm7bitRegExp) == null:
				return this.GSM_7BIT;
			case text.match(this.gsm7bitExRegExp) == null:
				return this.GSM_7BIT_EX;
			default:
				return this.UTF16;
			}
		};

		SmsCounter.countGsm7bitEx = function(text) {
			var char2, chars;
			chars = (function() {
				var _i, _len, _results;
				_results = [];
				for (_i = 0, _len = text.length; _i < _len; _i++) {
					char2 = text[_i];
					if (char2.match(this.gsm7bitExOnlyRegExp) != null) {
						_results.push(char2);
					}
				}
				return _results;
			}).call(this);
			return chars.length;
		};

		return SmsCounter;

	})();

	$.fn.countSms = function(target) {
		var count_sms, input;
		input = this;
		target = $(target);
		count_sms = function() {
			var count, k, v, _results;
			count = SmsCounter.count(input.val());
			_results = [];
			for (k in count) {
				v = count[k];
				if(k == "messages"){
					if(v <= 1){
						_results.push(target.find("." + k).text(""));
					}else{
						_results.push(target.find("." + k).text(v+" beskeder"));
					}
				} else {
					_results.push(target.find("." + k).text(v));
				}
			}
			return _results;
		};
		this.on('keyup', count_sms);
		return count_sms();
	};
	/*]]>*/
</script>
</body>
</html>
