<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'clients.list', subpage = 'admin')" />

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.client.list.headline}" />
				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th class="col-md-3" th:text="#{html.entity.client.name}" />
										<th class="col-md-4" th:text="#{html.entity.client.ApiKey}" />
										<th class="col-md-4" th:text="#{html.entity.client.accessRole}" />
										<th class="col-md-1" th:text="#{html.control.operations}" />
									</tr>
								</thead>
					
								<tbody>
									<tr th:each="client : ${clients}">
										<td th:text="${client.name}" />
										<td>
											<em th:onclick="'togglePassword(' + ${client.id} + ');'" class="fa fa-fw fa-eye" />&nbsp;&nbsp;
											<span th:attr="data-key=${client.apiKey}" th:id="'pwd-' + ${client.id}">********</span>
										</td>
										<td th:text="#{__${T(dk.digitalidentity.sofd.dao.model.enums.AccessRole).valueOf(client.accessRole).messageId}__}" />
										<td>
											<a th:href="@{/ui/client/view/} + ${client.id}"><em class="fa fa-fw fa-search" /></a>
											<a th:href="@{/ui/client/edit/} + ${client.id}"><em class="fa fa-fw fa-pencil" /></a>
											<a href="#" th:onclick="'handleDelete(' + ${client.id} + ');'"><em class="fa fa-fw fa-remove" /></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	
	<script th:replace="fragments/datatables :: datatables " />
	
	<script th:inline="javascript">
	/*<![CDATA[*/

		var stars = '********';
	
		/*[+
		var deleteURL = [[@{/ui/client/delete}]];
		var getClientsUrl = [[@{/ui/client/getClientList}]];
		
		var deleteTitle = [[#{html.client.delete.title}]];
		var deleteText = [[#{html.client.delete.text}]];
		var deleteButtonConfirm = [[#{html.button.delete}]];
		var deleteButtonCancel = [[#{html.button.cancel}]];
		+]*/

		function handleDelete(clientId) {
			swal({
				html : true,
				title : deleteTitle,
				text : deleteText,
				type : "warning",
				showCancelButton : true,
				confirmButtonColor : "#DD6B55",
				confirmButtonText : deleteButtonConfirm,
				cancelButtonText : deleteButtonCancel,
				closeOnConfirm : true,
				closeOnCancel : true
			},
			function(isConfirm) {
				if (isConfirm) {
					window.location = deleteURL + '/' + clientId;
				}
			});
		}
	
		function togglePassword(clientId) {			
			if ($("#pwd-" + clientId).text() == stars) {
				$("#pwd-" + clientId).text($("#pwd-" + clientId).data("key"));
			}
			else {
				$("#pwd-" + clientId).text(stars);
			}
		}
		
		/*]]>*/
	</script>
</body>
</html>