<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'clients.list', subpage = 'admin')" />
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.client.view.headline}" />

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal" id="requirement-form" th:object="${client}">
									<fieldset>
										<div class="form-group">
											<label class="col-sm-2 control-label" th:text="#{html.client.name}" />
											<div class="col-sm-8">
												<input th:field="*{name}" class="form-control" readonly="readonly" />
											</div>
										</div>
									</fieldset>

									<fieldset>
										<div class="form-group">
											<label class="col-sm-2 control-label" th:text="#{html.client.apiKey}"/>
											<div class="col-sm-8">
												<div th:text="*{apiKey}" class="preformat form-control" style="height: auto !important;" readonly="readonly" />
											</div>
										</div>
									</fieldset>

									<fieldset>
										<div class="form-group">
											<label class="col-sm-2 control-label" th:text="#{html.client.access}"/>
											<div class="col-sm-8">
												<div th:text="#{*{accessRole}}" class="preformat form-control" style="height: auto !important;" readonly="readonly" />
											</div>
										</div>
									</fieldset>

									<th:block th:if="${client.accessRole == 'html.enum.accessrole.limitedReadAccess'}">
										<fieldset>
											<div class="form-group">
												<label class="col-sm-2 control-label" th:text="#{html.client.view.list.ou}"/>
												<div class="col-sm-8">
													<ul>
														<li style="padding-left: 16px;" th:each="field : ${ouFieldList}" th:value="${field}" th:text="#{${field}}" ></li>
													</ul>
												</div>
											</div>
										</fieldset>
	
										<fieldset>
											<div class="form-group">
												<label class="col-sm-2 control-label" th:text="#{html.client.view.list.user}"/>
												<div class="col-sm-8">
													<ul>
														<li style="padding-left: 16px;" th:each="field : ${userFieldList}" th:value="${field}" th:text="#{${field}}" ></li>
													</ul>
												</div>
											</div>
										</fieldset>
									</th:block>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer"/>
</body>
</html>
