<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'sms')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'sms.message', subpage = 'sms')" />

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.sms.search.headline}" />

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
								<form class="form-horizontal" id="search-form" method="post" th:object="${searchForm}" th:action="@{/ui/sms/filter}">
									<div class="form-group">
										<div class="col-sm-offset-1 col-sm-10">
											<div class="table-responsive">
												<table id="listTable" class="table table-striped table-hover listTable">
													<thead>
														<tr>
															<th class="col-md-1" />
															<th class="col-md-4" th:text="#{html.page.sms.filter.name}" />
															<th class="col-md-4" th:text="#{html.page.sms.filter.phone}" />
															<th class="col-md-3" th:text="#{html.page.sms.filter.type}" />
														</tr>
													</thead>
													<tbody>
														<tr th:each="selectedPhoneNumber : ${phoneNumbers}">
															<td>
																<span class="checkbox c-checkbox" style="display: inline;">
																	<label>
																		<input th:id="'checkbox-' + ${selectedPhoneNumber.id}" onclick="checkboxChange(this);" type="checkbox" checked="checked" th:value="${selectedPhoneNumber.phone}"/>
																		<span class="fa fa-check" />
																	</label>
																</span>
															</td>
															<td th:text="${selectedPhoneNumber.name}" />
															<td th:text="${selectedPhoneNumber.phone}" />
															<td th:text="#{__${T(dk.digitalidentity.sofd.controller.mvc.dto.RecipientType).valueOf(selectedPhoneNumber.type).message}__}" />
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-10 col-sm-offset-1">
											<button type="button" onclick="sendMessage()" class="btn btn-primary btn-block" th:text="#{html.button.send}"></button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer" />
	<script th:replace="fragments/datatables :: datatables (pageLength=10)" />

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var sendMessageUrl  = [[@{/ui/sms/sendmessage}]];
			var successUrl = [[@{/ui/sms/message}]];
			var msgSuccess = [[#{html.page.sms.message.success}]];
			var msgFailure = [[#{html.page.sms.message.failure}]];
			var phoneNumbers = [[${phoneNumbers}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		$(document).ready(function() {
			// initialize all to checked
			for (var i = 0; i < phoneNumbers.length; i++) {
				phoneNumbers[i].checked = true;
			}
		});

		function checkboxChange(cbox) {
			var checked = $(cbox).prop("checked");
			var id = $(cbox).prop("id").substr(9);
			
			for (var i = 0; i < phoneNumbers.length; i++) {
				if (phoneNumbers[i].id == id) {
					phoneNumbers[i].checked = checked;
					break;
				}
			}
		}

		function sendMessage() {
			var selectedNumbers = [];
			for (var i = 0; i < phoneNumbers.length; i++) {
				var row = phoneNumbers[i];

				if (!row.checked) {
					continue;
				}
				
				var obj = {
					name : row.name,
					phone : row.phone,
					type : row.type.$name						
				}

				selectedNumbers.push(obj);
			}
			
			$.ajax({
				contentType: 'application/json',
				url: sendMessageUrl,
				method : "POST",
				headers: {
					'X-CSRF-TOKEN': token
				},
				data : JSON.stringify(selectedNumbers),
				error: function(response) {
					swal({
						title: msgFailure,
						type: 'error',
						confirmButtonColor: '#3085d6',
					});
				},
				success: function(response) {
					swal({
						title: msgSuccess,
						type: 'success',
						confirmButtonColor: '#3085d6',
					},
					function (isConfirm) {
						if (isConfirm) {
							window.location = successUrl;
						}
					});
				}
			});
		}

		/*]]>*/
	</script>
</body>
</html>