<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'sms')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'sms.message', subpage = 'sms')" />

		<section>
			<div class="content-wrapper">
				<h3>
					<span th:text="#{html.page.sms.message.title}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
								<form class="form-horizontal" id="message-form" method="post" th:action="@{/ui/sms/message}">
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.sms.message.message}"></label>
										<div class="col-sm-8">
											<blockquote class="blockquote">
												<textarea id="selectedMessage" name="selectedMessage" class="mb-0 preformat" rows="10" style="width:100%;"></textarea>
												<footer id="sms-counter" class="blockquote-footer">
													<span class="length"></span>/<span class="per_message"></span>
													<span class="messages text-danger"></span>
												</footer>
											</blockquote>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">
											<button class="btn btn-primary btn-block form-control" th:text="#{html.page.sms.pickrecipients}"></button>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-1 col-sm-10">
											<h3 th:text="#{html.page.sms.picktemplate}"/>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-1 col-sm-10 table-responsive">
											<table id="templateList" class="table table-striped listTable">
												<thead>
													<tr>
														<th class="hidden"></th>
														<th class="col-md-3" th:text="#{html.entity.template.name}" />
														<th class="col-md-9" th:text="#{html.entity.template.message}" />
													</tr>
												</thead>
										
												<tbody>
													<tr th:each="template : ${templates}">
														<td class="hidden" th:text="${template.id}"/>
														<td th:text="${template.name}" />
														<td class="preformat" th:text="${template.message}" />
													</tr>
												</tbody>
											</table>
										</div>
									</div>									
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<style>
		option.form-control:first-child {
			margin-top:0px;
		}
		option.form-control {
			margin:1px 0px;
		}
		option.form-control:last-child {
			margin-bottom:0px;
		}
	</style>

	<div th:replace="fragments/footer :: footer" />
	
	<script th:replace="fragments/datatables :: datatables (paging=true)" />

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		+]*/

		var token = $("meta[name='_csrf']").attr("content");
		
		$(document).ready(function() {
			//Initialize sms char counter
			$("#selectedMessage").countSms("#sms-counter");
			
			var templatesTable = $('#templateList').DataTable({
				"bDestroy": true,
				'paging': true,
				'ordering': true,
				'info': true,
				'pageLength': 10,
				'language': {
					"search":	   searchTxt,
					"lengthMenu":   dropdownTxt,
					"info":		 infoDefaultTxt,
					"zeroRecords":  infoEmptyTxt,
					"infoEmpty":	"",
					"infoFiltered": infoFilteredTxt,
					"paginate": {
						"next": nextTxt,
						"previous": prevTxt
					}
				},
				select: {
					style: 'single'
				}
			});

			templatesTable.on('select', function (e, dt, type, indexes) {
				var bla = dt.row({selected: true}).data();
				document.getElementById("selectedMessage").value = bla[2];

				$('#selectedMessage').keyup();
			});

			templatesTable.on('deselect', function( e, dt, type, indexes ){
				document.getElementById("selectedMessage").value = '';
				
				$('#selectedMessage').keyup();
			});
		});
		
		var SmsCounter;

		window.SmsCounter = SmsCounter = (function() {
			function SmsCounter() {
				
			}

			SmsCounter.gsm7bitChars = "@£$¥èéùìòÇ\\nØø\\rÅåΔ_ΦΓΛΩΠΨΣΘΞÆæßÉ !\\\"#¤%&'()*+,-./0123456789:;<=>?¡ABCDEFGHIJKLMNOPQRSTUVWXYZÄÖÑÜ§¿abcdefghijklmnopqrstuvwxyzäöñüà";
			SmsCounter.gsm7bitExChar = "\\^{}\\\\\\[~\\]|€";
			SmsCounter.gsm7bitRegExp = RegExp("^[" + SmsCounter.gsm7bitChars + "]*$");
			SmsCounter.gsm7bitExRegExp = RegExp("^[" + SmsCounter.gsm7bitChars + SmsCounter.gsm7bitExChar + "]*$");
			SmsCounter.gsm7bitExOnlyRegExp = RegExp("^[\\" + SmsCounter.gsm7bitExChar + "]*$");
			SmsCounter.GSM_7BIT = 'GSM_7BIT';
			SmsCounter.GSM_7BIT_EX = 'GSM_7BIT_EX';
			SmsCounter.UTF16 = 'UTF16';

			SmsCounter.messageLength = {
				GSM_7BIT : 160,
				GSM_7BIT_EX : 160,
				UTF16 : 70
			};

			SmsCounter.multiMessageLength = {
				GSM_7BIT : 153,
				GSM_7BIT_EX : 153,
				UTF16 : 67
			};

			SmsCounter.count = function(text) {
				var count, encoding, length, messages, per_message, remaining;
				encoding = this.detectEncoding(text);
				length = text.length;

				if (encoding === this.GSM_7BIT_EX) {
					length += this.countGsm7bitEx(text);
				}
				per_message = this.messageLength[encoding];
				
				if (length > per_message) {
					per_message = this.multiMessageLength[encoding];
				}
				messages = Math.ceil(length / per_message);
				remaining = (per_message * messages) - length;
				
				if (remaining == 0 && messages == 0) {
					remaining = per_message;
				}
				
				return count = {
					encoding : encoding,
					length : length,
					per_message : per_message,
					remaining : remaining,
					messages : messages
				};
			};

			SmsCounter.detectEncoding = function(text) {
				switch (false) {
					case text.match(this.gsm7bitRegExp) == null:
						return this.GSM_7BIT;
					case text.match(this.gsm7bitExRegExp) == null:
						return this.GSM_7BIT_EX;
					default:
						return this.UTF16;
				}
			};

			SmsCounter.countGsm7bitEx = function(text) {
				var char2, chars;
				
				chars = (function() {
					var _i, _len, _results;
					_results = [];
					for (_i = 0, _len = text.length; _i < _len; _i++) {
						char2 = text[_i];
						if (char2.match(this.gsm7bitExOnlyRegExp) != null) {
							_results.push(char2);
						}
					}
					return _results;
				}).call(this);
				return chars.length;
			};

			return SmsCounter;
		})();

		$.fn.countSms = function(target) {
			var count_sms, input;
			input = this;
			target = $(target);
			count_sms = function() {
				var count, k, v, _results;
				count = SmsCounter.count(input.val());
				_results = [];
				for (k in count) {
					v = count[k];
					if(k == "messages"){
						if(v <= 1){
							_results.push(target.find("." + k).text(""));
						}else{
							_results.push(target.find("." + k).text(v+" beskeder"));
						}
					} else {
						_results.push(target.find("." + k).text(v));
					}
				}
				return _results;
			};
			this.on('keyup', count_sms);
			
			return count_sms();
		};

		/*]]>*/
	</script>
</body>
</html>