<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'sms')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'sms.log', subpage = 'sms')" />

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
								<form class="form-horizontal">

									<div class="form-group">
										<label class="col-sm-2 control-label"/>
										<div class="col-sm-offset-1 col-sm-10">
											<div class="table-responsive">
												<table id="listTable" class="table table-striped table-hover listTable">
													<thead>
														<tr>
															<th class="col-md-3" th:text="#{html.page.sms.log.userId}" />
															<th class="col-md-5" th:text="#{html.page.sms.log.message}" />
															<th class="col-md-3" th:text="#{html.page.sms.log.timestamp}" />
															<th class="col-md-1" th:text="#{html.control.operations}" />
														</tr>
													</thead>
													<tbody>
														<tr th:each="log : ${logs}">
															<td th:text="${log.userId}" />
															<td class="preformat wrap-text" style="-webkit-line-clamp: 5;" th:text="${log.message}" />
															<td th:text="${#dates.format(log.timestamp, 'yyyy-MM-dd  HH:mm')}" />
															<td>
																<a th:href="@{/ui/sms/log/} + ${log.id}"><em class="fa fa-fw fa-search" /></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer" />
	<script th:replace="fragments/datatables :: datatables (paging=false)" />

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		$(document).ready(function() {
		});

		/*]]>*/
	</script>
</body>
</html>