<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'person.new', subpage = 'phonebook')" />
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.person.new.headline}" />

				<div class="panel panel-default">
					<div class="panel-heading"/>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal" id="person-form" th:action="@{/ui/person/new}" method="post" th:object="${createPersonDTO}">
									<input id="realInheritPrivilegesFromOU" type="hidden" th:field="*{affiliation.inheritPrivilegesFromOU}" />
									<input id="realRegisteredPostAddressProtected" type="hidden" th:field="*{registeredPostAddress.addressProtected}" />
									<input id="realAffiliation.orgUnitUuid" type="hidden" th:field="*{affiliation.orgUnitUuid}"/>
									<input id="tempAffiliation.positionName" type="hidden" th:value="*{affiliation.positionName}"/>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.type}"/>
										<div class="col-sm-8" style="padding-left: 35px;">
											<div class="c-radio">
												<label>
													<input th:field="*{affiliation.affiliationType}" type="radio" value="EMPLOYEE" onchange="setAffiliationType(false);"/>
													<span class="fa fa-circle"/>
													<th:block th:text="#{html.page.person.new.employee}"/>
												</label>
											</div>
				
											<div class="c-radio">
												<label>
													<input th:field="*{affiliation.affiliationType}" type="radio" value="EXTERNAL" onchange="setAffiliationType(true);"/>
													<span class="fa fa-circle"/>
													<th:block th:text="#{html.page.person.new.external}"/>
												</label>
											</div>
										</div>
									</div>

									<hr/>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.person.cpr}"/>
										<div class="col-sm-8">
											<input th:field="*{cpr}" class="form-control" autofocus="autofocus" />
											<ul th:if="${#fields.hasErrors('cpr')}" class="error">
												<li th:each="err : ${#fields.errors('cpr')}" th:text="${err}"/>
											</ul>
										</div>
										<div class="col-sm-2">
											<div class="btn btn-primary btn-lg" style="width: 100px;" th:text="#{html.action.fetch}" onclick="hent()"/>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.person.firstname}"/>
										<div class="col-sm-8">
											<input th:field="*{firstname}" class="form-control" autofocus="autofocus" />
											<ul th:if="${#fields.hasErrors('firstname')}" class="error">
												<li th:each="err : ${#fields.errors('firstname')}" th:text="${err}"/>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.person.surname}"/>
										<div class="col-sm-8">
											<input th:field="*{surname}" class="form-control"/>
											<ul th:if="${#fields.hasErrors('surname')}" class="error">
												<li th:each="err : ${#fields.errors('surname')}" th:text="${err}"/>
											</ul>
										</div>
									</div>
									
									<hr/>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.affiliation.orgunit}"/>
										<div class="col-sm-8">
											<input th:field="*{affiliation.orgUnitName}" class="form-control" readonly="readonly" onfocus="chooseOU()"/>
											<ul th:if="${#fields.hasErrors('affiliation.orgUnitUuid')}" class="error">
												<li th:each="err : ${#fields.errors('affiliation.orgUnitUuid')}" th:text="${err}"/>
											</ul>
										</div>
										<div class="col-sm-2">
											<div class="btn btn-primary" th:text="#{html.page.person.new.affiliation.orgunit.choose}" onclick="chooseOU()"></div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.affiliation.positionName}"/>
										<div class="col-sm-8">
											<select th:field="*{affiliation.positionName}" class="form-control"></select>
											<ul th:if="${#fields.hasErrors('affiliation.positionName')}" class="error">
												<li th:each="err : ${#fields.errors('affiliation.positionName')}" th:text="${err}"/>
											</ul>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.affiliation.stopDate}" />
										<div class="col-sm-8">
											<div class="input-group date" id="stopDatePicker">
												<input th:field="*{affiliation.stopDate}" class="form-control" />
												<span class="input-group-addon">
													<span class="fa fa-calendar"></span>
												</span>
											</div>
											<div th:if="${#fields.hasErrors('affiliation.stopDate')}" class="input-group">
												<ul class="error">
													<li th:each="err : ${#fields.errors('affiliation.stopDate')}" th:text="${err}"/>
												</ul>
											</div>
										</div>
									</div>

									<div id="inheritDiv" class="form-group" th:style="${createPersonDTO.affiliation.inheritPrivilegesFromOU} == true ? '' : 'display: none;'">
										<label class="col-sm-2 control-label">
											<a tabindex="0" class="hintPopovers" data-toggle="popover" data-trigger="focus" data-placement="right" th:attr="data-content=#{html.page.person.new.hint.inherit},title=#{html.page.person.new.inherit}" style="text-decoration: none;">
												<em style="color: black;" class="fa fa-fw fa-question"></em>
											</a>
											<span th:text="#{html.page.person.new.inherit}"/>
										</label>

										<div class="col-sm-8">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" th:checked="*{affiliation.inheritPrivilegesFromOU}" onchange="inheritChange(this)"/>
													<span class="fa fa-check" />
												</label>
											</div>
										</div>
									</div>

									<hr/>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.post.street}"/>
										<div class="col-sm-8">
											<input th:field="*{registeredPostAddress.street}" class="form-control" />
											<ul th:if="${#fields.hasErrors('registeredPostAddress.street')}" class="error">
												<li th:each="err : ${#fields.errors('registeredPostAddress.street')}" th:text="${err}"/>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.post.localname}"/>
										<div class="col-sm-8">
											<input th:field="*{registeredPostAddress.localname}" class="form-control"/>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.post.postalCode}"/>
										<div class="col-sm-8">
											<input th:field="*{registeredPostAddress.postalCode}" class="form-control" />
											<ul th:if="${#fields.hasErrors('registeredPostAddress.postalCode')}" class="error">
												<li th:each="err : ${#fields.errors('registeredPostAddress.postalCode')}" th:text="${err}"/>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.post.city}"/>
										<div class="col-sm-8">
											<input th:field="*{registeredPostAddress.city}" class="form-control" />
											<ul th:if="${#fields.hasErrors('registeredPostAddress.city')}" class="error">
												<li th:each="err : ${#fields.errors('registeredPostAddress.city')}" th:text="${err}"/>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.post.country}"/>
										<div class="col-sm-8">
											<input th:field="*{registeredPostAddress.country}" class="form-control" />
											<ul th:if="${#fields.hasErrors('registeredPostAddress.country')}" class="error">
												<li th:each="err : ${#fields.errors('registeredPostAddress.country')}" th:text="${err}"/>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.post.addressProtected}"/>
										<div class="col-sm-8">
											<div class="checkbox c-checkbox">
												<label>
													<input id="registeredPostAddress.addressProtected" class="checkboxaction" type="checkbox" th:checked="*{registeredPostAddress.addressProtected}"/>
													<span class="fa fa-check" />
												</label>
											</div>
										</div>
									</div>

									<hr/>
									
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" style="margin-right: 5px;" class="btn btn-lg btn-primary col-xs-2"  th:text="#{html.control.button.save}"/>
											<a th:href="@{/ui/person}" style="margin-right: 5px;" class="btn btn-lg btn-danger col-xs-2" th:text="#{html.control.button.cancel}"/>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="modal fade bd-example-modal-lg" id="modal-ou" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 th:text="#{html.page.person.new.affiliation.orgunit.choose}"/>
				</div>

				<div class="modal-body">
					<th:block th:replace="orgunit/fragments/orgunit_tree :: orgUnitTree(namespace='userOU')"></th:block>
				</div>

				<div class="modal-footer">
					<button type="button" id="save" class="btn btn-primary" onclick="saveOu()" th:text="#{html.control.button.save}"/>
					<button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.cancel}"/>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"/>
	<script th:replace="orgunit/fragments/orgunit_tree :: orgUnitTreeScript(configObj='ouJSTreeConfig')"/>

	<style>
		.popover {
			width: 250px;
		}
	</style>

	<script th:inline="javascript">
	/*<![CDATA[*/
	
		/*[+
			var msgInvalidCPR = [[#{html.page.person.new.msg.invalidCPR}]];
			var msgFetchFail = [[#{html.page.person.new.msg.fetchFail}]];
			var msgAlreadyExists = [[#{html.page.person.new.msg.alreadyExists}]];
			var msgSuccess = [[#{html.page.person.new.msg.success}]];
			var restUrl = [[@{/rest/person}]];
			var ouRestUrl = [[@{/rest/orgunit}]];
			var allOus = [[${ous}]];
		+]*/
		var token = $("meta[name='_csrf']").attr("content");
		var selectedOU;

		String.prototype.replaceAll = function(search, replacement) {
			var target = this;
			return target.replace(new RegExp(search, 'g'), replacement);
		};

		$(document).ready(function () {
			$('#registeredPostAddress\\.addressProtected').change(handleOnChangeEventForProtectedAddress);

			// in case of page refresh
			handleOnChangeEventForProtectedAddress();
			// in case of page refresh reload positions
			var selectedOrgUnit = $('#realAffiliation\\.orgUnitUuid').val();
			if (selectedOrgUnit){
				updatePositionDropdown(selectedOrgUnit, function () {
					//in case of page refresh
					var selectedPosition = $('#tempAffiliation\\.positionName').val();
					if (selectedPosition) {
						$('#affiliation\\.positionName').val(selectedPosition);
					}
				});
			}

			$('#stopDatePicker').datetimepicker({
	            format: 'YYYY-MM-DD'
			});
		});

		function setAffiliationType(s) {
			if (s) {
				$("#inheritDiv").show();
			}
			else {
				$("#inheritDiv").hide();
			}
		}
		
		function hent() {
			var cpr = $("#cpr").val();
			cpr = cpr.replaceAll(/[^A-Za-z0-9]/g, '');

			if (cpr.length != 10) {
				$.notify({
					message: msgInvalidCPR
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});

				return;
			}

			$.ajax({
				method : "GET",
				url: restUrl + "/getByCPR",
				headers: {
					"cpr": cpr,
					'X-CSRF-TOKEN': token
				},
			}).done(function (data) {
				$.notify({
					message: msgSuccess
				}, {
					status: 'success',
					autoHideDelay: 2000
				});

				$("#firstname").val(data.firstname);
				$("#surname").val(data.lastname);
				$("#registeredPostAddress\\.street").val(data.street);
				$("#registeredPostAddress\\.localname").val(data.localname);
				$("#registeredPostAddress\\.postalCode").val(data.postalCode);
				$("#registeredPostAddress\\.city").val(data.city);
				$("#registeredPostAddress\\.country").val(data.country);
				$("#registeredPostAddress\\.addressProtected").prop( "checked", data.addressProtected );
				handleOnChangeEventForProtectedAddress();
				
			}).fail(function (jqXHR, textStatus, errorThrown) {
				if(jqXHR.status == 409){
					$.notify({
						message: msgAlreadyExists
					}, {
						status: 'warning',
						autoHideDelay: 4000
					});
				}
				else if(jqXHR.status == 404){
					$.notify({
						message: msgFetchFail
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}
				else {
					$.notify({
						message: msgFetchFail
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}
			});
		}
		
		function handleOnChangeEventForProtectedAddress() {
			if ($('#registeredPostAddress\\.addressProtected').is(':checked')) {
				$('#realRegisteredPostAddressProtected').val(true);
			} else {
				$('#realRegisteredPostAddressProtected').val(false);
			}
		};

		function inheritChange(s) {
			if (s.checked) {
				$('#realInheritPrivilegesFromOU').val(true);
			} else {
				$('#realInheritPrivilegesFromOU').val(false);
			}
		}

		function chooseOU() {
			$('#modal-ou').modal('show');
		}

		function saveOu() {
			if (selectedOU != null) {
				$('#realAffiliation\\.orgUnitUuid').val(selectedOU.id);
				$('#affiliation\\.orgUnitName').val(selectedOU.text);
				$('#modal-ou').modal('hide');
				
				updatePositionDropdown(selectedOU.id, null);
			}
		}
		
		function updatePositionDropdown(uuid, callback) {
			$.ajax({
				method : "GET",
				url: ouRestUrl + "/" + uuid + "/getPositionNames",
				headers: {
					'X-CSRF-TOKEN': token
				},
			}).done(function(data) {
				$('#affiliation\\.positionName').find("option").remove();
				$.each(data, function(i, val) {
					$('#affiliation\\.positionName').append($("<option></option>")
		                    .attr("value", val)
		                    .text(val));
				});
				if (callback) {
					callback();
				}
			});
		}

		var ouJSTreeConfig = {
			namespace: 'userOU',
			refreshCallback: function () {
				$("#userOUorgUnitTreeHierarchy").on("select_node.jstree", function(e, data) {
					selectedOU = data.node;
				});
			},
			staticOrg: null
		}

		$('#modal-ou').on('shown.bs.modal', function () {
    		$('#userOUorgUnitTreeSearchField').focus();
		})
		/*]]>*/
	</script>
</body>
</html>
