<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'person.new', subpage = 'phonebook')" />
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.person.receipt.headline}" />

				<div class="panel panel-default">
					<div class="panel-heading"/>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.person.receipt.name}" />
										<div class="col-sm-10">
											<input th:value="${name}" class="form-control" readonly="readonly"/>
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.person.receipt.orgunitname}" />
										<div class="col-sm-10">
											<input th:value="${orgUnitName}" class="form-control" readonly="readonly"/>
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.person.receipt.positionname}" />
										<div class="col-sm-10">
											<input th:value="${positionName}" class="form-control" readonly="readonly"/>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.person.receipt.usertype}" />
										<div class="col-sm-10">
											<div style="padding-bottom: 20px;" th:text="#{html.person.receipt.usertype.content}"/>

											<div th:each="userType : ${userTypes}">
												<em class="fa fa-fw" th:classappend="${userType.flagged} ? 'fa-check' : 'fa-ban'" th:style="${userType.flagged} ? 'color: green;' : 'color: red;'"></em>&nbsp;
												<span th:text="${userType.userTypeName}"/>
											</div>
										</div>
									</div>
								</fieldset>
																
								<fieldset>
									<div class="form-group">
										<div class="col-sm-12">
											<a class="btn btn-lg btn-primary" th:text="#{html.button.ok}" th:href="@{/ui/person/view/} + ${uuid}"/>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer"/>
</body>
</html>
