<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')" />
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'persons', subpage='phonebook')" />

	<section>
		<div class="content-wrapper">
			<h3>
				<th:block th:if="${backRef != null}">
					<a onclick="window.history.back()" href="#" class="btn btn-default">
						<span><i class="fa fa-arrow-left"></i></span>
					</a>
				</th:block>
				<span th:text="#{html.page.person.view.title}"/>

				<div id="buttonsMenu" style="position: absolute; right: 0; top: 0; margin-top:10px; margin-right: 20px;" />
			</h3>

			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<fieldset>
								<div class="row">
									<label class="col-sm-3 control-label" th:text="#{html.entity.person.uuid}" />
									<div class="col-sm-9">
										<input th:value="${person.uuid}" class="form-control personMasterTooltip" readonly="readonly"/>
									</div>
								</div>

								<div class="row">
									<label class="col-sm-3 control-label" th:text="#{html.entity.person.cpr}" />
									<div class="col-sm-9">
										<input th:field="${person.cpr}" class="form-control personMasterTooltip" readonly="readonly" />
									</div>
								</div>
							</fieldset>

							<div id="core">
								<fieldset>
									<input name="personUuid" type="hidden" th:value="${person.uuid}" />
									<div class="row">
										<label class="col-sm-3 control-label" th:text="#{html.entity.person.firstname}" />
										<div class="col-sm-9">
											<input name="firstname" th:value="${person.firstname}" class="form-control personMasterTooltip" readonly="readonly"/>
										</div>
									</div>
					
									<div class="row">
										<label class="col-sm-3 control-label" th:text="#{html.entity.person.surname}" />
										<div class="col-sm-9">
											<input name="surname" th:value="${person.surname}" class="form-control personMasterTooltip" readonly="readonly"/>
										</div>
									</div>
					
									<div class="row">
										<label class="col-sm-3 control-label" th:text="#{html.entity.person.chosenName}" />
										<div class="col-sm-9">
											<input name="chosenName" th:value="${person.chosenName}" class="form-control personMasterTooltip" readonly="readonly"/>
										</div>
									</div>
								</fieldset>
							</div>

							<fieldset>
								<div class="row">
									<label class="col-sm-3 control-label" th:text="#{html.entity.person.firstEmploymentDate}" />
									<div class="col-sm-9">
										<input th:value="${person.firstEmploymentDate}" class="form-control personMasterTooltip" readonly="readonly" />
									</div>
								</div>

								<div class="row">
									<label class="col-sm-3 control-label" th:text="#{html.entity.person.anniversaryDate}" />
									<div class="col-sm-9">
										<input th:value="${person.anniversaryDate}" class="form-control personMasterTooltip" readonly="readonly" />
									</div>
								</div>
							</fieldset>							
						</div>

						<div class="col-lg-6">
							<fieldset>
								<div class="row">
									<label class="col-sm-3 control-label" th:text="#{html.entity.person.registeredPostAddress}"/>
									<div th:switch="${person.registeredPostAddress != null and person.registeredPostAddress.addressProtected}" class="col-sm-9">
										<span th:case="${true}" class="col-sm-9 form-control" style="background-color: #edf1f2">
											<em class="fa fa-fw fa-eye" onclick="toggleAddress('#registeredPostAddress')"/>
											<label id="registeredPostAddress" th:text="${'********'}" th:attr="data-key=${person.registeredPostAddress.street + ', ' + person.registeredPostAddress.postalCode + ' ' + person.registeredPostAddress.city}"/>
										</span>
										<input th:case="${false}" th:value="${person.registeredPostAddress != null ? (person.registeredPostAddress.street + ', ' + person.registeredPostAddress.postalCode + ' ' + person.registeredPostAddress.city) : ''}" class="form-control regPostMasterTooltip" readonly="readonly" />
									</div>
								</div>

								<div class="row">
									<label class="col-sm-3 control-label" th:text="#{html.entity.person.residencePostAddress}"/>
									<div th:switch="${person.residencePostAddress != null and person.residencePostAddress.addressProtected}" class="col-sm-9">
										<span th:case="${true}" class="col-sm-9 form-control" style="background-color: #edf1f2">
											<em class="fa fa-fw fa-eye" onclick="toggleAddress('#residencePostAddress')"/>
											<label id="residencePostAddress" th:text="${'********'}" th:attr="data-key=${person.residencePostAddress.street + ', ' + person.residencePostAddress.postalCode + ' ' + person.residencePostAddress.city}"/>
										</span>
										<input th:case="${false}" th:value="${person.residencePostAddress != null ? (person.residencePostAddress.street + ', ' + person.residencePostAddress.postalCode + ' ' + person.residencePostAddress.city) : ''}" class="form-control resPostMasterTooltip" readonly="readonly" />
									</div>
								</div>
							</fieldset>

							<fieldset>
								<div class="row">
									<label class="col-sm-3 control-label" th:text="#{html.entity.person.created}" />
									<div class="col-sm-9">
										<input th:value="${#dates.format(person.created, 'yyyy-MM-dd  HH:mm')}" class="form-control personMasterTooltip" readonly="readonly" />
									</div>
								</div>

								<div class="row">
									<label class="col-sm-3 control-label" th:text="#{html.entity.person.lastchanged}" />
									<div class="col-sm-9">
										<input th:value="${person.lastChanged != null ? #dates.format(person.lastChanged, 'yyyy-MM-dd  HH:mm') : ''}" class="form-control personMasterTooltip" readonly="readonly" />
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="row">
									<label class="col-sm-3 control-label" th:text="#{html.entity.person.taxedPhone}" />
									<div class="col-sm-9">
										<span class="checkbox c-checkbox" style="display: inline;">
											<label>
												<input class="checkboxaction" id="taxedPhone" type="checkbox" onchange="handleCheckboxChange()" th:checked="${person.taxedPhone}"/>
												<span class="fa fa-check" />
											</label>
										</span>
									</div>
								</div>
							</fieldset>
						</div>
					</div>

					<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab" href="#affiliation_menu" th:text="#{html.entity.person.affiliations}"></a>
						</li>
						<li>
							<a data-toggle="tab" href="#user_menu" th:text="#{html.entity.person.users}"></a>
						</li>
						<li>
							<a data-toggle="tab" href="#phone_menu" th:text="#{html.entity.person.phones}"></a>
						</li>
						<li>
							<a data-toggle="tab" href="#keywords_menu" th:text="#{html.page.person.view.contact.title}"></a>
						</li>
						<li sec:authorize="hasRole('ROLE_MODULE_PERSON_COMMENT')">
							<a data-toggle="tab" href="#comment_menu" th:text="#{html.page.person.view.comment.title}"></a>
						</li>
					</ul>

					<div class="tab-content">
						<div id="affiliation_menu" class="tab-pane fade in active">
							<div class="btn-group">
							  <button type="button" style="width: auto !important;" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
							    <em class="fa fa-fw fa-cog"></em>
							  </button>
							  
							  <ul class="dropdown-menu" role="menu" id="dataTableAffiliationDropdown">
							    <li><a href="#" data-cid="0" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.affiliation.positionName}" /></a></li>
							    <li><a href="#" data-cid="1" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.affiliation.orgunit}" /></a></li>
							    <li><a href="#" data-cid="2" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.affiliation.startDate}" /></a></li>
							    <li><a href="#" data-cid="3" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.affiliation.stopDate}" /></a></li>
								<li><a href="#" data-cid="4" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.affiliation.status}" /></a></li>
							  </ul>
							</div>

							<th:block sec:authorize="hasRole('ROLE_USER_EDIT')">
								<a th:href="@{/ui/person/affiliation/{personUUID}(personUUID=${person.uuid})}">
									<div style="width:200px" class="btn btn-lg btn-primary">
										<i class="fa fa-fw fa-handshake-o" aria-hidden="true"></i>&nbsp;
										<span th:text="#{html.entity.person.create.affiliation}"></span>
									</div>
								</a>
							</th:block>
							
							<th:block sec:authorize="hasRole('ROLE_USER_EDIT')">
								<button th:if="${affiliations.size()} &gt; 1" style="width:230px" onclick="showPrimeAffiliationModal()" class="btn btn-lg btn-primary">
									<div>
										<i class="fa fa-paperclip"></i>
										<span th:text="#{html.page.person.view.choose.primary.affiliation}"></span>
									</div>
								</button>
							</th:block>

							<th:block sec:authorize="hasRole('ROLE_USER_EDIT') and hasRole('ROLE_MODULE_ACCOUNT_CREATION')">
								<a href="#" onclick="flagService.toggleLeaveModal(false);">
									<th:block th:if="${person.leave == true}">
										<div style="width:250px" class="btn btn-lg btn-warning">
											<i class="fa fa-fw fa-ban" aria-hidden="true"></i>&nbsp;
											<span th:text="#{html.entity.person.leave.remove}"></span>
										</div>
									</th:block>
									<th:block th:if="${person.leave == false}">
										<div style="width:250px" class="btn btn-lg btn-primary">
											<i class="fa fa-fw fa-ban" aria-hidden="true"></i>&nbsp;
											<span th:text="#{html.entity.person.leave.add}"></span>
										</div>
									</th:block>
								</a>
							</th:block>
							
							<table id="listTable1" class="table table-striped table-hover listTable">
								<thead>
									<th th:text="#{html.entity.affiliation.positionName}" />
									<th th:text="#{html.entity.affiliation.orgunit}" />
									<th th:text="#{html.entity.affiliation.startDate}" />
									<th th:text="#{html.entity.affiliation.stopDate}" />
									<th th:text="#{html.entity.affiliation.status}" />
									<th class="col-md-1" th:text="#{html.control.operations}" />
								</thead>

								<tbody>
								<tr th:each="affiliation : ${person.affiliations.?[deleted == false]}">
									<td th:text="${affiliation.positionName}" />
									<td>
										<th:block th:if="${affiliation.orgUnit != null}">
											<a th:href="@{/ui/orgunit/view/} + ${affiliation.orgUnit.uuid}" style="color: inherit; text-decoration: none;">
												<span th:text="${affiliation.orgUnit.name}"/>
												&nbsp;
												<em class="fa fa-external-link"></em>
											</a>
										</th:block>
									</td>
									<td th:text="${affiliation.startDate != null ? #dates.format(affiliation.startDate, 'yyyy-MM-dd') : ''}"/>
									<td th:text="${affiliation.stopDate != null ? #dates.format(affiliation.stopDate, 'yyyy-MM-dd') : ''}"/>
									<td>
										<span th:if="${@affiliationService.inactiveAndNotStopped(affiliation) == true}" class="badge badge-warning" th:text="#{html.entity.affiliation.status.inactive}" />
										<span th:if="${@affiliationService.activeAndNotStopped(affiliation) == true}" class="badge badge-success" th:text="#{html.entity.affiliation.status.active}" />
									</td>
									<td>
										<a th:href="@{/ui/affiliation/view/{id}?backRef=person(id=${affiliation.uuid})}"><em class="fa fa-fw fa-search"/></a>
										<th:block th:if="${affiliation.master == 'SOFD'}">
											<a th:href="@{/ui/affiliation/edit/{id}(id=${affiliation.uuid})}"><em class="fa fa-fw fa-pencil" /></a>
										</th:block>
									</td>
								</tr>
								</tbody>
							</table>
						</div>

						<div id="user_menu" class="tab-pane fade">
							<div class="btn-group">
							  <button type="button" style="width: auto !important;" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
							    <em class="fa fa-fw fa-cog"></em>
							  </button>
							  
							  <ul class="dropdown-menu" role="menu" id="dataTableUserDropdown">
							    <li><a href="#" data-cid="0" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.user.userId}" /></a></li>
							    <li><a href="#" data-cid="1" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.user.userType}" /></a></li>
							    <li><a href="#" data-cid="2" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.entity.user.prime}" /></a></li>
							  </ul>
							</div>

							<div class="btn-group" th:if="${#lists.size(userTypes)} > 0" sec:authorize="hasRole('ROLE_USER_EDIT') and hasRole('ROLE_MODULE_ACCOUNT_CREATION')">
							  <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" style="width: 200px;">
								  <span>
									<em class="fa fa-fw fa-shopping-cart"></em>&nbsp;
									<span th:text="#{html.entity.person.order.it.user}"></span>&nbsp;
									<em class="fa fa-fw fa-caret-down"></em>
								  </span>
							  </button>
							  <ul class="dropdown-menu">
							    <li th:each="userType : ${userTypes}"><a th:href="@{/ui/account/order/{personUUID}/{userType}(personUUID=${person.uuid},userType=${userType.key})}" th:text="${userType.name}"/></li>
							  </ul>
							</div>

							<th:block sec:authorize="hasRole('ROLE_USER_EDIT') and hasRole('ROLE_MODULE_ACCOUNT_CREATION')">
								<a href="#" onclick="flagService.changeDisableAccountOrders();">
									<th:block th:if="${person.disableAccountOrders == true}">
										<div style="width:220px" class="btn btn-lg btn-warning">
											<i class="fa fa-fw fa-ban" aria-hidden="true"></i>&nbsp;
											<span th:text="#{html.entity.person.disableAccountOrders.remove}"></span>
										</div>
									</th:block>
									<th:block th:if="${person.disableAccountOrders == false}">
										<div style="width:220px" class="btn btn-lg btn-primary">
											<i class="fa fa-fw fa-ban" aria-hidden="true"></i>&nbsp;
											<span th:text="#{html.entity.person.disableAccountOrders.add}"></span>
										</div>
									</th:block>
								</a>
							</th:block>

							<th:block sec:authorize="hasRole('ROLE_USER_EDIT')">
								<button style="width:220px" onclick="showPrimeModal()" class="btn btn-lg btn-primary">
									<div>
										<i class="fa fa-cog"></i>
										<span th:text="#{html.page.person.view.modal.prime.select}"></span>
									</div>
								</button>
							</th:block>

							<table id="listTable2" class="table table-striped table-hover listTable">
								<thead>
									<th class="col-md-4" th:text="#{html.entity.user.userId}" />
									<th class="col-md-4" th:text="#{html.entity.user.userType}"/>
									<th class="col-md-3" th:text="#{html.entity.user.prime}"/>
									<th class="col-md-1" th:text="#{html.control.operations}" />
								</thead>

								<tbody>
								<tr th:each="user : ${person.users}">
									<td>
										<span th:text="${user.userId}"></span>
										<span th:if="${user.disabled == true}" class="badge badge-alert" th:text="#{html.entity.user.disabled}" />
									</td>
									<td th:text="${@supportedUserTypeService.getPrettyName(user.userType)}"/>
									<td>
										<em th:if="${user.prime}" class="fa fa-check"></em>
									</td>
									<td>
										<th:block th:if="${user.id gt 0 and @supportedUserTypeService.findByKey(user.userType).isCanOrder()}" sec:authorize="hasRole('ROLE_USER_EDIT') and hasRole('ROLE_MODULE_ACCOUNT_CREATION')">
											<th:block th:if="${user.disabled == false}">
												<a href="#" onclick="deleteUser(this);" th:attr="data-userid=${user.userId},data-usertype=${user.userType}"><em class="fa fa-times"/></a>
											</th:block>
											<th:block th:if="${user.disabled == true}">
												<a href="#" onclick="reactivateUser(this);" th:attr="data-userid=${user.userId},data-usertype=${user.userType}"><em class="fa fa-user-plus"/></a>
											</th:block>
										</th:block>
									</td>
								</tr>
								</tbody>
							</table>
						</div>

						<div id="phone_menu" class="tab-pane">
							<th:block th:replace="fragments/phoneTab :: phoneTab" />
						</div>

						<div id="keywords_menu" class="tab-pane fade">
							<div th:replace="person/fragments/viewKeywordsTab :: keywordsTab(keyWords = ${person.keyWords}, notes = ${person.notes})" />
						</div>

						<div id="comment_menu" class="tab-pane fade" sec:authorize="hasRole('ROLE_MODULE_PERSON_COMMENT')">
							<div th:replace="person/fragments/viewCommentTab :: commentTab" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Choose primary account modal -->
<div class="modal fade" id="modal-prime-select" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{html.page.person.view.modal.prime.select.header}"/>
			</div>

			<div class="modal-body">
				<table class="table table-striped table-hover">
					<thead>
						<th class="col-md-1" th:text="#{html.entity.user.userId}" />
						<th class="col-md-5" th:text="#{html.entity.user.userType}"/>
						<th class="col-md-3" th:text="#{html.entity.user.prime}"/>
					</thead>

					<tbody>
						<th:block th:each="type : ${allUserTypes}">
							<tr th:each="user : ${person.users.?[userType == '__${type.key}__']}" class="primeUserRadioTr" th:attr="data-key=${user.uuid}">
								<td style="vertical-align: middle !important;" th:text="${user.userId}"/>
								<td style="vertical-align: middle !important;" th:text="${@supportedUserTypeService.getPrettyName(user.userType)}"/>

								<td>
									<input type="radio" th:id="user + ${user.uuid}" th:name="${user.userType}" th:checked="${user.prime}" class="userTypePrime custom-control-input"/>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" th:text="#{html.control.button.save}" onclick="saveUserPrime()"/>
				<button type="button" class="btn btn-danger" th:text="#{html.control.button.cancel}" data-dismiss="modal"/>
			</div>
		</div>
	</div>
</div>

<!-- leave modal -->
<div class="modal fade" id="modal-leave" role="dialog">
	<div class="form-horizontal modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{html.page.person.view.modal.stop.header}"/>
			</div>

			<div class="modal-body">
 				<div class="col-md-12" th:utext="#{html.page.person.view.modal.stop.body}" />
 				<br/><br/>

				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="#{html.page.person.view.modal.leave.enable}" />
					<div class="col-sm-8">
						<div class="checkbox c-checkbox">
							<label>
								<input id="chbxLeave" type="checkbox" th:checked="${person.leave}" onchange="flagService.toggleLeaveForm()"/>
								<span class="fa fa-check" />
							</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="#{html.page.person.view.modal.leave.startDate}" />
					<div class="col-sm-8">
						<div class="input-group date" id="startDatePicker">
							<input id="leaveStartDate" class="form-control" th:value="${person.leaveStartDate} != null ? ${person.leaveStartDate} : ${today}"/>
							<span class="input-group-addon">
								<span class="fa fa-calendar"></span>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="#{html.page.person.view.modal.leave.stopDate}" />
					<div class="col-sm-8">
						<div class="input-group date" id="stopDatePicker">
							<input id="leaveStopDate" class="form-control" th:value="${person.leaveStopDate}"/>
							<span class="input-group-addon">
								<span class="fa fa-calendar"></span>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="#{html.page.person.view.modal.leave.reason}"/>
					<div class="col-sm-8">
						<select class="form-control" id="reason">
							<option th:each="type : ${T(dk.digitalidentity.sofd.dao.model.enums.LeaveReason).values()}" th:selected="${person.leaveReason == type}" th:value="${type}" th:text="#{__${type.getMessage()}__}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="#{html.page.person.view.modal.leave.reasonText}" />
					<div class="col-sm-8">
						<textarea id="reasonText" class="md-textarea form-control" rows="4" th:text="${person.leaveReasonText}"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="#{html.page.person.view.modal.leave.disableAccountOrders}" />
					<div class="col-sm-8">
						<div class="checkbox c-checkbox">
							<label>
								<input id="disableAccountOrders" type="checkbox" th:checked="${person.leaveDisableAccountOrders}" />
								<span class="fa fa-check" />
							</label>
						</div>
					</div>
				</div>
				
				<th:block th:if="${#lists.size(supportedUserTypes) > 0}">
					<div class="form-group">
						<label class="col-sm-2 control-label" th:text="#{html.page.person.view.modal.leave.deactivateAllAccounts}" />
						<div class="col-sm-8">
							<div class="checkbox c-checkbox">
								<label>
									<input id="deactivateAccounts" type="checkbox" th:checked="${person.leaveDeactivateAccounts}" onchange="flagService.deactivateAccounts()"/>
									<span class="fa fa-check" />
								</label>
							</div>
						</div>
					</div>

					<div class="form-group" id="userTypesToDeactivate">
						<div class="col-sm-offset-2 col-sm-8" style="margin-bottom: 15px;" th:text="#{html.page.person.view.modal.leave.deactivateAccounts.text}"></div>

						<th:block th:each="supportedUserType : ${supportedUserTypes}">
							<label class="col-sm-2 col-sm-offset-2" th:text="${supportedUserType.name}" />
							<div class="col-sm-6">
								<div class="checkbox c-checkbox" style="padding-top: 0px !important;">
									<label>
										<input th:id="'deactivateUserType-' + ${supportedUserType.key}" class="deactivateUserTypeCheckbox" type="checkbox" th:checked="false"/>
										<span class="fa fa-check" />
									</label>
								</div>
							</div>
						</th:block>
					</div>
				</th:block>

				<div class="form-group">					
					<div th:if="${#lists.size(person.affiliations) gt 1}" class="col-sm-10 col-sm-offset-2" th:utext="#{html.page.person.view.modal.leave.affiliationwarning}"></div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" th:text="#{html.control.button.save}" onclick="flagService.saveLeaveModal();"/>
				<button type="button" class="btn btn-danger" th:text="#{html.control.button.cancel}" onclick="flagService.toggleLeaveModal(true);"/>
			</div>
		</div>
	</div>
</div>

<!-- choose prime affiliation modal -->
<div class="modal fade" id="modal-prime-affiliation" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{html.page.person.view.choose.primary.affiliation}"/>
			</div>

			<div class="modal-body">
				<table class="table table-striped table-hover">
					<thead>
						<th class="col-md-5" th:text="#{html.entity.affiliation.positionName}" />
						<th class="col-md-5" th:text="#{html.entity.affiliation.orgunit}"/>
						<th class="col-md-2" th:text="#{html.entity.affiliation.prime}"/>
					</thead>

					<tbody>
						<tr th:each="affiliation : ${affiliations}" class="primeRadioTrAffiliation" th:attr="data-key=${affiliation.id}">
							<td style="vertical-align: middle !important;" th:text="${affiliation.positionName}"/>
							<td style="vertical-align: middle !important;" th:text="${affiliation.orgUnitName}"/>
							<td>
								<input type="radio" th:id="'affiliation-' + ${affiliation.id}" name="affiliationPrimeRadio" class="affiliationPrime custom-control-input" onclick="handleOnChangeForRadios()"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" th:text="#{html.button.sofdChoose}" onclick="letSofdChoose()"/>
				<button type="button" class="btn btn-primary" th:text="#{html.control.button.save}" onclick="saveAffiliationPrime()"/>
				<button type="button" class="btn btn-danger" th:text="#{html.control.button.cancel}" data-dismiss="modal"/>
			</div>
		</div>
	</div>
</div>

<!-- Edit phone modal -->
<div th:replace="fragments/phoneTab :: phoneModal" />
<div id="phone_prime_modal">
	<div th:replace="fragments/phoneTab :: phonePrimeModal" />
</div>

<nav th:replace="fragments/footer :: footer" />
<script th:replace="fragments/datatables :: datatables(paging=false, autoLoad=false) " />
<script th:replace="fragments/phoneTab :: phoneScript " />

<style>
	.row {
		margin-bottom: 5px;
	}
	.control-label {
		margin-top: 5px;
		text-align: right;
	}
</style>

<script th:inline="javascript">
	/*<![CDATA[*/

		var stars = '********';

		/*[+
			var url = [[@{/ui/person}]]
			var restUrl = [[@{/rest/person}]];
			var uuid = [[${person.uuid}]];
			var phones =  [[${person.phones}]];
			var users =  [[${person.users}]];
			var allUserTypes = [[${allUserTypes}]];
			
			var personMaster = [[${person.master}]];
			var registeredPost = [[${person.registeredPostAddress}]];
			var residencePost = [[${person.residencePostAddress}]];
			var affiliations = [[${affiliations}]];
			
			var tooltipTxt = [[#{html.entity.person.master}]];
			
			var msgFetching = [[#{html.page.person.view.msg.fetching}]];
			var msgFetchFail = [[#{html.page.person.view.msg.fetchFail}]];
			var msgFieldNotUpdated = [[#{html.page.person.view.ad.update.failure}]];

			var msgUpdateFail = [[#{html.page.orgunit.update.failure}]];
			var msgFieldUpdated = [[#{html.page.orgunit.update.success}]];
			
			var msgProfileUpdateFail = [[#{html.page.person.view.profile.update.failure}]];
			var msgProfileUpdated = [[#{html.page.person.view.profile.update.succes}]];
			
			var btnCancel = [[#{html.button.cancel}]];
			var btnDeactivate = [[#{html.button.deactivate}]];
			var btnActivate = [[#{html.button.activate}]];
			var deactivateUserTitle = [[#{html.page.person.user.msg.delete.Title}]];
			var deactivateUserText = [[#{html.page.person.user.msg.delete.Text}]];
			var deactivateUserFail = [[#{html.page.person.user.msg.delete.Fail}]];
			var deactivateUserSuccess = [[#{html.page.person.user.msg.delete.Success}]];
			
			var reactivateUserTitle = [[#{html.page.person.user.msg.reactivate.Title}]];
			var reactivateUserText = [[#{html.page.person.user.msg.reactivate.Text}]];
			var reactivateUserFail = [[#{html.page.person.user.msg.reactivate.Fail}]];
			var reactivateUserSuccess = [[#{html.page.person.user.msg.reactivate.Success}]];

			var dataChangedSuccess = [[#{html.page.person.change.success}]];
			var dataChangedFail = [[#{html.page.person.change.fail}]];
		+]*/
		var token = $("meta[name='_csrf']").attr("content");

		var flagService;
		$(document).ready(function () {
			flagService = new FlagService();

			loadViewCoreFragment();
			
			addTooltips('personMasterTooltip', personMaster);

			if (registeredPost != null) {
				addTooltips('regPostMasterTooltip', registeredPost.master);
			}

			if (residencePost != null) {
				addTooltips('resPostMasterTooltip', residencePost.master);
			}
			
			$('#startDatePicker').datetimepicker({
				format: 'YYYY-MM-DD'
			});
			$('#stopDatePicker').datetimepicker({
				format: 'YYYY-MM-DD'
			});

			// on active click/show of tab, initalize
			$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
				var id = $(e.target).attr("href");
				localStorage.setItem(uuid, id);
				
				if ("#comment_menu" == id) {
					loadComments();
				}
				
				var tab = $($(this).attr("href"));				
				loadDataTableWithState(tab.find("table"), "personTab" + id, [], tab.find(".dropdown-menu"));
			});

			// restore active tab from localStorate
			var selectedTab = localStorage.getItem(uuid);
			if (selectedTab != null) {
				$('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
			}

			// default to affiliation tab
			if (selectedTab == null) {
				selectedTab = "#affiliation_menu";
			}

			// make sure DataTables is loaded on first tab (no event is triggered on initial load)
			var tab = $($('a[data-toggle="tab"][href="' + selectedTab + '"]').attr("href"));
			
			var filter = [];
			if ("#affiliation_menu" === selectedTab) {
				filter = [2,3];
			}

			loadDataTableWithState(tab.find("table"), ("personTab" + selectedTab), filter, tab.find(".dropdown-menu"));
			flagService.init();
		});

		function toggleAddress(field) {
			if ($(field).text() == stars) {
				$(field).text($(field).data("key"));
			}
			else {
				$(field).text(stars);
			}
		}

		function handleCheckboxChange() {
			var checked = $('#taxedPhone').is(":checked");

			$.ajax({
				method : "POST",
				url: restUrl + "/taxedPhone/" + uuid,
				headers: {
					'X-CSRF-TOKEN': token,
					'checked': checked
				}
			}).done(function (data) {
				$.notify({
					message: dataChangedSuccess
				}, {
					status: 'success',
					autoHideDelay: 4000
				});
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$.notify({
					message: dataChangedFail
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}

		function addTooltips(id, master) {
			$('.' + id).tooltip({title: tooltipTxt + ": " + master});
		}
		
		function reactivateUser(elem) {
			var userId = $(elem).data('userid');
			var userType = $(elem).data('usertype');

			swal({
				html : true,
				title : reactivateUserTitle,
				text : reactivateUserText,
				type : "warning",
				showCancelButton : true,
				confirmButtonColor : "#DD6B55",
				confirmButtonText : btnActivate,
				cancelButtonText : btnCancel,
				closeOnConfirm : true,
				closeOnCancel : true
			},
			function(isConfirm) {
				if (isConfirm) {
					$.ajax({
						method : "POST",
						url: restUrl + "/reactivateUser/" + userType + "/" + userId,
						headers: {
							'X-CSRF-TOKEN': token
						}
					}).done(function (data) {
						$.notify({
							message: reactivateUserSuccess
						}, {
							status: 'success',
							autoHideDelay: 4000
						});
					}).fail(function (jqXHR, textStatus, errorThrown) {
						$.notify({
							message: reactivateUserFail
						}, {
							status: 'danger',
							autoHideDelay: 4000
						});
					});
				}
			});
		}

		function deleteUser(elem) {
			var userId = $(elem).data('userid');
			var userType = $(elem).data('usertype');

			swal({
				html : true,
				title : deactivateUserTitle,
				text : deactivateUserText,
				type : "warning",
				showCancelButton : true,
				confirmButtonColor : "#DD6B55",
				confirmButtonText : btnDeactivate,
				cancelButtonText : btnCancel,
				closeOnConfirm : true,
				closeOnCancel : true
			},
			function(isConfirm) {
				if (isConfirm) {
					$.ajax({
						method : "POST",
						url: restUrl + "/deleteUser/" + userType + "/" + userId,
						headers: {
							'X-CSRF-TOKEN': token
						}
					}).done(function (data) {
						$.notify({
							message: deactivateUserSuccess
						}, {
							status: 'success',
							autoHideDelay: 4000
						});
					}).fail(function (jqXHR, textStatus, errorThrown) {
						$.notify({
							message: deactivateUserFail
						}, {
							status: 'danger',
							autoHideDelay: 4000
						});
					});
				}
			});
		}

		function fetchFromCpr() {
			$.notify({
				message: msgFetching
			}, {
				status: 'success',
				autoHideDelay: 4000
			});
			$.ajax({
				method : "POST",
				url: restUrl + "/updateFromCPR",
				headers: {
					"uuid": uuid,
					'X-CSRF-TOKEN': token
				},
			}).done(function (data) {
				location.reload(true);
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgFetchFail
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}

		//Keywords Tab

		function loadEditContactsTab() {
			$("#keywords_menu").load(url + "/contacts/" + uuid + "/edit");
		}

		function loadViewContactsTab() {
			$('#keywords_menu').load(url + "/contacts/" + uuid + "/view");
		}

		function saveContacts() {
			var keywords = $('#keywords').val();
			var notes = $('#notes').val();
			var payload = {
				keywords: keywords,
				notes: notes
			};

			$.ajax({
				method : "POST",
				url: restUrl + "/update/contacts",
				headers: {
					"uuid": uuid,
					'X-CSRF-TOKEN': token
				},
				data: JSON.stringify(payload),
			    contentType: "application/json; charset=utf-8",
			    dataType: "json"
			}).done(function (data) {
				$.notify({
					message: msgFieldUpdated
				}, {
					status: 'success',
					autoHideDelay: 2000
				});
				loadViewContactsTab();
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgUpdateFail
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}

		// the FlagService is used for the OnLeave, DisableAccountOrders and ForceStop flags that can be set on persons
		// and is used by three different buttons on the page (for those three purposes)
		function FlagService() {
		/*[+
			var url = [[@{/rest/person/} + ${person.uuid}]];
		    var disableAccountOrders = [[${person.disableAccountOrders}]];
		    var accountOrdersToDeactivate = [[${person.leaveAccountOrdersToDeactivate}]];
		    var forceStop = [[${person.forceStop}]];
		    var onLeave = [[${person.leave}]];
		    
		    var swalForceStopAddTitle = [[#{html.entity.person.stop.add}]];
		    var swalForceStopRemoveTitle = [[#{html.entity.person.stop.remove}]];
		    var swalForceStopText = [[#{html.entity.person.stop.text}]];
		    
		    var swalDisableAccountOrdersAddTitle = [[#{html.entity.person.disableAccountOrders.add}]];
		    var swalDisableAccountOrdersRemoveTitle = [[#{html.entity.person.disableAccountOrders.remove}]];
		    var swalDisableAccountOrdersText = [[#{html.entity.person.disableAccountOrders.text}]];
		    
		    var swalBtnConfirm = [[#{html.button.yes}]];
		    var swalBtnCancelCancel = [[#{html.button.cancel}]];
		    var swalFailureMsg = [[#{html.generic.msg.failedupdate}]];
		    
		    var supportedUserTypes = [[${supportedUserTypes}]];
		+]*/
		
			this.init = function() {
				this.deactivateAccounts();
				this.toggleLeaveForm();
			};

			this.changeStopFlag = function() {				
				swal({
					title : (forceStop) ? swalForceStopRemoveTitle : swalForceStopAddTitle,
					text : swalForceStopText,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : swalBtnConfirm,
					cancelButtonText : swalBtnCancelCancel,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							method: 'POST',
							url: url + '/forceStop',
							headers: {
								'X-CSRF-TOKEN': token
							},
							success: function(data, textStatus, jQxhr) {
								location.reload(true);
							},
							error: function(jqXhr, textStatus, errorThrown) {
								$.notify({
									message: swalFailureMsg
								}, {
									status: 'danger',
									autoHideDelay: 4000
								});
							}
						});
					}
				});
			};

			this.changeDisableAccountOrders = function() {
				swal({
					title : (disableAccountOrders) ? swalDisableAccountOrdersRemoveTitle : swalDisableAccountOrdersAddTitle,
					text : swalDisableAccountOrdersText,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : swalBtnConfirm,
					cancelButtonText : swalBtnCancelCancel,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							method: 'POST',
							url: url + '/disableAccountOrders',
							headers: {
								'X-CSRF-TOKEN': token
							},
							success: function(data, textStatus, jQxhr) {
								location.reload(true);
							},
							error: function(jqXhr, textStatus, errorThrown) {
								$.notify({
									message: swalFailureMsg
								}, {
									status: 'danger',
									autoHideDelay: 4000
								});
							}
						});
					}
				});
			}
			
			this.toggleLeaveForm = function() {
				var enableForm = $("#chbxLeave").prop("checked");
				if (enableForm) {
					$('#deactivateAccounts').prop('disabled', false);
					$('#reasonText').prop('disabled', false);
					$('#reason').prop('disabled', false);
					$('#leaveStopDate').prop('disabled', false);
					$('#leaveStartDate').prop('disabled', false);
					$('#disableAccountOrders').prop('disabled', false);
				}
				else {
					$('#reasonText').prop('disabled', true);
					$('#reason').prop('disabled', true);
					$('#leaveStopDate').prop('disabled', true);
					$('#leaveStartDate').prop('disabled', true);
					$('#disableAccountOrders').prop('checked', false);
					$('#disableAccountOrders').prop('disabled', true);
					$('#deactivateAccounts').prop('checked', false);
					$('#deactivateAccounts').prop('disabled', true);
					
					$('#userTypesToDeactivate').hide();
				}

				if (onLeave) {
					$('#leaveStartDate').prop('disabled', true);
					$('#deactivateAccounts').prop('disabled', true);
					$('#disableAccountOrders').prop('disabled', true);

					if (accountOrdersToDeactivate) {
						var userTypes = accountOrdersToDeactivate.split(",");
						for (var i = 0; i < userTypes.length; i++) {
							var userType = userTypes[i];

							$('#deactivateUserType-' + userType).prop('checked', true);
						}
					}
					
					$('.deactivateUserTypeCheckbox').prop('disabled', true);
				}
			};
			
			this.deactivateAccounts = function() {
				if ($('#deactivateAccounts').prop('checked')) {
					$('#disableAccountOrders').prop('checked', true);
					$('#disableAccountOrders').prop('disabled', true);
					$('#userTypesToDeactivate').show();
				}
				else {
					$('#disableAccountOrders').prop('disabled', false);
					$('#userTypesToDeactivate').hide();
				}
			}

			this.toggleLeaveModal = function(refresh) {
				if (refresh) {
					location.reload();
				}
				else {
					if ($('#modal-leave').hasClass('in')) {
						$('#modal-leave').modal("toggle");
					}
					else {
						$('#modal-leave').modal({
						    backdrop: 'static',
						    keyboard: false
						});
					}
				}
			}
			
			this.saveLeaveModal = function() {
				flagService.toggleLeaveModal(false);

				var enableLeave = $("#chbxLeave").prop("checked");
				if (enableLeave) {
					var computedAccountsToDeactivate = '';
					$('.deactivateUserTypeCheckbox').each(function() {
						if ($(this).prop("checked")) {
							var idAttr = $(this).attr('id');
							if (idAttr && idAttr.length > 19) {
								if (computedAccountsToDeactivate.length > 0) {
									computedAccountsToDeactivate += ',';
								}
	
								computedAccountsToDeactivate += idAttr.substring(19);
							}
						}
					});

					payload = {
						leave : $("#chbxLeave").prop("checked"),
						leaveStartDate : $('#leaveStartDate').val(),
						leaveStopDate : $('#leaveStopDate').val(),
						reason : $('#reason').val(),
						reasonText : $('#reasonText').val(),
						deactivateAccounts : $('#deactivateAccounts').prop('checked'),
						accountsToDeactivate : computedAccountsToDeactivate,
						disableAccountOrders : $('#disableAccountOrders').prop('checked')
					};
				}
				else {
					payload = {
						leave : false,
					};
				}

				$.ajax({
					contentType: 'application/json',
					url: restUrl + "/" + uuid + "/leave",  // TODO extract into this service class
					method : "POST",
					data: JSON.stringify(payload),
					headers: {
						'X-CSRF-TOKEN': token
					},
					error: function(response) {
						$.notify({
							message: msgUpdateFail   // TODO: use our generic in this service class
						}, {
							status: 'danger',
							autoHideDelay: 4000
						});
					},
					success: function(response) {
						location.reload(true);
					}
				});
			}
		}
		
		// Modal code begin

		// select prime modal
		
		function showPrimeModal() {
			$('#modal-prime-select').modal("show");
		}

		function saveUserPrime() {
			var userPrimeDataList = [];

			$('.primeUserRadioTr').each(function(index, element) {
				var row = $(element);

				userPrimeDataList.push({
					uuid: row.data('key'),
					prime: row.find("input.userTypePrime").is(':checked'),
					userType: row.find("input.userTypePrime").attr('name')
				});
			});

			$.ajax({
				method : "POST",
				url: restUrl + "/updatePrimaryUserAccounts",
				headers: {
					"content-type": "application/json",
					"uuid": uuid,
					'X-CSRF-TOKEN': token
				},
				data: JSON.stringify(userPrimeDataList)
			}).done(function (data) {
				$('#modal-prime-select').modal("hide");
				location.reload(true);
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgFieldNotUpdated
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}
		
		// Comments tab
		
		function loadComments() {
			$('#comment_menu').load(url + "/comments/"+ uuid);
		}
		
		function addComment(){
			var comment = $('#newComment').val();

			$.ajax({
				method : "POST",
				url: restUrl + "/add/comment",
				headers: {
					"uuid": uuid,
					'X-CSRF-TOKEN': token
				},
				data: comment,
				contentType: "application/json; charset=utf-8",
				dataType: "json"
			}).done(function(data) {

				$.notify({
					message: msgFieldUpdated
				}, {
					status: 'success',
					autoHideDelay: 2000
				});

				loadComments();
			}).fail(function (jqXHR, textStatus, errorThrown) {

				$.notify({
					message: msgUpdateFail
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}
		
		//Core view/edit
		function loadEditCoreFragment() {
			$("#core").load(url + "/core/" + uuid + "/edit");
		}
		
		function loadViewCoreFragment() {
			$('#core').load(url + "/core/" + uuid + "/view");
		}
		
		function saveCoreChanges() {
			var fields = $('#core input');
			var data = {};
			fields.map(function(index, value) {
				data[value.name] = value.value;
			});
			
			// deal with root in a sane way
			if (data.parent == '') {
				data.parent = null;
			}
			
			$.ajax({
				contentType: 'application/json',
				url: restUrl + "/profile/update",
				method : "POST",
				data: JSON.stringify(data),
				headers: {
					'X-CSRF-TOKEN': token
				},
				error: function(response) {
					
					$.notify({
						message: msgProfileUpdateFail
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {
					$.notify({
						message: msgProfileUpdated
					}, {
						status: 'success',
						autoHideDelay: 2000
					});

					loadViewCoreFragment();
				}
			});
		}
		
		// prime affiliation modal
		function showPrimeAffiliationModal() {
			selectPrimeAffiliation();
			handleOnChangeForRadios();
			$('#modal-prime-affiliation').modal("show");
		}

		function handleOnChangeForRadios() {
			var selectedPrime = $("input[name='affiliationPrimeRadio']:checked");
			var selectedPrimeId = selectedPrime.attr('id');
		}

		function selectPrimeAffiliation() {
			for (var i = 0; i < affiliations.length; i++) {
				var id = affiliations[i].id;

				var primeRadio = $("input.affiliationPrime[id='affiliation-" + id + "']");

				primeRadio.prop('checked', affiliations[i].prime);
				primeRadio.attr('disabled',false);
			}
		}

		function saveAffiliationPrime() {
			var affiliationPrimeDataList = [];

			$('.primeRadioTrAffiliation').each(function(index, element) {
				var row = $(element);
				affiliationPrimeDataList.push({
					id: row.data('key'),
					prime: row.find("input.affiliationPrime").is(':checked'),
				});
			});

			$.ajax({
				method : "POST",
				url: restUrl + "/updatePrimaryAffiliations",
				headers: {
					"content-type": "application/json",
					"uuid": uuid,
					'X-CSRF-TOKEN': token
				},
				data: JSON.stringify(affiliationPrimeDataList)
			}).done(function (data) {
				$('#modal-prime-affiliation').modal("hide");
				location.reload(true);
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgUpdateFail
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}
		
		function letSofdChoose(){
			$.ajax({
				method : "POST",
				url: restUrl + "/sofdUpdatePrimaryAffiliations",
				headers: {
					"uuid": uuid,
					'X-CSRF-TOKEN': token
				}
			}).done(function (data) {
				$('#modal-prime-affiliation').modal("hide");

				location.reload(true);
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgUpdateFail
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}

		/*]]>*/
</script>
</body>
</html>