<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'tags', subpage = 'admin')" />

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.tags.list.headline}" />

				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="btn btn-primary btn-lg" href="#" onclick="editTag(this);" data-tagid="0">
							<i class="fa fa-plus"></i>
							<span th:text="#{html.page.tags.list.add}" />
						</a>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="listTable" class="table table-striped listTable">
								<thead>
									<tr>
										<th class="col-md-2" th:text="#{html.entity.tag.value}" />
										<th class="col-md-3" th:text="#{html.entity.tag.description}" />
										<th class="col-md-1" th:text="#{html.entity.tag.customvalueenabled}" />
										<th class="col-md-1" th:text="#{html.entity.tag.customvalueunique}" />
										<th class="col-md-2" th:text="#{html.entity.tag.customvaluename}" />
										<th class="col-md-2" th:text="#{html.entity.tag.customvalueregex}" />
										<th class="col-md-1" th:text="#{html.control.operations}" />
									</tr>
								</thead>

								<tbody>
									<tr th:each="tag : ${tags}">
										<td th:text="${tag.value}" th:attr="data-id=tagValue + ${tag.id}" />
										<td th:text="${tag.description}" th:attr="data-id=tagDescription + ${tag.id}" />

										<td>
											<input type="checkbox" class="hidden" th:checked="${tag.customValueEnabled}" th:attr="id=tagCustomValueEnabled + ${tag.id}" />
											<em th:if="${tag.customValueEnabled}" class="fa fa-check"></em>
										</td>
										<td>
											<input type="checkbox" class="hidden" th:checked="${tag.customValueUnique}" th:attr="id=tagCustomValueUnique + ${tag.id}" />
											<em th:if="${tag.customValueUnique}" class="fa fa-check"></em>
										</td>
										<td th:text="${tag.customValueName}" th:attr="data-id=tagCustomValueName + ${tag.id}" />
										<td th:text="${tag.customValueRegex}" th:attr="data-id=tagCustomValueRegex + ${tag.id}" />
										<td>
											<a onclick="editTag(this);" href="#" th:attr="data-tagid=${tag.id}"><em class="fa fa-fw fa-pencil" th:title="#{html.mouseover.edit}"></em></a>
											<a onclick="deleteTag(this);" href="#" th:attr="data-tagid=${tag.id}"><em class="fa fa-fw fa-remove" th:title="#{html.mouseover.delete}"></em></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<!-- Modal -->
	<div id="editTagModal" class="modal fade" role="dialog">
		<form class="form-horizontal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" th:text="#{html.page.tags.list.modal.title}"/>
					</div>

					<div class="modal-body">
						<input id="tagId" class="form-control" style="display:none;"/>
						<div class="form-group">
							<label th:text="#{html.entity.tag.value}" class="col-sm-3 control-label"/>
							<div class="col-sm-9">
								<input id="tagValue" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{html.entity.tag.description}" class="col-sm-3 control-label"/>
							<div class="col-sm-9">
								<textarea rows="5" id="tagDescription" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{html.entity.tag.customvalueenabled}" class="col-sm-3 control-label"/>
							<div class="col-sm-9">
								<div class="checkbox c-checkbox">
									<label>
										<input type="checkbox" id="tagCustomValueEnabled" onclick="customValueEnabledChanged(this);" />
										<span class="fa fa-check" />
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{html.entity.tag.customvalueunique}" class="col-sm-3 control-label"/>
							<div class="col-sm-9">
								<div class="checkbox c-checkbox">
									<label>
										<input type="checkbox" id="tagCustomValueUnique" />
										<span class="fa fa-check" />
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{html.entity.tag.customvaluename}" class="col-sm-3 control-label"/>
							<div class="col-sm-9">
								<input id="tagCustomValueName" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{html.entity.tag.customvalueregex}" class="col-sm-3 control-label"/>
							<div class="col-sm-9">
								<input id="tagCustomValueRegex" class="form-control" />
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="col-sm-12">
							<button class="btn btn-primary" type="button" th:text="#{html.control.button.save}" onclick="postTag();return false;" />
							<button class="btn btn-danger" type="button" data-dismiss="modal" th:text="#{html.action.abortChanges}" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- End Modal -->

	<div th:replace="fragments/footer :: footer" />
	<script th:replace="fragments/datatables :: datatables" />
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var editUrl = [[@{/ui/tags}]];
			var deleteURL = [[@{/ui/tags}]];
			var removeTitle = [[#{html.page.tags.remove.title}]];
			var removeText = [[#{html.page.tags.remove.text}]];
			var removeButtonConfirm = [[#{html.button.delete}]];
			var removeButtonCancel = [[#{html.button.cancel}]];
			var deleteErrorMsg = [[#{html.page.tags.list.modal.delete.error}]];
			var editErrorMsg =   [[#{html.page.tags.list.modal.edit.error}]];
			var uniqueErrorMsg = [[#{html.page.tags.list.modal.unique.error}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");
		
		$('#editTagModal').on('shown.bs.modal', function () {
			$('#tagValue').focus();
		});

		function editTag(obj) {
			var id = $(obj).attr('data-tagid');
			if( id > 0 )
			{
				$('#tagId').val(id);
				$('#tagValue').val($("td[data-id=tagValue" + id + "]").text());
				$('#tagDescription').val($("td[data-id=tagDescription" + id + "]").text());
				document.getElementById("tagCustomValueEnabled").checked = document.getElementById("tagCustomValueEnabled" + id ).checked;
				document.getElementById("tagCustomValueUnique").checked = document.getElementById("tagCustomValueUnique" + id ).checked;
				$('#tagCustomValueName').val($("td[data-id=tagCustomValueName" + id + "]").text());
				$('#tagCustomValueRegex').val($("td[data-id=tagCustomValueRegex" + id + "]").text());
			} else {
				$('#tagValue').val("");
				$('#tagDescription').val("");
				document.getElementById("tagCustomValueEnabled").checked = false;
				$('#tagCustomValueName').val("");
				$('#tagCustomValueRegex').val("");
			}
			customValueEnabledChanged($("#tagCustomValueEnabled")[0]);
			$('#editTagModal').modal("show");
		}

		function postTag() {
			$('#editTagModal').modal("hide");
			$.ajax({
				url: editUrl,
				headers: {
					'X-CSRF-TOKEN': token
				},
				type: 'post',
				contentType: 'application/json',
				data: JSON.stringify({
					'id' : $('#tagId').val(),
					'value' : $('#tagValue').val(),
					'description' : $('#tagDescription').val(),
					'customValueEnabled' : document.getElementById("tagCustomValueEnabled").checked,
					'customValueUnique' : document.getElementById("tagCustomValueUnique").checked,
					'customValueName' : $('#tagCustomValueName').val(),
					'customValueRegex' : $('#tagCustomValueRegex').val()
				}),
				success: function(data, textStatus, jQxhr) {
					location.reload(true);
				},
				error: function(jqXhr, textStatus, errorThrown) {
					$.notify({
						message: jqXhr.responseText == "unique" ? uniqueErrorMsg : editErrorMsg
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}
			});
		}

		function customValueEnabledChanged(e)
		{
			if( !e.checked )
			{
				document.getElementById("tagCustomValueUnique").checked = false;
				document.getElementById("tagCustomValueUnique").disabled = 'disabled';
				document.getElementById("tagCustomValueName").value = '';
				document.getElementById("tagCustomValueName").disabled = 'disabled';
				document.getElementById("tagCustomValueRegex").value = '';
				document.getElementById("tagCustomValueRegex").disabled = 'disabled';
			}
			else
			{
				document.getElementById("tagCustomValueUnique").disabled = '';
				document.getElementById("tagCustomValueName").disabled = '';
				document.getElementById("tagCustomValueRegex").disabled = '';
			}
		}
		
		function deleteTag(obj) {
			var id = $(obj).attr('data-tagid');
			var tag = $("td[data-id=tagValue" + id + "]").text();

			swal({
				html : true,
				title : removeTitle + "<br/><span style=\"font-size: smaller; font-weight: normal;\">" + tag + "</span>",
				text : removeText,
				type : "warning",
				showCancelButton : true,
				confirmButtonColor : "#DD6B55",
				confirmButtonText : removeButtonConfirm,
				cancelButtonText : removeButtonCancel,
				closeOnConfirm : true,
				closeOnCancel : true
			},
			function(isConfirm) {
				if (isConfirm) {
					$.ajax({
						url: deleteURL,
						headers: {
							'X-CSRF-TOKEN': token
						},
						type: 'delete',
						contentType: 'application/json',
						data: id,
						success: function( data, textStatus, jQxhr ){
							location.reload(true);
						},
						error: function( jqXhr, textStatus, errorThrown ){
							$.notify({
								message: deleteErrorMsg
							}, {
								status: 'danger',
								autoHideDelay: 4000
							});
						}
					});
				}
			});
		}
		
		/*]]>*/
	</script>
</body>
</html>