<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header (subpage = 'report')" />
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'accountcreation', subpage = 'report')" />

	<section>
		<div class="content-wrapper">
			<h3>
				<a th:href="@{/ui/report/accountorders}" class="btn btn-default">
					<span><i class="fa fa-arrow-left"></i></span>
				</a>

				<span th:text="#{html.page.accountorders.header}"/>
			</h3>

			<div class="panel panel-default">
				<div class="panel-heading" />
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">	
							<div class="col-md-12">
								<fieldset>
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.personName}" />
										<div class="col-sm-8">
											<input th:value="${order.personName}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>
								
								<fieldset th:if="${order.employeeId != null}">
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.employeeId}" />
										<div class="col-sm-8">
											<input th:value="${order.employeeId}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.orderType}" />
										<div class="col-sm-8">
											<input th:value="#{__${T(dk.digitalidentity.sofd.dao.model.enums.AccountOrderType).valueOf(order.orderType).messageId}__}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.userType}" />
										<div class="col-sm-8">
											<input th:value="${@supportedUserTypeService.getPrettyName(order.getUserType())}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.status}" />
										<div class="col-sm-8">
											<input th:value="#{__${T(dk.digitalidentity.sofd.dao.model.enums.AccountOrderStatus).valueOf(order.status).messageId}__}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.activationTime}" />
										<div class="col-sm-8">
											<input th:value="${#dates.format(order.activationTimestamp, 'yyyy-MM-dd')}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>

								<fieldset th:if="${order.endDate != null}">
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.deactivationTime}" />
										<div class="col-sm-8">
											<input th:value="${#dates.format(order.endDate, 'yyyy-MM-dd')}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.lastModifiedTime}" />
										<div class="col-sm-8">
											<input th:value="${#dates.format(order.modifiedTimestamp, 'yyyy-MM-dd')}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>
								
								<fieldset th:if="${order.actualUserId != null}">
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.actualUserId}" />
										<div class="col-sm-8">
											<input th:value="${order.actualUserId}" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>

								<fieldset th:if="${order.actualUserId == null}">
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.userId}" />
										<div class="col-sm-8">
											<input id="userIdField" th:value="${order.requestedUserId}" class="form-control" th:readonly="${order.status != T(dk.digitalidentity.sofd.dao.model.enums.AccountOrderStatus).FAILED}" />
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<div class="row">
										<label class="col-sm-2 control-label" th:text="#{html.page.accountorders.message}" />
										<div class="col-sm-8">
											<textarea th:text="${order.message}" rows="4" class="form-control" readonly="readonly" />
										</div>
									</div>
								</fieldset>
								
								<fieldset th:if="${order.status == T(dk.digitalidentity.sofd.dao.model.enums.AccountOrderStatus).FAILED}">
									<div class="row">
										<div class="col-sm-offset-2 col-sm-8">
											<a class="btn btn-lg btn-primary" style="width: 100%;" id="retryButton">
												<th:block th:text="#{html.page.accountorders.retry}"/>
											</a>
										</div>
									</div>
									
									<div class="row" style="margin-top: 10px;">
										<div class="col-sm-offset-2 col-sm-8">
											<a class="btn btn-lg btn-danger" style="width: 100%;" th:href="@{/ui/report/accountorders/delete/} + ${order.id}">
												<th:block th:text="#{html.page.accountorders.delete}"/>
											</a>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<nav th:replace="fragments/footer :: footer" />

<script th:inline="javascript">
	/*<![CDATA[*/
	/*[+
		var url = [[@{/ui/report/accountorders/retry/} + ${order.id}]];
	+]*/

	$(document).ready(function () {
		$("#retryButton").on('click', function() {
			var userId = $("#userIdField").val();

			window.location = url + "/" + userId;
		});
	});
	
	/*]]>*/
</script>

</body>
</html>