<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'report')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'accountcreation', subpage = 'report')" />

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.accountorders.header}"/>
				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th class="col-md-1" th:text="#{html.page.accountorders.activationTime}" />
										<th class="col-md-4" th:text="#{html.page.accountorders.personName}" />
										<th class="col-md-2" th:text="#{html.page.accountorders.orderType}" />
										<th class="col-md-2" th:text="#{html.page.accountorders.userType}" />
										<th class="col-md-2" th:text="#{html.page.accountorders.status}" />
										<th class="col-md-1" th:text="#{html.control.operations}" />
									</tr>
								</thead>
					
								<tbody>
									<tr th:each="order : ${orders}">
										<td th:text="${#dates.format(order.activationTimestamp, 'yyyy-MM-dd')}"/>
										<td>
											<a th:href="@{/ui/person/view/} + ${order.personUuid} + '?backRef=adaccount'" style="color: inherit; text-decoration: none;">
												<span th:text="${order.personName}"/>
												&nbsp;
												<em class="fa fa-external-link"></em>
											</a>
										</td>
										<td th:text="#{__${T(dk.digitalidentity.sofd.dao.model.enums.AccountOrderType).valueOf(order.orderType).messageId}__}"/>
										<td th:text="${@supportedUserTypeService.getPrettyName(order.getUserType())}"/>
										<td th:text="#{__${T(dk.digitalidentity.sofd.dao.model.enums.AccountOrderStatus).valueOf(order.status).messageId}__}"/>
										<td>
											<a th:href="@{/ui/report/accountorders/} + ${order.id}"><em class="fa fa-fw fa-search"></em></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	
	<script th:replace="fragments/datatables :: datatables(autoLoad=false) " />
	
	<script th:inline="javascript">
		$(document).ready(function () {
			loadDataTableWithState($("#listTable"), "accountOrdersTable", [], "NotApplicable");
			
			currentTable.order([0, 'desc']).draw();
		});
	</script>
</body>
</html>