<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'report')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'reports', subpage = 'report')" />

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.report.ad_but_no_affiliation}" />
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="btn btn-primary" th:href="@{/ui/report/reports/} + ${reportType} + '/download'">
							<em class="fa fa-fw fa-file-excel-o"></em>&nbsp;
							<span th:text="#{html.button.download}"/>
						</a>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th class="col-md-5" th:text="#{html.entity.person.name}" />
										<th class="col-md-3" th:text="#{html.entity.person.cpr}" />
										<th class="col-md-3" th:text="#{html.entity.person.ad}" />
										<th class="col-md-1" th:text="#{html.control.operations}" />
									</tr>
								</thead>

								<tbody>
									<tr th:each="person : ${persons}">
										<td th:text="${person.firstname} + ' ' + ${person.surname}"/>
										<td th:text="${@personService.maskCpr(person.cpr)}"/>
										<td th:text="${person.getPrimeADAccount()}"/>
										<td>
											<a th:href="@{/ui/person/view/} + ${person.uuid} + '?backRef=report'"><em class="fa fa-fw fa-search" /></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	
	<script th:replace="fragments/datatables :: datatables " />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		/*[+
		+]*/

		/*]]>*/
	</script>
</body>
</html>