<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'report')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'notifications', subpage='report')" />

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.navbar.report.notifications}" />
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="form-group form-check inline" style="margin-left:60px; position: relative; top: 15px;">
							<div class="c-radio">
								<label>
									<input type="radio" name="showInactive" value="false" checked="checked" />
									<span class="fa fa-circle"/>
									<th:block th:text="#{html.page.admin.task.filter.show.active}"/>
								</label>
							</div>

							<div class="c-radio">
								<label>
									<input type="radio" name="showInactive" value="true" />
									<span class="fa fa-circle"/>
									<th:block th:text="#{html.page.admin.task.filter.show.inactive}"/>
								</label>
							</div>
						</div>
					</div>

					<div class="panel-body">
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th style="display: none;"></th>
										<th class="col-md-2" th:text="#{html.entity.adminTask.created}" />
										<th class="col-md-2" th:text="#{html.entity.adminTask.adminTaskType}" />
										<th class="col-md-4" th:text="#{html.entity.adminTask.affectedEntity}" />
										<th class="col-md-3" th:text="#{html.entity.adminTask.admin}" />
										<th class="col-md-1" th:text="#{html.control.operations}" />
									</tr>
								</thead>
								<tfoot style="display: table-row-group">
									<tr>
										<td style="display: none;"></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tfoot>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var searchTxt = [[#{html.datatables.search}]];
			var dropdownTxt = [[#{html.datatables.dropdown}]];
			var infoDefaultTxt = [[#{html.datatables.info.default}]];
			var infoEmptyTxt = [[#{html.datatables.info.empty}]];
			var infoFilteredTxt = [[#{html.datatables.info.filtered}]];
			var prevTxt = [[#{html.datatables.prev}]];
			var nextTxt = [[#{html.datatables.next}]];

			var activateTitle = [[#{html.entity.adminTask.activate.title}]];
			var activateText = [[#{html.entity.adminTask.activate.text}]];
			
			var discardTitle = [[#{html.entity.adminTask.discard.title}]];
			var discardText = [[#{html.entity.adminTask.discard.text}]];

			var assignTitle = [[#{html.entity.adminTask.assign.title}]];
			var assignText = [[#{html.entity.adminTask.assign.text}]];

			var deassignTitle = [[#{html.entity.adminTask.deassign.title}]];
			var deassignText = [[#{html.entity.adminTask.deassign.text}]];

			var reassignTitle = [[#{html.entity.adminTask.reassign.title}]];
			var reassignText = [[#{html.entity.adminTask.reassign.text}]];
			var reassignYesBtn = [[#{html.entity.adminTask.reassign.yes}]];
			var reassignNoBtn = [[#{html.entity.adminTask.reassign.no}]];
			
			var changeStatusButtonConfirm = [[#{html.button.yes}]];
			var changeStatusButtonCancel = [[#{html.button.no}]];
			
			var typesMap = [[${typesMap}]];
			var url = [[@{/ui/}]];
			var ajaxUrl = [[@{/rest/notifications/list}]];
			var changeStatusUrl = [[@{/rest/notifications/changeStatus}]];
			var flipAssignUrl = [[@{/rest/notifications/flipAssign/}]];
			
			var changeStatusErrorMsg = [[#{html.setting.update.msg.failed}]];
			
			var personUuid = [[${personUuid}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		function flipAssign(id, status, currentUuid) {
			var title = assignTitle;
			var text = assignText;
			var yesBtn = changeStatusButtonConfirm;
			var noBtn = changeStatusButtonCancel;
			var reassign = false;

			// overwrite default messages of already assigned
			if (currentUuid != '') {
				if (currentUuid == personUuid) {
					title = deassignTitle;
					text = deassignText;
				}
				else {
					title = reassignTitle;
					text = reassignText;
					yesBtn = reassignYesBtn;
					noBtn = reassignNoBtn;
					reassign = true;
				}
			}

			swal({
				html : true,
				title : title,
				text : text,
				showCancelButton : true,
				confirmButtonColor : "#4765a0",
				confirmButtonText : yesBtn,
				cancelButtonText : noBtn,
				closeOnConfirm : true,
				closeOnCancel : true
			},
			function(isConfirm) {
				if (isConfirm || reassign) {
					$.ajax({
						url: flipAssignUrl + id,
						headers: {
							'X-CSRF-TOKEN': token,
							'confirm': isConfirm
						},
						type: 'post',
						contentType: 'application/json',
						data: '',
						success: function(data, textStatus, jQxhr) {
							loadDataTables(status);
						},
						error: function(jqXhr, textStatus, errorThrown) {
							$.notify({
								message: changeStatusErrorMsg
							}, {
								status: 'danger',
								autoHideDelay: 4000
							});
						}
					});
				}
			});
		}
				
		var currentTable;
		function loadDataTables(showInactive) {
			currentTable = $('.listTable').DataTable({
				'destroy': true,
				'stateSave': true,
				'ajax': {
					'contentType': 'application/json',
					'url': ajaxUrl,
					'type': 'POST',
					headers: {
						'X-CSRF-TOKEN': token,
						'show-inactive': showInactive
					},
					'data': function(d) {
					 	return JSON.stringify(d);
					}
				},
				'serverSide' : true,
				'columns' : [
					{
						data : 'active',
						orderable: false,
						searchable: true,
						visible: false
					},
					{
						data : 'created'
					},
					{
						data : 'notificationType',
						render: function (data, type, row, meta){
							return typesMap[data];
						}
					},
					{
						data : 'affectedEntityName',
						orderable: true,
						searchable: true,
						render: function (data, type, row, meta) {
							return row.affectedEntityName + ' <a href=' + url + row.affectedEntityType.toLowerCase() + '/view/' + row.affectedEntityUuid + '><em class="fa fa-fw fa-external-link"></em></a>';
						}
					},
					{
						data : 'adminName',
						render: function (data, type, row, meta) {
							return '<a onclick="flipAssign(' + row.id + ',' + !row.active + ',\'' + ((row.adminUuid) ? row.adminUuid : '') + '\');"><em class="fa fa-fw fa-user"></em></a>' +
									((row.adminName) ? row.adminName + '<br/><em style="font-size: smaller;">' + row.lastUpdated + '</em>' : '');
						}
					},
					{
						data : 'id',
						orderable: false,
						searchable: false,
						render: function (data, type, row, meta) {
							return '<a href=' + url + 'report/notifications/' + row.id + '><em class="fa fa-fw fa-search"></em></a>' +
								   '<a href="#" onClick="changeStatus'+ '(' + row.id + ',' + !row.active + ')' +'"><em class="fa fa-fw fa-' + (row.active ? 'times' : 'repeat') + '"></em></a>';
						}
					}
				],
				'paging':   true,
				'ordering': true,
				'info':	 true,
				'pageLength': 25,
				'language': {
					"search":	   searchTxt,
					"lengthMenu":   dropdownTxt,
					"info":		 infoDefaultTxt,
					"zeroRecords":  infoEmptyTxt,
					"infoEmpty":	"",
					"infoFiltered": infoFilteredTxt,
					"paginate": {
						"next": nextTxt,
						"previous": prevTxt
					}
				},
				initComplete: function () {
					this.api().columns([2]).every(function() {
						var column = this;
						var select = $('<select class="ui-state-default"><option value="">Vis alle</option></select>')
							.appendTo($(column.footer()).empty())
							.on('change', function() {
								column.search($(this).val(), false, true).draw();
							}
						);

						for (var key in typesMap) {
							select.append('<option value="' + key + '">' + typesMap[key] + '</option>');
						}
					});
				}
			});
		}
		
		function changeStatus(id, status){
			swal({
				html : true,
				title : status ? activateTitle : discardTitle,
				text : status ? activateText : discardText,
				type : "warning",
				showCancelButton : true,
				confirmButtonColor : "#DD6B55",
				confirmButtonText : changeStatusButtonConfirm,
				cancelButtonText : changeStatusButtonCancel,
				closeOnConfirm : true,
				closeOnCancel : true
			},
			function(isConfirm) {
				if (isConfirm) {
					$.ajax({
						url: changeStatusUrl,
						headers: {
							'X-CSRF-TOKEN': token,
							'id' : id,
							'status': status
						},
						type: 'post',
						contentType: 'application/json',
						data: '',
						success: function(data, textStatus, jQxhr) {
							loadDataTables(status);
						},
						error: function(jqXhr, textStatus, errorThrown) {
							$.notify({
								message: changeStatusErrorMsg
							}, {
								status: 'danger',
								autoHideDelay: 4000
							});
						}
					});
				}
			});
		}

		$(document).ready(function() {
			loadDataTables(false);

			$('input[type=radio][name=showInactive]').change(function() {
				if (this.value == 'true') {
					loadDataTables(true);
				}
				else {
					loadDataTables(false);
				}
			});
		});
		/*]]>*/
	</script>
</body>
</html>