<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'index')" />

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 th:text="#{html.global.title}" />
						<p th:utext="#{html.index.content}" />

						<th:block th:if="${clients != null}">
							<h3 style="margin-top: 30px;" th:text="#{html.index.client.header}" />
							<div class="row">
								<div th:each="client : ${clients}" class="col-lg-4 col-sm-6">
									<div class="panel widget" th:classappend="${client.color}">
										<div class="row row-table">
											<div class="col-xs-4 text-center pv-lg" th:classappend="${client.colorDark}">
												<em class="fa fa-laptop fa-3x"></em>
											</div>
											<div class="col-xs-8 pv-lg">
												<th:block th:if="${client.lastActive}">
													<div class="h2 mt0" th:text="${#dates.format(client.lastActive, 'yyyy-MM-dd')}" />
												</th:block>
												<th:block th:unless="${client.lastActive}">
													<div class="h2 mt0" th:text="#{html.constant.never}" />
												</th:block>
												<div class="text-uppercase" th:text="${client.name}"/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
	        </div>
	    </section>
	</div>
	
	<nav th:replace="fragments/footer :: footer" />
</body>
</html>
