<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'login')" />

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-body">
						<form th:action="@{/login}" th:object="${loginForm}" method="post" class="form-horizontal">
							<div class="form-group">
								<label th:text="#{html.login.username}" class="col-sm-2 control-label"/>
								<div class="col-sm-8">
									<input th:field="${loginForm.username}" class="form-control" autofocus="autofocus"/>
 									<ul th:if="${#fields.hasErrors('username')}" class="error">
 										<li th:each="err : ${#fields.errors('username')}" th:text="${err}"/>
 									</ul>
								</div>
							</div>
							<div class="form-group">
								<label th:text="#{html.login.password}" class="col-sm-2 control-label"/>
								<div class="col-sm-8">
									<input th:field="${loginForm.password}" class="form-control" type="password"/>
 									<ul th:if="${#fields.hasErrors('password')}" class="error">
										<li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
 									</ul>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-2">
									<button th:text="#{html.login.submit}" type="submit" class="btn btn-block btn-primary" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<nav th:replace="fragments/footer :: footer" />
</body>
</html>
