<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
<div class="wrapper">
    <header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')" />
    <aside th:replace="fragments/navbar :: navbar-aside (page = 'futureChanges', subpage='phonebook')" />

    <section>
        <div class="content-wrapper">
            <h3 th:text="#{html.page.orgunitchange.title}" />
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>

                <div class="panel-body">
                    <th:block th:replace="fragments/ouFutureChangesList :: ouFutureChangesList" />
                </div>
            </div>
        </div>
    </section>
</div>
<th:block th:replace="fragments/ouFutureChangesList :: ouFutureChangesModal" />

<nav th:replace="fragments/footer :: footer" />
<script th:replace="fragments/datatables :: datatables" />

<th:block th:replace="fragments/ouFutureChangesList :: ouFutureChangesScript" />
</body>
</html>