<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'accountcreation')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'list', subpage = 'accountcreation')" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<h3 th:text="#{html.page.accountcreation.error.title}" />

						<th:block th:switch="${cause}">
							<th:block th:case="'affiliation'">
								<p th:text="#{html.page.accountcreation.error.affiliation}" />
							</th:block>
							<th:block th:case="'exchange'">
								<p th:text="#{html.page.accountcreation.error.exchange}" />
							</th:block>
						</th:block>
						
						<a class="button btn btn-lg btn-primary" th:text="#{html.button.ok}" th:href="@{/ui/person/view/} + ${uuid}"></a>
					</div>
				</div>
	        </div>
	    </section>
	</div>
	
	<nav th:replace="fragments/footer :: footer" />
</body>
</html>
