<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'accountcreation')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'list', subpage = 'accountcreation')" />
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.entity.person.order.it.user}" />

				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group" style="margin-bottom: 50px;">
									<span class="col-sm-12" th:utext="#{html.page.person.new.user.intro(${@supportedUserTypeService.getPrettyName(order.userType)}, ${order.personName})}" />
								</div>

								<form class="form-horizontal" id="user-form" th:action="@{/ui/account/order}" method="post" th:object="${order}">
									<input type="hidden" th:field="*{personUuid}" />
									<input type="hidden" th:field="*{userType}" />

									<div class="form-group" th:if="${not #lists.isEmpty(affiliations)}">
										<label class="col-sm-3 control-label" th:text="#{html.entity.person.order.it.user.positionName}"/>
										<div class="col-sm-8">
											<select th:field="*{affiliationUuid}" class="form-control">
												<option th:each="affiliation : ${affiliations}" th:value="${affiliation.uuid}" th:text="${affiliation.positionName} + ' (' +  ${affiliation.orgUnit.name} + ')'" />
											</select>
										</div>
									</div>

									<div class="form-group" th:if="${not #lists.isEmpty(userIds)}">
										<label class="col-sm-3 control-label" th:text="#{html.entity.person.order.it.user.userId}"/>
										<div class="col-sm-8">
											<select th:field="*{userId}" class="form-control">
												<option th:each="userId : ${userIds}" th:value="${userId}" th:text="${userId}" />
											</select>
										</div>
									</div>

									<div class="form-group" th:if="${order.showEndDate} == true">
										<label class="col-sm-3 control-label" th:text="#{html.page.person.new.user.endDate}"/>
										<div class="col-sm-8">
											<select class="form-control m-b col-sm-8" th:field="*{userEndDate}">
												<option th:each="time : ${T(dk.digitalidentity.sofd.dao.model.enums.EndDate).values()}" th:value="${time}" th:text="#{__${time.getMessage()}__}"/>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label" th:text="#{html.page.person.new.user.chosenUserId}"/>
										<div class="col-sm-8">
											<input class="form-control" th:field="*{chosenUserId}"/>
										</div>
									</div>

									<br/>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-10">
											<button type="submit" style="margin-right: 5px;" class="btn btn-lg btn-primary col-xs-2"  th:text="#{html.control.button.order}"/>
											<a th:href="@{/ui/person/view/} + ${order.personUuid}" style="margin-right: 5px;" class="btn btn-lg btn-danger col-xs-2" th:text="#{html.control.button.cancel}"/>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer"/>
	<script th:replace="fragments/datatables :: datatables (paging=false)" />

	<script th:inline="javascript">
	/*<![CDATA[*/
	
		/*[+
		+]*/
		var token = $("meta[name='_csrf']").attr("content");

		$(document).ready(function () {
		});

		function handleOnChangeEventForCollapse(id, flip){
			if ($('#' + id).is(':checked')) {
				$('#real' + id).val(true);
				$('#collapse' + id).collapse(flip ? 'hide' : 'show');
			} else {
				$('#real' + id).val(false);
				$('#collapse' + id).collapse(flip ? 'show' : 'hide');
			}
		}

		/*]]>*/
	</script>
</body>
</html>
