<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'mailtemplates', subpage = 'admin')" />
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.email_template.edit.headline}" />

				<div class="panel panel-default">
					<div class="panel-heading" />

					<div class="panel-body">
						<div class="row" style="margin-bottom: 30px;">
							<div class="col-lg-10 col-lg-offset-1">
								<h3 style="margin-top: 0px;" th:text="#{html.page.email_template.header}"/>
								<p th:text="#{html.page.email_template.intro}"/>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.email_template.template}"/>

										<div class="col-sm-8">
											<select class="form-control m-b col-sm-8" id="templateDropdown">
												<option th:each="template : ${templates}" th:value="${template.id}" th:text="#{__${template.templateTypeText}__}" th:attr="data-template=${template.emailTemplateType}"/>
											</select>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<form th:each="template : ${templates}" class="form-horizontal templateForm" th:id="'template' + ${template.id}" style="display: none;">
									<input type="hidden" name="id" th:value="${template.id}"/>
									<input type="hidden" name="enabled" th:value="${template.enabled}"/>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.email_template.enabled}" />
										<div class="col-sm-8">
											<div class="checkbox c-checkbox">
												<label>
													<input class="checkboxFancy" th:checked="${template.enabled}" type="checkbox" />
													<span class="fa fa-check" />
												</label>
											</div>
										</div>
									</div>

									<div class="form-group" th:id="'delay' + ${template.id}">
										<label class="col-sm-2 control-label" th:utext="#{html.entity.email_template.minutes_delay}"/>
										<div class="col-sm-8">
											<input name="minutesDelay" th:value="${template.minutesDelay}" class="form-control" />
										</div>
									</div>
									
									<div class="form-group" th:id="'recipients' + ${template.id}">
										<label class="col-sm-2 control-label" th:text="#{html.entity.email_template.recipients}"/>
										<div class="col-sm-8">
											<input name="recipients" th:value="${template.recipients}" class="form-control"/>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.email_template.name}"/>
										<div class="col-sm-8">
											<input name="title" th:value="${template.title}" th:maxlength="50" class="form-control" />
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.email_template.message}"/>
										<div class="col-sm-8">
											<textarea name="message" th:text="${template.message}" class="mb-0 preformat" rows="10" style="width:100%;"></textarea>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.entity.email_template.attachment}"/>
										<div class="col-sm-8">
											<button class="btn btn-primary" th:onclick="|addAttachment(${template.id}); return false;|" th:text="#{html.entity.email_template.attachment.button}" style="margin-bottom: 10px;" />

											<ul style="list-style: none; padding-left: 0px;" th:id="'listOfFiles-' + ${template.id}">
												<li th:each="attachment : ${template.attachments}" th:id="'attachment-' + ${attachment.id}">
													<a style="color: black;" th:attr="onclick=|removeAttachment(${template.id},${attachment.id});|">
														<em class="fa fa-fw fa-remove"></em>
													</a>
													<span th:text="${attachment.filename}" />
												</li>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="button" style="margin-right: 5px;" class="btn btn-lg btn-primary col-xs-2 buttonSubmit" th:text="#{html.control.button.save}"/>
											<button type="button" style="margin-right: 5px;" class="btn btn-lg btn-warning col-xs-2 buttonTest" th:text="#{html.page.email_template.test}"/>
										</div>
									</div>
								</form>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-offset-2 col-lg-8">
								<em th:utext="#{html.page.email_template.footer}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<!-- attachment modal -->
	<div class="modal fade" id="modal-attachment" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 th:text="#{html.entity.email_template.modal.header}"/>
				</div>
	
				<div class="modal-body">
					<div th:text="#{html.entity.email_template.modal.body}" />
	
					<div>
						<form method="POST" id="uploadFileForm" enctype="multipart/form-data" name="attachment">
							<input type="hidden" name="templateId" id="uploadFileFormTemplateId"></input>
							<input type="file" name="file" id="fileUpload" style="padding-top: 20px; padding-bottom: 20px;"></input>
							<br/>
							<a onclick="uploadAttachment();" class="btn btn-primary btn-lg" th:text="#{html.entity.email_template.modal.button}"></a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"/>

	<script th:inline="javascript">
	/*<![CDATA[*/

	/*[+
		var restUrl = [[@{/rest/mailtemplates}]];
		var msgSuccess = [[#{html.page.email_template.success}]];
		var msgFail = [[#{html.page.email_template.failure}]];
		var msgFailDelete = [[#{html.page.email_template.failure.removeattachment}]];
		var msgFailAttachment = [[#{html.page.email_template.failure.addattachment}]];
		
		var swalImageOk = [[#{html.button.ok}]];
		var swalImageTitle = [[#{html.page.email_template.swal.image.title}]];
		var swalImageText = [[#{html.page.email_template.swal.image.text}]];
	+]*/
	
		var token = $("meta[name='_csrf']").attr("content");

		$(document).ready(function () {
			$('#templateDropdown').change(function() {
				// hide all
				$('.templateForm').hide();
				
				// show chosen
				$('#template' + $("#templateDropdown").val()).show();
				
				//call check template type function
				checkTemplateType();
			});
						
			$('.buttonSubmit').click(function() {
				var oForm = $('#template' + $("#templateDropdown").val());
				var data = getFormData(oForm);
				
				save(data, false);
			});
			
			$('.buttonTest').click(function() {
				var oForm = $('#template' + $("#templateDropdown").val());
				var data = getFormData(oForm);

				save(data, true);
			});
			
			$('.checkboxFancy').change(function() {
				var oForm = $('#template' + $("#templateDropdown").val());
				var checkboxValue = oForm.find('.checkboxFancy')[0].checked;
				
				oForm.find("input[name=enabled]")[0].value = checkboxValue;
			});
			
			// display currently chosen template
			$('#template' + $("#templateDropdown").val()).show();
			
			$('textarea[name="message"]').summernote({
				"height": 320,
				"toolbar": [
					[ "font", [ "bold", "italic", "underline" ]],
					[ "para", [ "ul", "ol" ]],
					[ "insert", [ "picture", "link" ]]
				],
				maximumImageFileSize: 100*1024, // 100 KB
				callbacks: {
					onImageUploadError: function(msg) {
						swal({
							title: swalImageTitle,
							text: swalImageText,
							confirmButtonColor : "#4765a0",
							confirmButtonText : swalImageOk
						});
					}
				},
				dialogsInBody: true
			});
			
			//call check template type function
			checkTemplateType();
		});
		
		function checkTemplateType() {
			type = $("#templateDropdown").find(':selected').data("template");
			id = $("#templateDropdown").val();
			
			if (type == "ORGUNIT_CHANGES") {
				$('#delay' + id).hide();
				$('#recipients' + id).show();
			}else{
				$('#delay' + id).show();
				$('#recipients' + id).hide();
			}
		}
	
		function addAttachment(id) {
			$("#uploadFileFormTemplateId").val(id);
			$("#modal-attachment").modal("toggle");
		}

		// polyfill for IE11 and endsWith() support
		if (!String.prototype.endsWith) {
		    String.prototype.endsWith = function(search, this_len) {
		        if (this_len === undefined || this_len > this.length) {
		            this_len = this.length;
		        }
		        return this.substring(this_len - search.length, this_len) === search;
		    };
		}

		var filename = '';
		$('#fileUpload').on('change', function() {
			var file = this.files[0];
			
			if (file.size > (1024*1024)) {
				this.value = ""; // clear selected file
				$("#modal-attachment").modal("toggle");

				setTimeout(function() {
					$.notify({
						message: 'Den valgte fil er for stor (max 1 MB)'
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}, 500);
				
				return;
			}
			
			if (!file.name.toLowerCase().endsWith(".pdf")) {
				this.value = ""; // clear selected file
				$("#modal-attachment").modal("toggle");

				setTimeout(function() {
					$.notify({
						message: 'Den valgte fil er ikke en PDF fil'
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}, 500);
				
				return;
			}
			
			filename = file.name;
		});

		function uploadAttachment() {
		    var formData = new FormData($('#uploadFileForm')[0]);

			$.ajax({
				url: restUrl + "/attachment",
				type: 'POST',
				headers: {
					'X-CSRF-TOKEN': token
				},
				data: formData,
				cache: false,
				contentType: false,
				processData: false
			}).done(function(data) {
				if (data != '') {
					var templateId = $("#uploadFileFormTemplateId").val();
					var ulElement = $('#listOfFiles-' + templateId);

					var txtHtml  = '<li id="attachment-' + data + '">\n';
					    txtHtml += '<a style="color: black;" onclick="removeAttachment(' + templateId + ',' + data + ');"><em class="fa fa-fw fa-remove"></em></a>\n'; 
					    txtHtml += '<span>' + filename + '</span>\n';
					    txtHtml += '</li>';
					
					ulElement.append(txtHtml);
				}
				$("#modal-attachment").modal("toggle");
			}).fail(function(jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgFailAttachment
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}
		
		function getFormData(oForm) {
		    var unindexed_array = oForm.serializeArray();
		    var indexed_array = {};

		    $.map(unindexed_array, function(n, i){
		        indexed_array[n['name']] = n['value'];
		    });

		    return indexed_array;
		}
		
		function removeAttachment(templateId, attachmentId) {			
			$.ajax({
				url: restUrl + "/attachment/" + templateId + "/" + attachmentId,
				type: 'DELETE',
				headers: {
					'X-CSRF-TOKEN': token
				},
				cache: false
			}).done(function() {
				$('#attachment-' + attachmentId).remove();
			}).fail(function(jqXHR, textStatus, errorThrown) {
				$.notify({
					message: msgFailDelete
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			});
		}
		
		function save(payload, tryEmail) {
			$.ajax({
				method : "POST",
				url: restUrl + "?tryEmail=" + tryEmail,
				headers: {
					"content-type": "application/json",
					'X-CSRF-TOKEN': token
				},
				data: JSON.stringify(payload)
			}).done(function(data) {
				if (data != '') {
					$.notify({
						message: data
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				}
				else {				
					$.notify({
						message: msgSuccess
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				}
			}).fail(function(jqXHR, textStatus, errorThrown) {
				if (jqXHR.status) {
					$.notify({
						message: jqXHR.responseText
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}
				else {
					$.notify({
						message: msgFail
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}
			});
		}
		
	/*]]>*/
	</script>
</body>
</html>
