<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')" />
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'functionType', subpage='admin')" />

	<section>
		<div class="content-wrapper">
			<h3 th:text="#{html.page.functionType.list.title}" />
			<div class="panel panel-default">
				<div class="panel-heading">
					<a class="btn btn-primary btn-lg" href="#" onclick="newFunctionType()">
						<i class="fa fa-plus"></i>
						<span th:text="#{html.page.functiontype.list.add}" />
					</a>
				</div>

				<div class="panel-body">
					<div class="table-responsive">
						<table id="listTable" class="table table-striped table-hover listTable">
							<thead>
							<tr>
								<th class="col-md-5" th:text="#{html.entity.functiontype.name}"/>
								<th class="col-md-5" th:text="#{html.entity.functiontype.phoneTypes}"/>
								<th class="col-md-2" th:text="#{html.control.operations}"/>
							</tr>
							</thead>

							<tbody>
							<tr th:each="functionType : ${functionTypes}">
								<td th:text="${functionType.name}"/>
								<td>
									<span style=" margin-right: 10px;" th:each="phoneType : ${functionType.phoneTypes}" th:text="#{__${phoneType.message}__}"/>
								</td>

								<td>
									<a onclick="editFunctionType(this);" href="#" 	th:attr="data-id=${functionType.id}, data-name=${functionType.name}"><em class="fa fa-fw fa-pencil" th:title="#{html.mouseover.edit}"></em></a>
									<a onclick="deleteFunctionType(this);" href="#" th:attr="data-id=${functionType.id}, data-name=${functionType.name}"><em class="fa fa-fw fa-remove" th:title="#{html.mouseover.delete}"></em></a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Modal -->
<div id="functionTypeModal" class="modal fade" role="dialog">
	<form class="form-horizontal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text="#{html.page.functiontype.list.modal.title}"/>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<div class="col-sm-10">
							<input th:type="hidden" id="functionTypeId" value="0" class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<label th:text="#{html.entity.functiontype.name}" class="col-sm-2 control-label"/>
						<div class="col-sm-10">
							<input id="functionTypeName" class="form-control" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2"></div>
						<label class="col-sm-10 control-label" th:text="#{html.page.functiontype.list.modal.restrictions}" style="text-align: left;" />
					</div>
					<div class="form-group">
						<div th:each="phoneType : ${T(dk.digitalidentity.sofd.dao.model.enums.PhoneType).values()}">
							<label class="col-sm-2 control-label" th:text="#{__${phoneType.message}__}" />
							<div class="col-sm-10">
								<div class="checkbox c-checkbox">
									<label>
										<input class="phoneTypes" th:id="${phoneType}" type="checkbox"/>
										<span class="fa fa-check" />
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<div class="col-sm-12">
						<button class="btn btn-primary" th:text="#{html.control.button.save}" onclick="submitFunctionType()" />
						<button class="btn btn-danger" type="button" data-dismiss="modal" th:text="#{html.action.abortChanges}" />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- End Modal -->

<nav th:replace="fragments/footer :: footer" />

<script th:replace="fragments/datatables :: datatables " />

<script th:inline="javascript">
	/*<![CDATA[*/
	var token = $("meta[name='_csrf']").attr("content");

	/*[+
		var editUrl = [[@{/rest/functiontype/edit}]];
		var editErrorMsg = [[#{html.page.functiontype.list.modal.edit.error}]];

		var deleteUrl = [[@{/rest/functiontype/delete}]];
		var deleteErrorMsg = [[#{html.page.functiontype.list.modal.delete.error}]];

		var phoneTypes = [[${T(dk.digitalidentity.sofd.dao.model.enums.PhoneType).values()}]];

		var functionTypes = [[${functionTypes}]];
		
		var functionTypeDeleteTitle = [[#{html.page.functiontype.delete.title}]];
		var functionTypeDeleteText = [[#{html.page.functiontype.delete.text}]];
		var functionTypeDeleteButtonConfirm = [[#{html.page.functiontype.delete.confirm}]];
		var functionTypeDeleteButtonCancel = [[#{html.page.functiontype.delete.cancel}]];
	+]*/

	$('#functionTypeModal').on('shown.bs.modal', function () {
    		$('#functionTypeName').focus();
	})

	function editFunctionType(obj) {
		var id = $(obj).attr('data-id');
		var name = $(obj).attr('data-name');

		$('#functionTypeId').val(id);
		$('#functionTypeName').val(name);
		$('.phoneTypes').prop('checked', false);

		var functionType = functionTypes.find(function(functionType) { return functionType.id == id; });
		for(let i = 0; i < functionType.phoneTypes.length; i++) {
			$('#' + functionType.phoneTypes[i].$name).prop('checked', true);
		}

		$('#functionTypeModal').modal("show");
	}

	function newFunctionType() {
		$('#functionTypeId').val(0);
		$('#functionTypeName').val("").focus();
		$('#functionTypeModal').modal("show");
		$('.phoneTypes').prop('checked', false);
	}

	function submitFunctionType() {
		$('#functionTypeModal').modal("hide");

		var id = $('#functionTypeId').val();
		var name = $('#functionTypeName').val();

		var phoneTypes = [];

		$('.phoneTypes:checked').each(function(index, element) {
			phoneTypes.push($(element).attr('id'));
		});

		$.ajax({
			url: editUrl,
			headers: {
				'X-CSRF-TOKEN': token
			},
			type: 'post',
			contentType: 'application/json',
			data: JSON.stringify({
				'id': id,
				'name': name,
				'phoneTypes': phoneTypes
			}),
			success: function( data, textStatus, jQxhr ){
				location.reload(true);
			},
			error: function( jqXhr, textStatus, errorThrown ){
				$.notify({
					message: editErrorMsg
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			}
		});
	}

	function deleteFunctionType(obj) {
		var id = $(obj).attr('data-id');
		var name = $(obj).attr('data-name');
		
		swal({
			html : true,
			title : functionTypeDeleteTitle,
			text : functionTypeDeleteText,
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : functionTypeDeleteButtonConfirm,
			cancelButtonText : functionTypeDeleteButtonCancel,
			closeOnConfirm : true,
			closeOnCancel : true
		},
		function(isConfirm) {
			if (isConfirm) {
				$.ajax({
					url: deleteUrl,
					headers: {
						'X-CSRF-TOKEN': token
					},
					type: 'delete',
					contentType: 'application/json',
					data: JSON.stringify({
						'id': id,
						'name': name
					}),
					success: function( data, textStatus, jQxhr ){
						location.reload(true);
					},
					error: function( jqXhr, textStatus, errorThrown ){
						$.notify({
							message: deleteErrorMsg
						}, {
							status: 'danger',
							autoHideDelay: 4000
						});
					}
				});
			}
		});
	}

	/*]]>*/
</script>
</body>
</html>